---
http_interactions:
- request:
    method: post
    uri: https://devstack.openstack.stack:9001/v2/zones
    body:
      encoding: UTF-8
      string: '{"name":"example.org.","email":"hostmaster@example.org"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 833aba07925148f9bac2bc047e858727
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Location:
      - https://devstack.openstack.stack:9001/v2/zones/85735965-31a1-46f9-a429-7e410b75e8e1
      X-Openstack-Request-Id:
      - req-13c405d5-1ade-4755-ba2f-a2c81d5ff34d
    body:
      encoding: UTF-8
      string: '{"status": "PENDING", "masters": [], "name": "example.org.", "links":
        {"self": "https://devstack.openstack.stack:9001/v2/zones/85735965-31a1-46f9-a429-7e410b75e8e1"},
        "transferred_at": null, "created_at": "2016-09-05T11:26:25.000000", "pool_id":
        "794ccc2c-d751-44fe-b57f-8894c9f5c842", "updated_at": null, "version": 1,
        "id": "85735965-31a1-46f9-a429-7e410b75e8e1", "ttl": 3600, "action": "CREATE",
        "attributes": {}, "serial": 1473074785, "project_id": "c60a441e54cd435896a357026aa4050a",
        "type": "PRIMARY", "email": "hostmaster@example.org", "description": null}'
  recorded_at: Mon, 05 Sep 2016 11:26:25 GMT
- request:
    method: patch
    uri: https://devstack.openstack.stack:9001/v2/zones/85735965-31a1-46f9-a429-7e410b75e8e1
    body:
      encoding: UTF-8
      string: '{"description":"fog testing"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 833aba07925148f9bac2bc047e858727
      X-Auth-All-Projects:
      - 'false'
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-9d7c6734-7e32-4110-b053-7c4aa7027303
    body:
      encoding: UTF-8
      string: '{"status": "PENDING", "masters": [], "name": "example.org.", "links":
        {"self": "https://devstack.openstack.stack:9001/v2/zones/85735965-31a1-46f9-a429-7e410b75e8e1"},
        "transferred_at": null, "created_at": "2016-09-05T11:26:25.000000", "pool_id":
        "794ccc2c-d751-44fe-b57f-8894c9f5c842", "updated_at": "2016-09-05T11:26:25.000000",
        "version": 2, "id": "85735965-31a1-46f9-a429-7e410b75e8e1", "ttl": 3600, "action":
        "UPDATE", "attributes": {}, "serial": 1473074786, "project_id": "c60a441e54cd435896a357026aa4050a",
        "type": "PRIMARY", "email": "hostmaster@example.org", "description": "fog
        testing"}'
  recorded_at: Mon, 05 Sep 2016 11:26:25 GMT
[...]
- request:
    method: get
    uri: https://devstack.openstack.stack:9001/v2/zones?name=example.org.
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 833aba07925148f9bac2bc047e858727
      X-Auth-All-Projects:
      - 'false'
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-a01b0c87-b6ff-4a9d-8c21-1106967141c0
    body:
      encoding: UTF-8
      string: '{"zones": [{"status": "PENDING", "masters": [], "name": "example.org.",
        "links": {"self": "https://devstack.openstack.stack:9001/v2/zones/85735965-31a1-46f9-a429-7e410b75e8e1"},
        "transferred_at": null, "created_at": "2016-09-05T11:26:25.000000", "pool_id":
        "794ccc2c-d751-44fe-b57f-8894c9f5c842", "updated_at": "2016-09-05T11:26:25.000000",
        "version": 2, "id": "85735965-31a1-46f9-a429-7e410b75e8e1", "ttl": 3600, "action":
        "UPDATE", "attributes": {}, "serial": 1473074786, "project_id": "c60a441e54cd435896a357026aa4050a",
        "type": "PRIMARY", "email": "hostmaster@example.org", "description": "fog
        testing"}], "links": {"self": "https://devstack.openstack.stack:9001/v2/zones?name=example.org."},
        "metadata": {"total_count": 1}}'
  recorded_at: Mon, 05 Sep 2016 11:26:25 GMT
[...]
- request:
    method: get
    uri: https://devstack.openstack.stack:9001/v2/zones?name=example.org.
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 833aba07925148f9bac2bc047e858727
      X-Auth-All-Projects:
      - 'false'
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-d2d7cf1a-b5b8-4619-b441-2f827a636392
    body:
      encoding: UTF-8
      string: '{"zones": [{"status": "PENDING", "masters": [], "name": "example.org.",
        "links": {"self": "https://devstack.openstack.stack:9001/v2/zones/85735965-31a1-46f9-a429-7e410b75e8e1"},
        "transferred_at": null, "created_at": "2016-09-05T11:26:25.000000", "pool_id":
        "794ccc2c-d751-44fe-b57f-8894c9f5c842", "updated_at": "2016-09-05T11:26:26.000000",
        "version": 3, "id": "85735965-31a1-46f9-a429-7e410b75e8e1", "ttl": 3600, "action":
        "DELETE", "attributes": {}, "serial": 1473074786, "project_id": "c60a441e54cd435896a357026aa4050a",
        "type": "PRIMARY", "email": "hostmaster@example.org", "description": "fog
        testing"}], "links": {"self": "https://devstack.openstack.stack:9001/v2/zones?name=example.org."},
        "metadata": {"total_count": 1}}'
  recorded_at: Mon, 05 Sep 2016 11:26:26 GMT
recorded_with: VCR 3.0.1
