---
http_interactions:
- request:
    method: get
    uri: https://devstack.openstack.stack:8786/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 9dcbbbaf3810497eb66c5e770ca4a6ec
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"versions": [{"status": "SUPPORTED", "updated": "2015-08-27T11:33:21Z",
        "links": [{"href": "http://docs.openstack.org/", "type": "text/html", "rel":
        "describedby"}, {"href": "https://devstack.openstack.stack:8786/v1/", "rel": "self"}],
        "min_version": "", "version": "", "media-types": [{"base": "application/json",
        "type": "application/vnd.openstack.share+json;version=1"}], "id": "v1.0"},
        {"status": "CURRENT", "updated": "2015-08-27T11:33:21Z", "links": [{"href":
        "http://docs.openstack.org/", "type": "text/html", "rel": "describedby"},
        {"href": "https://devstack.openstack.stack:8786/v2/", "rel": "self"}], "min_version":
        "2.0", "version": "2.15", "media-types": [{"base": "application/json", "type":
        "application/vnd.openstack.share+json;version=1"}], "id": "v2.0"}]}'
  recorded_at: Mon, 05 Sep 2016 14:56:23 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:5000/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["password"],"password":{"user":{"name":"admin","domain":{"name":"Default"},"password":"password"}}},"scope":{"project":{"name":"admin","domain":{"name":"Default"}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-1923f264-7af9-4258-9460-dc23abafa58d
      X-Subject-Token:
      - 833aba07925148f9bac2bc047e858727
    body:
      encoding: UTF-8
      string: '{"token": {"methods": ["password"], "roles": [{"id": "d1c1cd5484214574bb4fbc6595def9a6",
        "name": "admin"}],
        "expires_at": "2016-09-30T12:15:25.775629Z", "project": {"domain": {"id":
        "ca1b267e149d4e44bf53d28d1c8d6bc9", "name": "Default"}, "id": "c60a441e54cd435896a357026aa4050a",
        "name": "admin"}, "catalog": [{"endpoints": [{"url": "https://devstack.openstack.stack:8786/v2/c60a441e54cd435896a357026aa4050a",
        "interface": "public", "region": "RegionOne", "region_id": "RegionOne", "id":
        "2f0623e5f9204d83931fd57a1fdb1123"}, {"url": "https://devstack.openstack.stack:8786/v2/c60a441e54cd435896a357026aa4050a",
        "interface": "internal", "region": "RegionOne", "region_id": "RegionOne", "id":
        "988f5ca2e8de446db6a36f54045efeac"}, {"url": "https://devstack.openstack.stack:8786/v2/c60a441e54cd435896a357026aa4050a",
        "interface": "admin", "region": "RegionOne", "region_id": "RegionOne", "id": "127042e3843d4fb9b62a79633f95ba15"}],
        "[...]
- request:
    method: get
    uri: https://devstack.openstack.stack:9696/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 833aba07925148f9bac2bc047e858727
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"versions": [{"status": "CURRENT", "id": "v2.0", "links": [{"href":
        "https://devstack.openstack.stack:9696/v2.0", "rel": "self"}]}]}'
  recorded_at: Fri, 30 Sep 2016 12:18:20 GMT
recorded_with: VCR 3.0.1
