---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:9292/v1/images/detail
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 3e7674510b954bc29f8da4cd6e1d663a
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-497d2610-6da3-446d-99cf-ddb01afb7855
    body:
      encoding: UTF-8
      string: '{"images": [{"status": "deleted", "deleted_at": null, "name": "test-image",
        "deleted": false, "container_format": "bare", "created_at": "2016-03-31T14:25:51.000000",
        "disk_format": "iso", "updated_at": "2016-04-29T16:47:12.000000", "min_disk":
        10, "protected": false, "id": "afee0fe8-2d05-4af7-a33a-43d01ad260c4", "min_ram":
        2, "checksum": "11ee7e2a449415cec8feb5dc7dbee064", "owner": "a5db6ff5a6274dd589b6a05945d7f34d",
        "is_public": true, "virtual_size": null, "properties": {"kernel_id": "7eff86d0-fd53-4bcf-a444-367ec927c09a",
        "ramdisk_id": "ab93f1b5-b10c-4387-90d5-5c6abbab12cf", "description": "asewertwerty"},
        "size": 11116544}, {"status": "active", "deleted_at": null, "name": "cirros-0.3.4-x86_64-uec",
        "deleted": false, "container_format": "ami", "created_at": "2016-02-05T11:39:36.000000",
        "disk_format": "ami", "updated_at": "2016-02-05T11:39:40.000000", "min_disk":
        0, "protected": false, "id": "ea20c966-d2fb-4287-a2eb-7bece9af4263", "min_ram":
        0, "checksum": "eb9139e4942121f22bbc2afc0400b2a4", "owner": "f17a4813648d4b0bb82124ca1f5f1fd0",
        "is_public": true, "virtual_s[...]
