---
http_interactions:
- request:
    method: post
    uri: http://devstack.openstack.stack/v2.0/alarm-definitions
    body:
      encoding: UTF-8
      string: '{"name":"average cpu usage in perc","match_by":["hostname"],"expression":"(avg(cpu.user_perc{hostname=devstack})
        > 10)","description":"Definition for an important alarm"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABX4qop2jmMkcs11magiBeUyXcm7Uzw77hUEOSDOpj_YXRsDkPk2OOheXhsAjb6UglUSdiRE1HZDAeQ9FUpVlal8CRePhsSdgtXPgEgKFSGrtf-G2fG3JfqByLvUKmm4fUaRtYzeAaGiMb3ZEMvTFza6wnkB2tlOw6SFaWZTR4mVUDmHngLf5wVNGvtgYif9AfvQf-4Z3jFuI_tlR7EJb5_xlabcMtIqN89e4miOezxnRu4Htw
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok_actions": [], "description": "Definition for an important alarm",
        "links": [{"href": "http://devstack.openstack.stack/v2.0/alarm-definitions/84a31656-a0c6-4ec7-a786-f2847eb73e9d",
        "rel": "self"}], "match_by": ["hostname"], "actions_enabled": "true", "id":
        "84a31656-a0c6-4ec7-a786-f2847eb73e9d", "severity": "LOW", "alarm_actions":
        [], "undetermined_actions": [], "name": "average cpu usage in perc", "deterministic":
        false, "expression": "(avg(cpu.user_perc{hostname=devstack}) > 10)"}'
  recorded_at: Wed, 21 Sep 2016 15:41:30 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack/v2.0/alarm-definitions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABX4qop2jmMkcs11magiBeUyXcm7Uzw77hUEOSDOpj_YXRsDkPk2OOheXhsAjb6UglUSdiRE1HZDAeQ9FUpVlal8CRePhsSdgtXPgEgKFSGrtf-G2fG3JfqByLvUKmm4fUaRtYzeAaGiMb3ZEMvTFza6wnkB2tlOw6SFaWZTR4mVUDmHngLf5wVNGvtgYif9AfvQf-4Z3jFuI_tlR7EJb5_xlabcMtIqN89e4miOezxnRu4Htw
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"elements": [{"ok_actions": [], "description": "Make sure that CPUs
        on Swift servers have sufficient spare capacity", "links": [{"href": "http://devstack.openstack.stack/v2.0/alarm-definitions/3cd94f89-c3de-47dd-9b31-01db493ac229",
        "rel": "self"}], "match_by": ["service"], "actions_enabled": false, "id":
        "3cd94f89-c3de-47dd-9b31-01db493ac229", "severity": "HIGH", "alarm_actions":
        [], "undetermined_actions": [], "name": "swift-cpu-overload", "deterministic":
        false, "e[...]
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack/v2.0/notification-methods
    body:
      encoding: UTF-8
      string: '{"name":"important notification","type":"EMAIL","address":"admin@example.com"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABX4qop2jmMkcs11magiBeUyXcm7Uzw77hUEOSDOpj_YXRsDkPk2OOheXhsAjb6UglUSdiRE1HZDAeQ9FUpVlal8CRePhsSdgtXPgEgKFSGrtf-G2fG3JfqByLvUKmm4fUaRtYzeAaGiMb3ZEMvTFza6wnkB2tlOw6SFaWZTR4mVUDmHngLf5wVNGvtgYif9AfvQf-4Z3jFuI_tlR7EJb5_xlabcMtIqN89e4miOezxnRu4Htw
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"name": "important notification", "links": [{"href": "http://devstack.openstack.stack/v2.0/notification-methods/d81fb3e3-8fab-4b34-a34a-2843cd1609c1",
        "rel": "self"}], "period": 0, "address": "admin@example.com", "type": "EMAIL",
        "id": "d81fb3e3-8fab-4b34-a34a-2843cd1609c1"}'
  recorded_at: Wed, 21 Sep 2016 15:41:30 GMT
- request:
    method: put
    uri: http://devstack.openstack.stack/v2.0/alarm-definitions/84a31656-a0c6-4ec7-a786-f2847eb73e9d
    body:
      encoding: UTF-8
      string: '{"name":"CPU percent greater than 15","match_by":["hostname"],"description":"Replaced
        alarm-definition expression","expression":"(avg(cpu.user_perc{hostname=devstack})
        > 15)","severity":"LOW","alarm_actions":["d81fb3e3-8fab-4b34-a34a-2843cd1609c1"],"ok_actions":["d81fb3e3-8fab-4b34-a34a-2843cd1609c1"],"undet[...]
[...]
- request:
    method: delete
    uri: http://devstack.openstack.stack/v2.0/notification-methods/d81fb3e3-8fab-4b34-a34a-2843cd1609c1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABX4qop2jmMkcs11magiBeUyXcm7Uzw77hUEOSDOpj_YXRsDkPk2OOheXhsAjb6UglUSdiRE1HZDAeQ9FUpVlal8CRePhsSdgtXPgEgKFSGrtf-G2fG3JfqByLvUKmm4fUaRtYzeAaGiMb3ZEMvTFza6wnkB2tlOw6SFaWZTR4mVUDmHngLf5wVNGvtgYif9AfvQf-4Z3jFuI_tlR7EJb5_xlabcMtIqN89e4miOezxnRu4Htw
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 21 Sep 2016 15:41:31 GMT
recorded_with: VCR 3.0.3
