---
http_interactions:
- request:
    method: post
    uri: http://devstack.openstack.stack/v2.0/notification-methods
    body:
      encoding: UTF-8
      string: '{"name":"another notification","type":"EMAIL","address":"admin@example.com"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABX4qmmWFwh3c1g-nrq-99vOGmO0vMRjggiGlqjlo8rAOtNkTUQ2J2_OFEO5w46HPUyOsfjOoHejRv1QUDmFDcav6cnKQCYR8sI-wvu8_E5z-OERY_RuEKnJOcK5Kuw2Tqc6N1n3LeSGrGtfholUO3HHAD1iPoP6D0qoznNcS5mbQ-VstEc9eCT3JKjccqKmeNbydi5M4d7gSas7NaFvdGRfbcRDHrTznA5arSjCYZvhRq6u70
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"name": "another notification", "links": [{"href": "http://devstack.openstack.stack/v2.0/notification-methods/8d2fe3f5-d2d9-4fe1-a7da-1f8eed3b3c50",
        "rel": "self"}], "period": 0, "address": "admin@example.com", "type": "EMAIL",
        "id": "8d2fe3f5-d2d9-4fe1-a7da-1f8eed3b3c50"}'
  recorded_at: Wed, 21 Sep 2016 15:39:18 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack/v2.0/alarm-definitions
    body:
      encoding: UTF-8
      string: '{"name":"avg cpu.user_per ge 0","expression":"(avg(cpu.user_perc) >=
        0)","description":"ensure an alarm is thrown in crud test."}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABX4qmmWFwh3c1g-nrq-99vOGmO0vMRjggiGlqjlo8rAOtNkTUQ2J2_OFEO5w46HPUyOsfjOoHejRv1QUDmFDcav6cnKQCYR8sI-wvu8_E5z-OERY_RuEKnJOcK5Kuw2Tqc6N1n3LeSGrGtfholUO3HHAD1iPoP6D0qoznNcS5mbQ-VstEc9eCT3JKjccqKmeNbydi5M4d7gSas7NaFvdGRfbcRDHrTznA5arSjCYZvhRq6u70
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok_actions": [], "description": "ensure an alarm is thrown in crud
        test.", "links": [{"href": "http://devstack.openstack.stack/v2.0/alarm-definitions/6882af86-a05e-44b4-b3c9-d1ed2ac4bfda",
        "rel": "self"}], "match_by": [], "actions_enabled": "true", "id": "6882af86-a05e-44b4-b3c9-d1ed2ac4bfda",
        "severity": "LOW", "alarm_actions": [], "undetermined_actions": [], "name":
        "avg cpu.user_per ge 0", "deterministic": false, "expression": "(avg(cpu.user_perc)
        >= 0)"}'
  recorded_at: Wed, 21 Sep 2016 15:39:18 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack/v2.0/alarms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABX4qmmWFwh3c1g-nrq-99vOGmO0vMRjggiGlqjlo8rAOtNkTUQ2J2_OFEO5w46HPUyOsfjOoHejRv1QUDmFDcav6cnKQCYR8sI-wvu8_E5z-OERY_RuEKnJOcK5Kuw2Tqc6N1n3LeSGrGtfholUO3HHAD1iPoP6D0qoznNcS5mbQ-VstEc9eCT3JKjccqKmeNbydi5M4d7gSas7NaFvdGRfbcRDHrTznA5arSjCYZvhRq6u70
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"elements": [{"metrics": [{"name": "cpu.idle_perc", "dimensions":
        {"systemtype": "swift-storage", "hostname": "devstack.openstack.stack",
        "service": "object-store"}}, {"name": "cpu.idle_perc", "dimensions": {"systemtype":
        "swift-storage", "hostname": "devstack.openstack.stack", "service":
        "object-store"}}, {"name": "cpu.idle_perc", "dimensions": {"systemtype": "swift-proxy",
        "hostname": "devstack.openstack.stack", "service": "object-store"}},
        {"name": "cpu.idle_perc", "dimensions": {"systemtype": "swift-proxy", "hostname":
        "devstack.openstack.stack", "service": "object-store"}}, {"name": "cpu.idle_perc",
        "dimensions": {"systemtype": "swift-proxy", "hostname": "devstack.openstack.stack",
        "service": "object-store"}}, {"name": "cpu.idle_perc", "dimensions": {"systemtype":
        "swift-admin", "hostname": "devstack.openstack.stack", "service": "object-store"}}],
        "lifecycle_state": "OPEN", "state": "ALARM", "link": "http://somesite.com/this-alarm-info",
        "alarm_definition": {"severity": "MEDIUM", "id": "43b7e277-00a7-40d4-b877-cf2a3e2ef55f",
        "links": [{"href": "http://devstack.openstack.stack/v2.0/alarm-definitions/43b7e277-00a7-40d4-b877-cf2a3e2ef55f",
        "rel": "self"}], "name": "hgws"}, "links": [{"href": "http://devstack.openstack.stack/v2.0/alarms/0550bba7-3f38-43e1-9111-ae780e522a3a",
        "rel": "self"}], "updated_timestamp": "2016-09-21T15:33:26Z", "created_timestamp":
        "2016-09-20T15:01:15Z", "state_updated_timestamp": "2016-09-21T13:13:34Z",
        "id": "0550bba7-3f38-43e1-9111-ae780e522a3a"}, {"metrics": [{"name": "swift.cluster.md5.ring.not_matched",
        "dimensions": {"systemtype": "swift-proxy", "hostname": "devstack.openstack.stack",
        "service": "object-store"}}], "lifecycle_state": null, "state": "OK", "link":
        null, "alarm_definition": {"severity": "HIGH", "id": "d5b676e7-dd56-499e-a8a1-d605acebc092",
        "links": [{"href": "http://devstack.openstack.stack/v2.0/alarm-definition[...]
- request:
    method: get
    uri: http://devstack.openstack.stack/v2.0/alarms?state=OK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABX4qmmWFwh3c1g-nrq-99vOGmO0vMRjggiGlqjlo8rAOtNkTUQ2J2_OFEO5w46HPUyOsfjOoHejRv1QUDmFDcav6cnKQCYR8sI-wvu8_E5z-OERY_RuEKnJOcK5Kuw2Tqc6N1n3LeSGrGtfholUO3HHAD1iPoP6D0qoznNcS5mbQ-VstEc9eCT3JKjccqKmeNbydi5M4d7gSas7NaFvdGRfbcRDHrTznA5arSjCYZvhRq6u70
  response:
    status:
 [...]
- request:
    method: get
    uri: http://devstack.openstack.stack/v2.0/alarms?metric_name=cpu.idle_perc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABX4qmmWFwh3c1g-nrq-99vOGmO0vMRjggiGlqjlo8rAOtNkTUQ2J2_OFEO5w46HPUyOsfjOoHejRv1QUDmFDcav6cnKQCYR8sI-wvu8_E5z-OERY_RuEKnJOcK5Kuw2Tqc6N1n3LeSGrGtfholUO3HHAD1iPoP6D0qoznNcS5mbQ-VstEc9eCT3JKjccqKmeNbydi5M4d7gSas7NaFvdGRfbcRDHrTznA5arSjCYZvhRq6u70
  respon[...]
[...]
- request:
    method: put
    uri: http://devstack.openstack.stack/v2.0/alarms/0550bba7-3f38-43e1-9111-ae780e522a3a
    body:
      encoding: UTF-8
      string: '{"state":"ALARM","lifecycle_state":"OPEN","link":"http://pagerduty.com/"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABX4qmmWFwh3c1g-nrq-99vOGmO0vMRjggiGlqjlo8rAOtNkTUQ2J2_OFEO5w46HPUyOsfjOoHejRv1QUDmFDcav6cnKQCYR8sI-wvu8_E5z-OERY_RuEKnJOcK5Kuw2Tqc6N1n3LeSGrGtfholUO3HHAD1iPoP6D0qoznNcS5[...]
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack/v2.0/alarms/state-history?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 58f9614d13f74cc9865024446023941a
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links":[{"rel":"self","href":"http://devstack.openstack.stack/v2.0/alarms/state-history?limit=5"},{"rel":"next","href":"http://devstack.openstack.stack/v2.0/alarms/state-history?offset=2016-05-12T11%3A33%3A32.544Z&limit=5"}],"elements":[{"id":"2016-05-11T10:15:03.772Z","alarm_id":"b024cf22-fc9a-4dd7-931c-e9215fa15340","metrics":[{"id":null,"name":"disk.inode_used_perc","dimensions":{"service":"monitoring","device":"sdb2","systemtype":"monasca-notification","hostname":"monasca-notification-ezw0r","mount_point":"/etc/resolv.conf"}},{"id":null,"name":"disk.inode_used_perc","dimensions":{"service":"monitoring","device":"sda9","systemtype":"monasca-notification","hostname":"monasca-notification-ezw0r","mount_point":"/etc/hosts"}},{"id":null,"name":"disk.inode_used_perc","dimensions":{"service":"monitoring","device":"sda9","systemtype":"monasca-notification","hostname":"monasca-notification-ezw0r","mount_point":"/dev/termination-log"}},{"id":null,"name":"disk.inode_used_perc","dimensions":{"service":"monitoring","device":"sda9","systemtype":"monasca-notification","hostname":"monasca-notification-ezw0r","mount_point":"/openstack-kube"}},{"id":null,"name":"disk.inode_used_perc","dimensions":{"service":"monitoring","device":"sdb2","systemtype":"monasca-notification","hostname":"monasca-notification-ezw0r","mount_point":"/etc/hostname"}},{"id":null,"name":"disk.inode_used_perc","dimensions":{"service":"monitoring","device":"overlay","systemtype":"monasca-notification","hostname":"monasca-notification-ezw0r","mount_point":"/"}}],"old_state":"UNDETERMINED","new_state":"OK","reason":"The
        alarm threshold(s) have not been exceeded for the sub-alarms: max(disk.inode_used_perc{service=monitoring},
        180) > 75.0 with the values: []","reason_data":"{}","timestamp":"2016-05-11T10:15:03.772Z","sub_alarms":[{"sub_alarm_expression":{"function":"MAX","metric_name":"disk.inode_used_perc","dimensions":{"service":"monitoring"},"operator":"GT","threshold":75.0,"period":180,"periods":1},"sub_alarm_state":"OK","current_values":[]}]},{"id":"2016-05-11T19:03:20.305Z","alarm_id":"b024cf22-fc9a-4dd7-931c-e9215fa15340","metrics":[{"id":null,"name":"disk.inode_used_perc","dimensions":{"service":"monitoring","device":"sdb2","systemtype":"monasca-notification","hostname":"monasca-notification-ezw0r","mount_point":"/etc/resolv.conf"}},{"id":null,"name":"disk.inode_used_perc","dimensions":{"service":"monitoring","device":"sda9","systemtype":"monasca-notification","hostname":"monasca-notification-ezw0r","mount_point":"/etc/hosts[...]
- request:
    method: get
    uri: http://devstack.openstack.stack/v2.0/alarms/0550bba7-3f38-43e1-9111-ae780e522a3a/state-history
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 58f9614d13f74cc9865024446023941a
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links":[{"rel":"self","href":"http://devstack.openstack.stack/v2.0/alarms/0550bba7-3f38-43e1-9111-ae780e522a3a/state-history"}],"elements":[{"id":"2016-05-12T20:26:12.968Z","alarm_id":"0550bba7-3f38-43e1-9111-ae780e522a3a","metrics":[{"id":null,"name":"http_status","dimensions":{"component":"monasca-persister","service":"monitoring","systemtype":"monasca-persister","hostname":"monasca-persister-r1ef9","url":"http://localhost:8091/healthcheck"}}],"old_state":"UNDETERMINED","new_state":"ALARM","reason":"Thresholds
        were exceeded for the sub-alarms: sum(http_status{service=monitoring}, 180)
        > 1.0 with the values: [5.0]","reason_data":"{}","timestamp":"2016-05-12T20:26:12.968Z","sub_alarms":[{"sub_alarm_expression":{"function":"SUM","metric_name":"http_status","dimensions":{"service":"monitoring"},"operator":"GT","threshold":1.0,"period":180,"periods":1},"sub_alarm_state":"ALARM","curren[...]
[...]
- request:
    method: delete
    uri: http://devstack.openstack.stack/v2.0/alarm-definitions/6882af86-a05e-44b4-b3c9-d1ed2ac4bfda
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABX4qmmWFwh3c1g-nrq-99vOGmO0vMRjggiGlqjlo8rAOtNkTUQ2J2_OFEO5w46HPUyOsfjOoHejRv1QUDmFDcav6cnKQCYR8sI-wvu8_E5z-OERY_RuEKnJOcK5Kuw2Tqc6N1n3LeSGrGtfholUO3HHAD1iPoP6D0qoznNcS5mbQ-VstEc9eCT3JKjccqKmeNbydi5M4d7gSas7NaFvdGRfbcRDHrTznA5arSjCYZvhRq6u70
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 21 Sep 2016 15:40:22 GMT
- request:
    method: delete
    uri: http://devstack.openstack.stack/v2.0/notification-methods/8d2fe3f5-d2d9-4fe1-a7da-1f8eed3b3c50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABX4qmmWFwh3c1g-nrq-99vOGmO0vMRjggiGlqjlo8rAOtNkTUQ2J2_OFEO5w46HPUyOsfjOoHejRv1QUDmFDcav6cnKQCYR8sI-wvu8_E5z-OERY_RuEKnJOcK5Kuw2Tqc6N1n3LeSGrGtfholUO3HHAD1iPoP6D0qoznNcS5mbQ-VstEc9eCT3JKjccqKmeNbydi5M4d7gSas7NaFvdGRfbcRDHrTznA5arSjCYZvhRq6u70
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 21 Sep 2016 15:40:22 GMT
recorded_with: VCR 3.0.3
