---
http_interactions:
- request:
    method: post
    uri: http://devstack.openstack.stack/v2.0/alarm-definitions
    body:
      encoding: UTF-8
      string: '{"name":"average cpu usage in perc","match_by":["hostname"],"expression":"(avg(cpu.user_perc{hostname=devstack})
        > 10)","description":"Definition for an important alarm"}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 58f9614d13f74cc9865024446023941a
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json
      Location:
      - http://devstack.openstack.stack/v2.0/alarm-definitions/5b7bbc64-331a-446f-bd2b-b1aac79c3aa2
    body:
      encoding: UTF-8
      string: '{"id":"5b7bbc64-331a-446f-bd2b-b1aac79c3aa2","links":[{"rel":"self","href":"http://devstack.openstack.stack/v2.0/alarm-definitions/5b7bbc64-331a-446f-bd2b-b1aac79c3aa2"}],"name":"average
        cpu usage in perc","description":"Definition for an important alarm","expression":"(avg(cpu.user_perc{hostname=devstack})
        > 10)","match_by":["hostname"],"severity":"LOW","actions_enabled":true,"alarm_actions":null,"ok_actions":[],"undetermined_actions":[]}'
  recorded_at: Fri, 20 May 2016 15:16:58 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack/v2.0/alarm-definitions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 58f9614d13f74cc9865024446023941a
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links":[{"rel":"self","href":"http://devstack.openstack.stack/v2.0/alarm-definitions"}],"elements":[{"id":"02c03351-8819-4e5b-b518-d77aaca9ed9e","links":[{"rel":"self","href":"http://devstack.openstack.stack/v2.0/alarm-definitions/02c03351-8819-4e5b-b518-d77aaca9ed9e"}],"name":"swift-cpu-overload","description":"Make
        sure that CPUs on Swift servers have sufficient spare capacity","expression":"avg(cpu.idle_perc{service=object-store},
        300) < 20.0","match_by":["service"],"severity":"HIGH","actions_enabled":false,"alarm_actions":[],"ok_actions":[],"undetermined_actions":[]},{"id"[...]
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack/v2.0/notification-methods
    body:
      encoding: UTF-8
      string: '{"name":"important notification","type":"EMAIL","address":"admin@example.com"}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 58f9614d13f74cc9865024446023941a
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json
      Location:
      - http://devstack.openstack.stack/v2.0/notification-methods/bfda803b-fcee-4df8-8a16-2d56eaa6be8e
    body:
      encoding: UTF-8
      string: '{"id":"bfda803b-fcee-4df8-8a16-2d56eaa6be8e","links":[{"rel":"self","href":"http://devstack.openstack.stack/v2.0/notification-methods/bfda803b-fcee-4df8-8a16-2d56eaa6be8e"}],"name":"important
        notification","type":"EMAIL","address":"admin@example.com"}'
  recorded_at: Fri, 20 May 2016 15:16:58 GMT
- request:
    method: put
    uri: http://devstack.openstack.stack/v2.0/alarm-definitions/5b7bbc64-331a-446f-bd2b-b1aac79c3aa2
    body:
      encoding: UTF-8
      string: '{"name":"CPU percent greater than 15","match_by":["hostname"],"description":"Replaced
        alarm-definition expression","expression":"(avg(cpu.user_perc{hostname=devstack})
        > 15)","severity":"LOW","alarm_actions":["bfda803b-fcee-4df8-8a16-2d56eaa6be8e"],"ok_actions":["bfda803b-fcee-4df8-8a16-2d56eaa6be8e"],"undet[...]
[...]
- request:
    method: delete
    uri: http://devstack.openstack.stack/v2.0/notification-methods/bfda803b-fcee-4df8-8a16-2d56eaa6be8e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 58f9614d13f74cc9865024446023941a
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 20 May 2016 15:16:59 GMT
recorded_with: VCR 3.0.1
