---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack/v2.0/alarms/state-history
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 58f9614d13f74cc9865024446023941a
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links":[{"rel":"self","href":"http://devstack.openstack.stack/v2.0/alarms/state-history"}],"elements":[{"id":"2016-05-11T10:15:03.772Z","alarm_id":"b024cf22-fc9a-4dd7-931c-e9215fa15340","metrics":[{"id":null,"name":"disk.inode_used_perc","dimensions":{"service":"monitoring","device":"sdb2","systemtype":"monasca-notification","hostname":"monasca-notification-ezw0r","mount_point":"/etc/resolv.conf"}},{"id":null,"name":"disk.inode_used_perc","dimensions":{"service":"monitoring","device":"sda9","systemtype":"monasca-notification","hostname":"monasca-notification-ezw0r","mount_point":"/etc/hosts"}},{"id":null,"name":"disk.inode_used_perc","dimensions":{"service":"monitoring","device":"sda9","systemtype":"monasca-notification","hostname":"monasca-notification-ezw0r","mount_point":"/dev/termination-log"}},{"id":null,"name":"disk.inode_used_perc","dimensions":{"service":"monitoring","device":"sda9","systemtype":"monasca-notification","hostname":"monasca-notification-ezw0r","mount_point":"/openstack-kube"}},{"id":null,"name":"disk.inode_used_perc","dimensions":{"service":"monitoring","device":"sdb2","systemtype":"monasca-notification","hostname":"monasca-notification-ezw0r","mount_point":"/etc/hostname"}},{"id":null,"name":"disk.inode_used_perc","dimensions":{"service":"monitoring","device":"overlay","systemtype":"monasca-notification","hostname":"monasca-notification-ezw0r","mount_point":"/"}}],"old_state":"UNDETERMINED","new_state":"OK","reason":"The
        alarm threshold(s) have not been exceeded for the sub-alarms: max(disk.inode_used_perc{service=monitoring},
        180) > 75.0 with the values: []","reason_data":"{}","timestamp":"2016-05-11T10:15:03.772Z","sub_alarms":[{"sub_alarm_expression":{"function":"MAX","metric_name":"disk.inode_used_perc","dimensions":{"service":"monitoring"},"operator":"GT","threshold":75.0,"period":180,"periods":1},"sub_alarm_state":"OK","current_values":[]}]},{"id":"2016-05-11T19:03:20.305Z","alarm_id":"b024cf22-fc9a-4dd7-931c-e9215fa15340","metrics":[{"id":null,"name":"disk.inode_used_perc","dimensions":{"service":"monitoring","device":"sdb2","systemtype":"monasca-notification","hostname":"monasca-notification-ezw0r","mount_point":"/etc/resolv.conf"}},{"id":null,"name":"disk.inode_used_perc","dimensions":{"service":"monitoring","device":"sda9","systemtype":"monasca-notification","hostname":"monasca-notification-ezw0r","mount_point":"/etc/hosts[...]
- request:
    method: get
    uri: http://devstack.openstack.stack/v2.0/alarms?name=cpu.user_perc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 58f9614d13f74cc9865024446023941a
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links":[{"rel":"self","href":"http://devstack.openstack.stack/v2.0/alarms?name=cpu.user_perc"}],"elements":[{"id":"05db9a23-cde6-4160-a759-76596b28013e","links":[{"rel":"self","href":"http://devstack.openstack.stack/v2.0/alarms/05db9a23-cde6-4160-a759-76596b28013e"}],"metrics":[{"id":null,"name":"swift.cluster.md5.ring.not_matched","dimensions":{"service":"object-store","systemtype":"swift-proxy","hostname":"devstack.openstack.stack"}}],"state":"OK","lifecycle_state":null,"link":null,"alarm_definition":{"id":"dc4ea079-f963-4484-9df7-fe700a80689a","name":"swift-mismatched-rings","severity":"HIGH","links":[{"rel":"self","href":"http://devstack.openstack.stack/v2.0/alarm-definitions/dc4ea079-f963-4484-9df7-fe700a80689a"}]},"state_updated_timestamp":"2016-05-17T08:01:07.000Z","updated_timestamp":"2016-05-17T08:01:07.000Z","created_timestamp":"2016-05-17T07:58:50.000Z"},{"id":"2a4e638f-6bf8-4bec-bbdb-878c796a32eb","links":[{"rel":"self","href":"http://devstack.openstack.stack/v2.0/alarms/2a4e638f-6bf8-4bec-bbdb-878c796a32eb"}],"metrics":[{"id":null,"name":"process.pid_count","dimensions":{"component":"influxdb","process_name":"influxd","service":"monitoring","systemtype":"monasca-influxdb","hostname":"monasca-influxdb-u172a"}}],"state":"OK","lifecycle_state":null,"link":null,"alarm_definition":{"id":"1a26608b-2895-4e82-90ef-a1deccc3382c","name":"monasca-influxdb-down","severity":"HIGH","links":[{"rel":"self","href":"http://devstack.openstack.stack/v2.0/alarm-definitions/1a26608b-2895-4e82-90ef-a1deccc3382c"}]},"state_updated_timestamp":"2016-05-19T09:52:47.000Z","updated_timestamp":"2016-05-19T09:52:47.000Z","created[...]
- request:
    method: get
    uri: http://devstack.openstack.stack/v2.0/alarms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 58f9614d13f74cc9865024446023941a
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links":[{"rel":"self","href":"http://devs[...]
- request:
    method: get
    uri: http://devstack.openstack.stack/v2.0/alarms/05db9a23-cde6-4160-a759-76596b28013e/state-history
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 58f9614d13f74cc9865024446023941a
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links":[{"rel":"self","href":"http://devstack.openstack.stack/v2.0/alarms/05db9a23-cde6-4160-a759-76596b28013e/state-history"}],"elements":[{"id":"2016-05-17T08:01:07.866Z","alarm_id":"05db9a23-cde6-4160-a759-76596b28013e","metrics":[{"id":null,"name":"swift.cluster.md5.ring.not_matched","dimensions":{"service":"object-store","systemtype":"swift-proxy","hostname":"devstack.openstack.stack"}}],"old_state":"UNDETERMINED","new_state":"OK","reason":"The
        alarm threshold(s) have not been exceeded for the sub-alarms: min(swift.cluster.md5.ring.not_matched,
        120) > 0.0 with the values: [0.0]","reason_data":"{}","timestamp":"2016-05-17T08:01:07.866Z","sub_alarms":[{"sub_alarm_expression":{"function":"MIN","metric_name":"swift.cluster.md5.ring.not_matched","dimensions":{},"operator":"GT","threshold":0.0,"period":120,"periods":1},"sub_alarm_state":"OK","current_values":[0.0]}]}]}'
  recorded_at: Fri, 20 May 2016 15:17:01 GMT
recorded_with: VCR 3.0.1
