---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack/v2.0/metrics/measurements?merge_metrics=true&name=cpu.user_perc&start_time=2016-04-01T14:43:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 58f9614d13f74cc9865024446023941a
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links":[{"rel":"self","href":"http://devstack.openstack.stack/v2.0/metrics/measurements?merge_metrics=true&name=cpu.user_perc&start_time=2016-04-01T14%3A43%3A00Z"},{"rel":"next","href":"http://devstack.openstack.stack/v2.0/metrics/measurements?offset=2016-05-12T20%3A10%3A12.000Z&merge_metrics=true&name=cpu.user_perc&start_time=2016-04-01T14%3A43%3A00Z"}],"elements":[{"id":"2016-05-12T20:10:12.000Z","name":"cpu.user_perc","dimensions":{},"columns":["timestamp","value","value_meta"],"measurements":[["2016-05-10T11:46:43.000Z",14.8,{}],["2016-05-10T11:47:13.000Z",4.8999999999999995,{}],["2016-05-10T11:47:44.000Z",5.6,{}],["2016-05-10T11:48:14.000Z",4.7,{}],["2016-05-10T11:48:44.000Z",4.8,{}],["2016-05-10T11:49:14.000Z",4.1,{}],["2016-05-10T11:49:44.000Z",4.8,{}],["2016-05-10T11:50:14.000Z",4.0,{}],["2016-05-10T11:50:44.000Z",4.6,{}],["2016-05-10T11:51:14.000Z",3.8,{}],["2016-05-10T11:51:44.000Z",6.4,{}],["2016-05-10T11:52:14.000Z",5.6,{}],["2016-05-10T11:52:44.000Z",5.199999999999999,{}],[[...]
- request:
    method: get
    uri: http://devstack.openstack.stack/v2.0/metrics/measurements?name=non.existing.metric_name&start_time=2016-04-01T14:43:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 58f9614d13f74cc9865024446023941a
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links":[{"rel":"self","href":"http://devstack.openstack.stack/v2.0/metrics/measurements?name=non.existing.metric_name&start_time=2016-04-01T14%3A43%3A00Z"}],"elements":[]}'
  recorded_at: Fri, 20 May 2016 15:16:10 GMT
recorded_with: VCR 3.0.1
