---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack/v2.0/metrics/names
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 58f9614d13f74cc9865024446023941a
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links":[{"rel":"self","href":"http://devstack.openstack.stack/v2.0/metrics/names"}],"elements":[{"id":"0","name":"account-auditor.passes"},{"id":"1","name":"account-auditor.timing.95percentile"},{"id":"2","name":"account-auditor.timing.avg"},{"id":"3","name":"account-auditor.timing.count"},{"id":"4","name":"account-auditor.timing.max"},{"id":"5","name":"account-auditor.timing.median"},{"id":"6","name":"account-replicator.attempts"},{"id":"7","name":"account-replicator.diffs"},{"id":"8","name":"account-replicator.no_changes"},{"id":"9","name":"account-replicator.successes"},{"id":"10","name":"account-replic[...]
