---
http_interactions:
- request:
    method: post
    uri: http://devstack.openstack.stack/v2.0/metrics
    body:
      encoding: UTF-8
      string: '{"name":"sample_metric_0","timestamp":1463757367143,"dimensions":{"key1":"value1"},"value":"42","value_meta":{"meta_key1":"meta_value1"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 6937d71ea659405f98b2184dcd462bdc
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 03 Jun 2016 14:39:26 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack/v2.0/metrics?name=sample_metric_0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 6937d71ea659405f98b2184dcd462bdc
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links":[{"rel":"self","href":"http://devstack.openstack.stack/v2.0/metrics?name=sample_metric_0"}],"elements":[{"id":"0","name":"sample_metric_0","dimensions":{"key1":"value1"}}]}'
  recorded_at: Fri, 03 Jun 2016 14:39:26 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack/v2.0/metrics?name=sample_metric_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 6937d71ea659405f98b2184dcd462bdc
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links":[{"rel":"self","href":"http://devstack.openstack.stack/v2.0/metrics?name=sample_metric_2"}],"elements":[{"id":"0","name":"sample_metric_2","dimensions":{"key1":"value1"}}]}'
  recorded_at: Fri, 03 Jun 2016 14:39:26 GMT
recorded_with: VCR 3.0.3
