---
http_interactions:
- request:
    method: post
    uri: http://devstack.openstack.stack/v2.0/notification-methods
    body:
      encoding: UTF-8
      string: '{"name":"important notification","type":"EMAIL","address":"admin@example.com","period":0}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABX4qoodffg4YThj3lwf-xHWSAfA8Taj2oa84XO5VxZXUlGk4T_yqnk3-72pLNmZvtel9oeLS8IR-uS7AhQ_RqOxadekGy_wD070JOCB5dffqdxVhytoQBkV6TZQWUDjbGaPMoHkOod8VEIwB7CNcAE9hccDRGF4hjBzdd8Hr2tPxim0dJtKNsS-S18GKsDK8_U3Tpmxzf2Uuzi_ZOtSMRHIt9XHmdQuDS4O3cfgZyVS1q-Hh0
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"name": "important notification", "links": [{"href": "http://devstack.openstack.stack/v2.0/notification-methods/6738c694-72ee-4379-8f8d-e861d1624a80",
        "rel": "self"}], "period": 0, "address": "admin@example.com", "type": "EMAIL",
        "id": "6738c694-72ee-4379-8f8d-e861d1624a80"}'
  recorded_at: Wed, 21 Sep 2016 15:41:28 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack/v2.0/notification-methods
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABX4qoodffg4YThj3lwf-xHWSAfA8Taj2oa84XO5VxZXUlGk4T_yqnk3-72pLNmZvtel9oeLS8IR-uS7AhQ_RqOxadekGy_wD070JOCB5dffqdxVhytoQBkV6TZQWUDjbGaPMoHkOod8VEIwB7CNcAE9hccDRGF4hjBzdd8Hr2tPxim0dJtKNsS-S18GKsDK8_U3Tpmxzf2Uuzi_ZOtSMRHIt9XHmdQuDS4O3cfgZyVS1q-Hh0
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"elements": [{"name": "Swift Operation DL", "links": [{"href": "http://devstack.openstack.stack/v2.0/notification-methods/17ba8ca4-6312-4333-ad1f-f656e5d72824",
        "rel": "self"}], "period": 0, "address": "mail@example.org",
        "type": "EMAIL", "id": "17ba8ca4-6312-4333-ad1f-f656e5d72824"}, {"name": "test.monasca.fitness.notification.20160825135325",
        "links": [{"href": "http://devstack.openstack.stack/v2.0/notification-methods/19c20ad3-7a39-48ba-82eb-92f681dbc47f",
        "rel": "self"}][...]
[...]
- request:
    method: put
    uri: http://devstack.openstack.stack/v2.0/notification-methods/6738c694-72ee-4379-8f8d-e861d1624a80
    body:
      encoding: UTF-8
      string: '{"name":"important notification","address":"notification_methods@example.com","type":"EMAIL","period":0}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABX4qoodffg4YThj3lwf-xHWSAfA8Taj2oa84XO5VxZXUlGk4T_yqnk3-72pLNmZvtel9oeLS8IR-uS7AhQ_RqOxadekGy_wD070JOCB5dffqdxVhytoQBkV6TZQWUDjbGaPMoHkOod8VEIwB7CNcAE9hccDRGF4hjBzdd8Hr2tPxim0dJtKNsS-S18GKsDK8_U3Tpmxzf2Uuzi_ZOtSMRHIt9XHmdQuDS4O3cfgZyVS1q-Hh0
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"name": "important notification", "links": [{"href": "http://devstack.openstack.stack/v2.0/notification-methods/6738c694-72ee-4379-8f8d-e861d1624a80/6738c694-72ee-4379-8f8d-e861d1624a80",
        "rel": "self"}], "period": 0, "address": "notification_methods@example.com",
        "type": "EMAIL", "id": "6738c694-72ee-4379-8f8d-e861d1624a80"}'
  recorded_at: Wed, 21 Sep 2016 15:41:29 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack/v2.0/notification-methods/bogus_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABX4qoodffg4YThj3lwf-xHWSAfA8Taj2oa84XO5VxZXUlGk4T_yqnk3-72pLNmZvtel9oeLS8IR-uS7AhQ_RqOxadekGy_wD070JOCB5dffqdxVhytoQBkV6TZQWUDjbGaPMoHkOod8VEIwB7CNcAE9hccDRGF4hjBzdd8Hr2tPxim0dJtKNsS-S18GKsDK8_U3Tpmxzf2Uuzi_ZOtSMRHIt9XHmdQuDS4O3cfgZyVS1q-Hh0
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 21 Sep 2016 15:41:29 GMT
recorded_with: VCR 3.0.3
