---
http_interactions:
- request:
    method: post
    uri: http://devstack.openstack.stack/v2.0/notification-methods
    body:
      encoding: UTF-8
      string: '{"name":"important notification","type":"EMAIL","address":"admin@example.com"}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 58f9614d13f74cc9865024446023941a
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json
      Location:
      - http://devstack.openstack.stack/v2.0/notification-methods/0f64287b-0946-47a2-a0ed-8e91e8179b82
    body:
      encoding: UTF-8
      string: '{"id":"0f64287b-0946-47a2-a0ed-8e91e8179b82","links":[{"rel":"self","href":"http://devstack.openstack.stack/v2.0/notification-methods/0f64287b-0946-47a2-a0ed-8e91e8179b82"}],"name":"important
        notification","type":"EMAIL","address":"admin@example.com"}'
  recorded_at: Fri, 20 May 2016 15:16:57 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack/v2.0/notification-methods
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 58f9614d13f74cc9865024446023941a
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links":[{"rel":"self","href":"http://devstack.openstack.stack/v2.0/notification-methods"}],"elements":[{"id":"0f64287b-0946-47a2-a0ed-8e91e8179b82","links":[{"rel":"self","href":"http://devstack.openstack.stack/v2.0/notification-methods/0f64287b-0946-47a2-a0ed-8e91e8179b82"}],"name":"important
        notification","type":"EMAIL","address":"admin@example.com"},{"id":"26b07a6e-5535-4a1b-8177-3257a158346b","links":[{"rel":"self","href":"http://devstack.openstack.stack/v2.0/notification-methods/26b07a6e-5535-4a1b-8177-3257a158346b"}],"name":"hgwstest2","type":"EMAIL","address":"bla@bka.de"},{"id":"[...]
[...]
- request:
    method: put
    uri: http://devstack.openstack.stack/v2.0/notification-methods/0f64287b-0946-47a2-a0ed-8e91e8179b82
    body:
      encoding: UTF-8
      string: '{"name":"important notification","address":"notification_methods@example.com","type":"EMAIL"}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 58f9614d13f74cc9865024446023941a
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"0f64287b-0946-47a2-a0ed-8e91e8179b82","links":[{"rel":"self","href":"http://devstack.openstack.stack/v2.0/notification-methods/0f64287b-0946-47a2-a0ed-8e91e8179b82"}],"name":"important
        notification","type":"EMAIL","address":"notification_methods@example.com"}'
  recorded_at: Fri, 20 May 2016 15:16:57 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack/v2.0/notification-methods/bogus_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 58f9614d13f74cc9865024446023941a
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |
        default backend - 404
  recorded_at: Fri, 20 May 2016 15:16:58 GMT
recorded_with: VCR 3.0.1
