---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/detail?name=fog-testvolume-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-d8197958-a570-4770-9101-ab6efcd0f3eb
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-d8197958-a570-4770-9101-ab6efcd0f3eb
    body:
      encoding: UTF-8
      string: '{"volumes": []}'
  recorded_at: Tue, 03 May 2016 14:15:56 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes
    body:
      encoding: UTF-8
      string: '{"volume":{"name":"fog-testvolume-1","description":null,"size":1}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 202
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-e08dee44-1c11-4820-a813-d0c6628f311d
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-e08dee44-1c11-4820-a813-d0c6628f311d
    body:
      encoding: UTF-8
      string: '{"volume": {"status": "creating", "migration_status": null, "user_id":
        "205e0e39a2534743b517ed0aa2fbcda7", "attachments": [], "links": [{"href":
        "http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/cbd02b79-0df4-4a30-9bd6-aa3eaa1baf10",
        "rel": "self"}, {"href": "http://devstack.openstack.stack:8776/2ab82e30d7984631874def67813dffd8/volumes/cbd02b79-0df4-4a30-9bd6-aa3eaa1baf10",
        "rel": "bookmark"}], "availability_zone": "nova", "bootable": "false", "encrypted":
        false, "created_at": "2016-05-03T14:15:56.649135", "description": null, "volume_type":
        "lvmdriver-1", "name": "fog-testvolume-1", "replication_status": "disabled",
        "consistencygroup_id": null, "source_volid": null, "snapshot_id": null, "multiattach":
        false, "metadata": {}, "id": "cbd02b79-0df4-4a30-9bd6-aa3eaa1baf10", "size":
        1}}'
  recorded_at: Tue, 03 May 2016 14:15:57 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/cbd02b79-0df4-4a30-9bd6-aa3eaa1baf10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-958caeec-1809-451f-82[...]
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/os-volume-transfer/detail?name=fog-testtransfer-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-d4b6501d-2dd2-4ba9-b44d-d54162d5da77
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-d4b6501d-2dd2-4ba9-b44d-d54162d5da77
    body:
      encoding: UTF-8
      string: '{"transfers": []}'
  recorded_at: Tue, 03 May 2016 14:15:58 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/os-volume-transfer
    body:
      encoding: UTF-8
      string: '{"transfer":{"volume_id":"cbd02b79-0df4-4a30-9bd6-aa3eaa1baf10","name":"fog-testtransfer-1"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 202
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-5a254149-aae0-44bf-b4a2-b86ee4513742
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-5a254149-aae0-44bf-b4a2-b86ee4513742
    body:
      encoding: UTF-8
      string: '{"transfer": {"auth_key": "dc7b38fe1c52d599", "links": [{"href": "http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/os-volume-transfer/a21de056-6aa6-4848-94ee-8756ad2d7502",
        "rel": "self"}, {"href": "http://devstack.openstack.stack:8776/2ab82e30d7984631874def67813dffd8/os-volume-transfer/a21de056-6aa6-4848-94ee-8756ad2d7502",
        "rel": "bookmark"}], "created_at": "2016-05-03T14:15:59.154375", "volume_id":
        "cbd02b79-0df4-4a30-9bd6-aa3eaa1baf10", "id": "a21de056-6aa6-4848-94ee-8756ad2d7502",
        "name": "fog-testtransfer-1"}}'
  recorded_at: Tue, 03 May 2016 14:15:59 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/os-volume-transfer/a21de056-6aa6-4848-94ee-8756ad2d7502
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-346b845f-1c8b-40de-9962-4aa7bce9e003
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-346b845f-1c8b-40de-9962-4aa7bce9e003
    body:
      encoding: UTF-8
      string: '{"transfer": {"created_at": "2016-05-03T14:15:59.000000", "volume_id":
        "cbd02b79-0df4-4a30-9bd6-aa3eaa1baf10", "id": "a21de056-6aa6-4848-94ee-8756ad2d7502",
        "links": [{"href": "http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/os-volume-transfer/a21de056-6aa6-4848-94ee-8756ad2d7502",
        "rel": "self"}, {"href": "http://devstack.openstack.stack:8776/2ab82e30d7984631874def67813dffd8/os-volume-transfer/a21de056-6aa6-4848-94ee-8756ad2d7502",
        "rel": "bookmark"}], "name": "fog-testtransfer-1"}}'
  recorded_at: Tue, 03 May 2016 14:15:59 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:5000/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["password"],"password":{"user":{"password":"password","domain":{"name":"Default"},"name":"demo"}}},"scope":{"project":{"name":"demo","domain":{"name":"Default"}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Subject-Token:
      - c2b13add76a34c8fad98ed7150ea404e
      X-Openstack-Request-Id:
      - req-89095f14-0dbb-48c2-b49c-941e7133fb78
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token": {"methods": ["password"], "roles": [{"id": "d97660751404495ab8c405826d547c16",
        "name": "Member"}, {"id": "eb9f0f3b348042ffa65f9d33e5d72014", "name": "anotherrole"}],
        "expires_at": "2016-05-03T15:15:59.714461Z", "project": {"domain": {"id":
        "default", "name": "Default"}, "id": "a5db6ff5a6274dd589b6a05945d7f34d", "name":
        "demo"}, "catalog": [{"endpoints": [{"region_id": "RegionOne", "url": "http://devstack.openstack.stack:8776/v2/a5db6ff5a6274dd589b6a05945d7f34d",
        "region": "RegionOne", "interface": "public", "id": "0e40a16fd8ad4045ae738b749818818e"},
        {"region_id": "RegionOne", "url": "http://devstack.openstack.stack:8776/v2/a5db6ff5a6274dd589b6a05945d7f34d",
        "region": "RegionOne", "interface": "internal", "id": "1ebe166449b34147ac4df07e492571d9"},
        {"region_id": "RegionOne", "url": "http://devstack.openstack.stack:8776/v2/a5db6ff5a6274dd589b6a05945d7f34d",
        "region": "RegionOne", "interface": "admin", "id": "b2ae2902e8104f05b5fd2def27a4537a"}],
        "type": "volumev2", "id": "1766683b2f9f4ef2acf7f9e4e359fb9a", "name": "cinderv2"},
        {"endpoints": [], "type": "metering", "id": "18dbb2f0ddeb45b99d11ed0568f153ab",
        "name": "ceilometer"}, {"endpoints": [{"region_id": "RegionOne", "url": "http://mo-edbdf14f1.mo.sap.corp:8777/",
        "region": "RegionOne", "interface": "admin", "id": "6f44eb5bf4e646f9a7afebb1f32501f1"},
        {"region_id": "RegionOne", "url": "http://mo-edbdf14f1.mo.sap.corp:8777/",
        "region": "RegionOne", "inte[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/a5db6ff5a6274dd589b6a05945d7f34d/os-volume-transfer/a21de056-6aa6-4848-94ee-8756ad2d7502
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - c2b13add76a34c8fad98ed7150ea404e
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-3a218d7e-cdbf-4202-ab72-d21cab5fcbcf
      X-Openstack-Request-Id:
      - req-3a218d7e-cdbf-4202-ab72-d21cab5fcbcf
    body:
      encoding: UTF-8
      string: '{"itemNotFound": {"message": "Transfer a21de056-6aa6-4848-94ee-8756ad2d7502
        could not be found.", "code": 404}}'
  recorded_at: Tue, 03 May 2016 14:16:00 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/a5db6ff5a6274dd589b6a05945d7f34d/os-volume-transfer/ec8ff7e8-81e2-4e12-b9fb-3e8890612c2d/accept
    body:
      encoding: UTF-8
      string: '{"accept":{"auth_key":"dc7b38fe1c52d599"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - c2b13add76a34c8fad98ed7150ea404e
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-0dbc6273-f16b-4a40-97ae-db22cd00f123
      X-Openstack-Request-Id:
      - req-0dbc6273-f16b-4a40-97ae-db22cd00f123
    body:
      encoding: UTF-8
      string: '{"itemNotFound": {"message": "TransferNotFound: Transfer ec8ff7e8-81e2-4e12-b9fb-3e8890612c2d
        could not be found.", "code": 404}}'
  recorded_at: Tue, 03 May 2016 14:16:00 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/a5db6ff5a6274dd589b6a05945d7f34d/os-volume-transfer/a21de056-6aa6-4848-94ee-8756ad2d7502/accept
    body:
      encoding: UTF-8
      string: '{"accept":{"auth_key":"invalidauthkey"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - c2b13add76a34c8fad98ed7150ea404e
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-9565e8c8-e4c5-420f-b119-c7562e5d4cb6
      X-Openstack-Request-Id:
      - req-9565e8c8-e4c5-420f-b119-c7562e5d4cb6
    body:
      encoding: UTF-8
      string: '{"badRequest": {"message": "Invalid auth key: Attempt to transfer a21de056-6aa6-4848-94ee-8756ad2d7502
        with invalid auth key.", "code": 400}}'
  recorded_at: Tue, 03 May 2016 14:16:00 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/a5db6ff5a6274dd589b6a05945d7f34d/volumes/cbd02b79-0df4-4a30-9bd6-aa3eaa1baf10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - c2b13add76a34c8fad98ed7150ea404e
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-643f0b50-c17d-43b5-8c57-85d0ff6e9e66
      X-Openstack-Request-Id:
      - req-643f0b50-c17d-43b5-8c57-85d0ff6e9e66
    body:
      encoding: UTF-8
      string: '{"itemNotFound": {"message": "Volume cbd02b79-0df4-4a30-9bd6-aa3eaa1baf10
        could not be found.", "code": 404}}'
  recorded_at: Tue, 03 May 2016 14:16:11 GMT
recorded_with: VCR 3.0.1
