---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/detail?name=fog-testvolume-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-0ff504b8-4ef5-4f43-acc2-5710c23d69d1
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-0ff504b8-4ef5-4f43-acc2-5710c23d69d1
    body:
      encoding: UTF-8
      string: '{"volumes": []}'
  recorded_at: Tue, 03 May 2016 14:16:11 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes
    body:
      encoding: UTF-8
      string: '{"volume":{"name":"fog-testvolume-1","description":null,"size":1}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 202
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-ec5b94c4-bb85-466e-abba-5b8831e3edec
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-ec5b94c4-bb85-466e-abba-5b8831e3edec
    body:
      encoding: UTF-8
      string: '{"volume": {"status": "creating", "migration_status": null, "user_id":
        "205e0e39a2534743b517ed0aa2fbcda7", "attachments": [], "links": [{"href":
        "http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/8f3fd916-39c6-4ae1-8e43-683077b2a6af",
        "rel": "self"}, {"href": "http://devstack.openstack.stack:8776/2ab82e30d7984631874def67813dffd8/volumes/8f3fd916-39c6-4ae1-8e43-683077b2a6af",
        "rel": "bookmark"}], "availability_zone": "nova", "bootable": "false", "encrypted":
        false, "created_at": "2016-05-03T14:16:11.707842", "description": null, "volume_type":
        "lvmdriver-1", "name": "fog-testvolume-1", "replication_status": "disabled",
        "consistencygroup_id": null, "source_volid": null, "snapshot_id": null, "multiattach":
        false, "metadata": {}, "id": "8f3fd916-39c6-4ae1-8e43-683077b2a6af", "size":
        1}}'
  recorded_at: Tue, 03 May 2016 14:16:11 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/8f3fd916-39c6-4ae1-8e43-683077b2a6af
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-49a58f15-833e-4509-b7[...]
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/os-volume-transfer/detail?name=fog-testtransfer-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-1de12529-e3f7-4d47-8e5b-d3bf1e2ac5d6
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-1de12529-e3f7-4d47-8e5b-d3bf1e2ac5d6
    body:
      encoding: UTF-8
      string: '{"transfers": []}'
  recorded_at: Tue, 03 May 2016 14:16:13 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/os-volume-transfer
    body:
      encoding: UTF-8
      string: '{"transfer":{"volume_id":"8f3fd916-39c6-4ae1-8e43-683077b2a6af","name":"fog-testtransfer-1"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 202
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-458789a9-f873-4b4d-8247-50a48b3eb892
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-458789a9-f873-4b4d-8247-50a48b3eb892
    body:
      encoding: UTF-8
      string: '{"transfer": {"auth_key": "16646b89e48ba00b", "links": [{"href": "http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/os-volume-transfer/e5ad5e93-1875-46eb-a55d-e45960b222e9",
        "rel": "self"}, {"href": "http://devstack.openstack.stack:8776/2ab82e30d7984631874def67813dffd8/os-volume-transfer/e5ad5e93-1875-46eb-a55d-e45960b222e9",
        "rel": "bookmark"}], "created_at": "2016-05-03T14:16:13.969010", "volume_id":
        "8f3fd916-39c6-4ae1-8e43-683077b2a6af", "id": "e5ad5e93-1875-46eb-a55d-e45960b222e9",
        "name": "fog-testtransfer-1"}}'
  recorded_at: Tue, 03 May 2016 14:16:14 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:5000/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["password"],"password":{"user":{"password":"password","domain":{"name":"Default"},"name":"demo"}}},"scope":{"project":{"name":"demo","domain":{"name":"Default"}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Subject-Token:
      - 5caa8654d3f748f891431bf7eda6e949
      X-Openstack-Request-Id:
      - req-dba14647-8090-4ad1-b292-7eac9cd9016b
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token": {"methods": ["password"], "roles": [{"id": "d97660751404495ab8c405826d547c16",
        "name": "Member"}, {"id": "eb9f0f3b348042ffa65f9d33e5d72014", "name": "anotherrole"}],
        "expires_at": "2016-05-03T15:16:14.376971Z", "project": {"domain": {"id":
        "default", "name": "Default"}, "id": "a5db6ff5a6274dd589b6a05945d7f34d", "name":
        "demo"}, "catalog": [{"endpoints": [{"region_id": "RegionOne", "url": "http://devstack.openstack.stack:8776/v2/a5db6ff5a6274dd589b6a05945d7f34d",
        "region": "RegionOne", "interface": "public", "id": "0e40a16fd8ad4045ae738b749818818e"},
        {"region_id": "RegionOne", "url": "http://devstack.openstack.stack:8776/v2/a5db6ff5a6274dd589b6a05945d7f34d",
        "region": "RegionOne", "interface": "internal", "id": "1ebe166449b34147ac4df07e492571d9"},
        {"region_id": "RegionOne", "url": "http://devstack.openstack.stack:8776/v2/a5db6ff5a6274dd589b6a05945d7f34d",
        "region": "RegionOne", "interface": "admin", "id": "b2ae2902e8104f05b5fd2def27a4537a"}],
        "type": "volumev2", "id": "1766683b2f9f4ef2acf7f9e4e359fb9a", "name": "cinderv2"},
        {"endpoints": [], "type": "metering", "id": "18dbb2f0ddeb45b99d11ed0568f153ab",
        "name": "ceilometer"}, {"endpoints": [{"region_id": "RegionOne", "url": "http://mo-edbdf14f1.mo.sap.corp:8777/",
        "region": "RegionOne", "interface": "admin", "id": "6f44eb5bf4e646f9a7afebb1f32501f1"},
        {"region_id": "RegionOne", "url": "http://mo-edbdf14f1.mo.sap.corp:8777/",
        "region": "RegionOne", "inte[...]
- request:
    method: delete
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/os-volume-transfer/e5ad5e93-1875-46eb-a55d-e45960b222e9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Openstack-Request-Id:
      - req-73e395e5-0040-43e9-86d0-3daf84be213c
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 03 May 2016 14:16:15 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/a5db6ff5a6274dd589b6a05945d7f34d/os-volume-transfer/e5ad5e93-1875-46eb-a55d-e45960b222e9/accept
    body:
      encoding: UTF-8
      string: '{"accept":{"auth_key":"16646b89e48ba00b"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 5caa8654d3f748f891431bf7eda6e949
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-7494843e-5285-4150-b4b2-ea63d073eea1
      X-Openstack-Request-Id:
      - req-7494843e-5285-4150-b4b2-ea63d073eea1
    body:
      encoding: UTF-8
      string: '{"itemNotFound": {"message": "TransferNotFound: Transfer e5ad5e93-1875-46eb-a55d-e45960b222e9
        could not be found.", "code": 404}}'
  recorded_at: Tue, 03 May 2016 14:16:15 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/8f3fd916-39c6-4ae1-8e43-683077b2a6af
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-630c2029-7f97-4097-90b6-4e6c16635cdd
      X-Openstack-Request-Id:
      - req-630c2029-7f97-4097-90b6-4e6c16635cdd
    body:
      encoding: UTF-8
      string: '{"itemNotFound": {"message": "Volume 8f3fd916-39c6-4ae1-8e43-683077b2a6af
        could not be found.", "code": 404}}'
  recorded_at: Tue, 03 May 2016 14:16:24 GMT
recorded_with: VCR 3.0.1
