---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/detail?name=fog-testvolume-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-5025a361-204f-49b5-9e1d-933ba755a3b4
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-5025a361-204f-49b5-9e1d-933ba755a3b4
    body:
      encoding: UTF-8
      string: '{"volumes": []}'
  recorded_at: Tue, 03 May 2016 14:16:57 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes
    body:
      encoding: UTF-8
      string: '{"volume":{"name":"fog-testvolume-1","description":null,"size":1,"metadata":{"some_metadata":"this
        is meta","more_metadata":"even more meta"}}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 202
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-949eafdb-a76f-4d12-9931-a58db80e1637
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-949eafdb-a76f-4d12-9931-a58db80e1637
    body:
      encoding: UTF-8
      string: '{"volume": {"status": "creating", "migration_status": null, "user_id":
        "205e0e39a2534743b517ed0aa2fbcda7", "attachments": [], "links": [{"href":
        "http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/8cb6d197-ac1c-4123-80a6-07ab053f1897",
        "rel": "self"}, {"href": "http://devstack.openstack.stack:8776/2ab82e30d7984631874def67813dffd8/volumes/8cb6d197-ac1c-4123-80a6-07ab053f1897",
        "rel": "bookmark"}], "availability_zone": "nova", "bootable": "false", "encrypted":
        false, "created_at": "2016-05-03T14:16:57.340289", "description": null, "volume_type":
        "lvmdriver-1", "name": "fog-testvolume-1", "replication_status": "disabled",
        "consistencygroup_id": null, "source_volid": null, "snapshot_id": null, "multiattach":
        false, "metadata": {"more_metadata": "even more meta", "some_metadata": "this
        is meta"}, "id": "8cb6d197-ac1c-4123-80a6-07ab053f1897", "size": 1}}'
  recorded_at: Tue, 03 May 2016 14:16:57 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/8cb6d197-ac1c-4123-80a6-07ab053f1897
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-72c45e6e-25e7-4db7-86[...]
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/snapshots/detail?name=fog-testsnapshot-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-abf845e8-9cb9-47a7-8bec-f0873b343c4e
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-abf845e8-9cb9-47a7-8bec-f0873b343c4e
    body:
      encoding: UTF-8
      string: '{"snapshots": []}'
  recorded_at: Tue, 03 May 2016 14:16:59 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/snapshots
    body:
      encoding: UTF-8
      string: '{"snapshot":{"volume_id":"8cb6d197-ac1c-4123-80a6-07ab053f1897","name":"fog-testsnapshot-1","description":"Test
        snapshot","force":false}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 202
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-b7c1aca4-afe2-4044-b7f8-d5cfe96d33a4
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-b7c1aca4-afe2-4044-b7f8-d5cfe96d33a4
    body:
      encoding: UTF-8
      string: '{"snapshot": {"status": "creating", "metadata": {}, "name": "fog-testsnapshot-1",
        "volume_id": "8cb6d197-ac1c-4123-80a6-07ab053f1897", "created_at": "2016-05-03T14:16:59.553375",
        "size": 1, "id": "f9d89acd-7140-4b34-8435-9889bd843b6c", "description": "Test
        snapshot"}}'
  recorded_at: Tue, 03 May 2016 14:16:59 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/snapshots/f9d89acd-7140-4b34-8435-9889bd843b6c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-0cbf1724-20ce-4aa9-a209-7aac45ca920d
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-0cbf1724-20ce-4aa9-a209-7aac45ca920d
    body:
      encoding: UTF-8
      string: '{"snapshot": {"status": "creating", "metadata": {}, "os-extended-snapshot-attributes:progress":
        "0%", "name": "fog-testsnapshot-1", "volume_id": "8cb6d197-ac1c-4123-80a6-07ab053f1897",
        "os-extended-snapshot-attributes:project_id": "2ab82e30d7984631874def67813dffd8",
        "created_at": "2016-05-03T14:16:59.000000", "size": 1, "id": "f9d89acd-7140-4b34-8435-9889bd843b6c",
        "description": "Test snapshot"}}'
  recorded_at: Tue, 03 May 2016 14:16:59 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/snapshots/f9d89acd-7140-4b34-8435-9889bd843b6c/metadata
    body:
      encoding: UTF-8
      string: '{"metadata":{"some_snapshot_metadata":"this is data","new_snapshot_metadata":"this
        is new"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-d5b3104e-f5ca-48ff-b578-16ea82e67a8a
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-d5b3104e-f5ca-48ff-b578-16ea82e67a8a
    body:
      encoding: UTF-8
      string: '{"metadata": {"new_snapshot_metadata": "this is new", "some_snapshot_metadata":
        "this is data"}}'
  recorded_at: Tue, 03 May 2016 14:17:01 GMT
[...]
- request:
    method: delete
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/snapshots/f9d89acd-7140-4b34-8435-9889bd843b6c/metadata/some_snapshot_metadata
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Openstack-Request-Id:
      - req-f1e3621a-b4ad-470c-9a47-4004cf1b2dc3
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 03 May 2016 14:17:01 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/snapshots/f9d89acd-7140-4b34-8435-9889bd843b6c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-fd258535-2822-412d-9abb-310e37d7099e
      X-Openstack-Request-Id:
      - req-fd258535-2822-412d-9abb-310e37d7099e
    body:
      encoding: UTF-8
      string: '{"itemNotFound": {"message": "Snapshot f9d89acd-7140-4b34-8435-9889bd843b6c
        could not be found.", "code": 404}}'
  recorded_at: Tue, 03 May 2016 14:17:10 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/8cb6d197-ac1c-4123-80a6-07ab053f1897
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-801afa7b-10db-41e8-9207-91893fdc1526
      X-Openstack-Request-Id:
      - req-801afa7b-10db-41e8-9207-91893fdc1526
    body:
      encoding: UTF-8
      string: '{"itemNotFound": {"message": "Volume 8cb6d197-ac1c-4123-80a6-07ab053f1897
        could not be found.", "code": 404}}'
  recorded_at: Tue, 03 May 2016 14:17:15 GMT
recorded_with: VCR 3.0.1
