---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/detail?name=fog-testvolume-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-5f4966cb-85eb-41b5-8326-26cfd7086caa
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-5f4966cb-85eb-41b5-8326-26cfd7086caa
    body:
      encoding: UTF-8
      string: '{"volumes": []}'
  recorded_at: Tue, 03 May 2016 14:15:27 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes
    body:
      encoding: UTF-8
      string: '{"volume":{"name":"fog-testvolume-1","description":"This is the volume
        description.","size":1}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 202
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-86222ebe-b369-414a-8e58-19c54e81ce17
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-86222ebe-b369-414a-8e58-19c54e81ce17
    body:
      encoding: UTF-8
      string: '{"volume": {"status": "creating", "migration_status": null, "user_id":
        "205e0e39a2534743b517ed0aa2fbcda7", "attachments": [], "links": [{"href":
        "http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/97b01b22-1239-4295-84bc-8ba77cb203d6",
        "rel": "self"}, {"href": "http://devstack.openstack.stack:8776/2ab82e30d7984631874def67813dffd8/volumes/97b01b22-1239-4295-84bc-8ba77cb203d6",
        "rel": "bookmark"}], "availability_zone": "nova", "bootable": "false", "encrypted":
        false, "created_at": "2016-05-03T14:15:27.919248", "description": "This is
        the volume description.", "volume_type": "lvmdriver-1", "name": "fog-testvolume-1",
        "replication_status": "disabled", "consistencygroup_id": null, "source_volid":
        null, "snapshot_id": null, "multiattach": false, "metadata": {}, "id": "97b01b22-1239-4295-84bc-8ba77cb203d6",
        "size": 1}}'
  recorded_at: Tue, 03 May 2016 14:15:28 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/97b01b22-1239-4295-84bc-8ba77cb203d6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-e8966192-efbe-4565-a3[...]
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/detail?name=fog-updated-testvolume-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-2566fc90-fadd-495d-b2[...]
- request:
    method: put
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/97b01b22-1239-4295-84bc-8ba77cb203d6
    body:
      encoding: UTF-8
      string: '{"volume":{"migration_status":null,"attachments":[],"links":[{"href":"http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/97b01b22-1239-4295-84bc-8ba77cb203d6","rel":"self"},{"href":"http://devstack.openstack.stack:8776/2ab82e30d7984631874def67813dffd8/volumes/97b01b22-1239-4295-84bc-8ba77cb203d6","rel":"bookmark"}],"availability_zone":"nova","os-vol-host-attr:host":"mo-0e4c34476@lvmdriver-1#lvmdriver-1","encrypted":false,"os-volume-replication:extended_status":null,"replication_status":"disabled","snapshot_id":null,"size":1,"user_id":"205e0e39a2534743b517ed0aa2fbcda7","tenant_id":"2ab82e30d7984631874def67813dffd8","os-vol-mig-status-attr:migstat":null,"metadata":{},"status":"available","description":"This
        is the updated volume description.","multiattach":false,"os-volume-replication:driver_data":null,"source_volid":null,"consistencygroup_id":null,"os-vol-mig-status-attr:name_id":null,"name":"fog-updated-testvolume-1","bootable":"false","created_at":"2016-05-03T14:15:27.000000","volume_type":"lvmdriver-1"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
[...]
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/97b01b22-1239-4295-84bc-8ba77cb203d6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-1a936ae3-230b-463e-a661-a9c9f19ec7a7
      X-Openstack-Request-Id:
      - req-1a936ae3-230b-463e-a661-a9c9f19ec7a7
    body:
      encoding: UTF-8
      string: '{"itemNotFound": {"message": "Volume 97b01b22-1239-4295-84bc-8ba77cb203d6
        could not be found.", "code": 404}}'
  recorded_at: Tue, 03 May 2016 14:15:41 GMT
recorded_with: VCR 3.0.1
