---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/detail?name=fog-testvolume-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-4a5d4cd0-6ced-4082-a21e-39c0231190cc
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-4a5d4cd0-6ced-4082-a21e-39c0231190cc
    body:
      encoding: UTF-8
      string: '{"volumes": []}'
  recorded_at: Tue, 03 May 2016 14:15:42 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes
    body:
      encoding: UTF-8
      string: '{"volume":{"name":"fog-testvolume-1","description":null,"size":1}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 202
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-cb33b1b4-6fa1-430f-80cb-bcde713ee20c
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-cb33b1b4-6fa1-430f-80cb-bcde713ee20c
    body:
      encoding: UTF-8
      string: '{"volume": {"status": "creating", "migration_status": null, "user_id":
        "205e0e39a2534743b517ed0aa2fbcda7", "attachments": [], "links": [{"href":
        "http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/6d90a82f-a6ef-4428-b2d4-a48344fc621a",
        "rel": "self"}, {"href": "http://devstack.openstack.stack:8776/2ab82e30d7984631874def67813dffd8/volumes/6d90a82f-a6ef-4428-b2d4-a48344fc621a",
        "rel": "bookmark"}], "availability_zone": "nova", "bootable": "false", "encrypted":
        false, "created_at": "2016-05-03T14:15:42.399837", "description": null, "volume_type":
        "lvmdriver-1", "name": "fog-testvolume-1", "replication_status": "disabled",
        "consistencygroup_id": null, "source_volid": null, "snapshot_id": null, "multiattach":
        false, "metadata": {}, "id": "6d90a82f-a6ef-4428-b2d4-a48344fc621a", "size":
        1}}'
  recorded_at: Tue, 03 May 2016 14:15:42 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/6d90a82f-a6ef-4428-b2d4-a48344fc621a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-4ebf2e02-05d2-4ab3-b6[...]
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/6d90a82f-a6ef-4428-b2d4-a48344fc621a/action
    body:
      encoding: UTF-8
      string: '{"os-extend":{"new_size":2}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Openstack-Request-Id:
      - req-2717dd87-f5a1-49c2-9a12-301a163c72b4
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 03 May 2016 14:15:44 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/6d90a82f-a6ef-4428-b2d4-a48344fc621a/action
    body:
      encoding: UTF-8
      string: '{"os-extend":{"new_size":1}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-06a3270f-d962-464e-a29d-5d9d51d2e5ca
      X-Openstack-Request-Id:
      - req-06a3270f-d962-464e-a29d-5d9d51d2e5ca
    body:
      encoding: UTF-8
      string: '{"badRequest": {"message": "Invalid input received: New size for extend
        must be greater than current size. (current: 2, extended: 1).", "code": 400}}'
  recorded_at: Tue, 03 May 2016 14:15:46 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/6d90a82f-a6ef-4428-b2d4-a48344fc621a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-da537dc7-cdd2-4dfd-aac3-248c360400bb
      X-Openstack-Request-Id:
      - req-da537dc7-cdd2-4dfd-aac3-248c360400bb
    body:
      encoding: UTF-8
      string: '{"itemNotFound": {"message": "Volume 6d90a82f-a6ef-4428-b2d4-a48344fc621a
        could not be found.", "code": 404}}'
  recorded_at: Tue, 03 May 2016 14:15:56 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/6d90a82f-a6ef-4428-b2d4-a48344fc621a/action
    body:
      encoding: UTF-8
      string: '{"os-extend":{"new_size":1}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96082e8bba9d418b8ce232496fa059ab
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-ae16149d-1ad0-436d-8f4b-e011095d646f
      X-Openstack-Request-Id:
      - req-ae16149d-1ad0-436d-8f4b-e011095d646f
    body:
      encoding: UTF-8
      string: '{"itemNotFound": {"message": "Volume 6d90a82f-a6ef-4428-b2d4-a48344fc621a
        could not be found.", "code": 404}}'
  recorded_at: Tue, 03 May 2016 14:15:56 GMT
recorded_with: VCR 3.0.1
