---
http_interactions:
- request:
    method: post
    uri: http://devstack.openstack.stack:5000/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["password"],"password":{"user":{"name":"admin","domain":{"name":"Default"},"password":"password"}}},"scope":{"domain":{"name":"Default"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Subject-Token:
      - 1e843e1adc5342dab74687f6b359185c
      X-Openstack-Request-Id:
      - req-71c4c5cc-38d0-4bfc-aa85-81a04d816ddb
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token": {"domain": {"id": "default", "name": "Default"}, "methods":
        ["password"], "roles": [{"id": "54beb701fd194cfc8600fe358b14e99c", "name":
        "admin"}], "expires_at": "2016-05-03T15:00:45.703477Z", "catalog": [{"endpoints":
        [], "type": "volumev2", "id": "00de3d649e324fcf8a66b362a3687b72", "name":
        "cinderv2"}, {"endpoints": [{"region_id": "RegionOne", "url": "http://devstack.openstack.stack:8773/",
        "region": "RegionOne", "interface": "public", "id": "45841e0fac3e41eeb2561f5a85101279"},
        {"region_id": "RegionOne", "url": "http://devstack.openstack.stack:8773/", "region": "RegionOne",
        "interface": "internal", "id": "bd93760c233c4b5793a6f82b0770d23b"}, {"region_id":
        "RegionOne", "url": "http://devstack.openstack.stack:8773/", "region": "RegionOne", "interface":
        "admin", "id": "f0cc2f6993964a7ba4f1a5e796ef950d"}], "type": "ec2", "id":
        "35279a25c72d48a6ac0cab0e99b35459", "name": "ec2"}, {"e[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:9292/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 300
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Proxy-Connection:
      - Keep-alive
    body:
      encoding: UTF-8
      string: '{"versions": [{"status": "CURRENT", "id": "v2.3", "links": [{"href":
        "http://devstack.openstack.stack:9292/v2/", "rel": "self"}]}, {"status": "SUPPORTED",
        "id": "v2.2", "links": [{"href": "http://devstack.openstack.stack:9292/v2/", "rel": "self"}]},
        {"status": "SUPPORTED", "id": "v2.1", "links": [{"href": "http://devstack.openstack.stack:9292/v2/",
        "rel": "self"}]}, {"status": "SUPPORTED", "id": "v2.0", "links": [{"href":
        "http://devstack.openstack.stack:9292/v2/", "rel": "self"}]}, {"status": "SUPPORTED",
        "id": "v1.1", "links": [{"href": "http://devstack.openstack.stack:9292/v1/", "rel": "self"}]},
        {"status": "SUPPORTED", "id": "v1.0", "links": [{"href": "http://devstack.openstack.stack:9292/v1/",
        "rel": "self"}]}]}'
  recorded_at: Tue, 03 May 2016 14:00:46 GMT
recorded_with: VCR 3.0.1
