---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:9292/v2/images
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-7c2424e7-d85b-45d8-895f-cc691c6b1100
      Proxy-Connection:
      - Keep-alive
    body:
      encoding: UTF-8
      string: '{"images": [], "schema": "/v2/schemas/images", "first": "/v2/images"}'
  recorded_at: Tue, 03 May 2016 14:00:46 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:9292/v2/images
    body:
      encoding: UTF-8
      string: '{"name":"foobar"}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Location:
      - http://devstack.openstack.stack:9292/v2/images/abdd7051-d7fa-464b-8b65-2ad35b2bb980
      X-Openstack-Request-Id:
      - req-090b0bd9-a356-47c6-a079-035ec3d58e85
      Proxy-Connection:
      - Keep-alive
    body:
      encoding: UTF-8
      string: '{"status": "queued", "name": "foobar", "tags": [], "container_format":
        null, "created_at": "2016-05-03T14:00:46Z", "size": null, "disk_format": null,
        "updated_at": "2016-05-03T14:00:46Z", "visibility": "private", "self": "/v2/images/abdd7051-d7fa-464b-8b65-2ad35b2bb980",
        "min_disk": 0, "protected": false, "id": "abdd7051-d7fa-464b-8b65-2ad35b2bb980",
        "file": "/v2/images/abdd7051-d7fa-464b-8b65-2ad35b2bb980/file", "checksum":
        null, "owner": null, "virtual_size": null, "min_ram": 0, "schema": "/v2/schemas/image"}'
  recorded_at: Tue, 03 May 2016 14:00:47 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:9292/v2/images?name=foobar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-265073b4-91b9-454b-867f-f2da817bc088
      Proxy-Connection:
      - Keep-alive
    body:
      encoding: UTF-8
      string: '{"images": [{"status": "queued", "name": "foobar", "tags": [], "container_format":
        null, "created_at": "2016-05-03T14:00:46Z", "size": null, "disk_format": null,
        "updated_at": "2016-05-03T14:00:46Z", "visibility": "private", "self": "/v2/images/abdd7051-d7fa-464b-8b65-2ad35b2bb980",
        "min_disk": 0, "protected": false, "id": "abdd7051-d7fa-464b-8b65-2ad35b2bb980",
        "file": "/v2/images/abdd7051-d7fa-464b-8b65-2ad35b2bb980/file", "checksum":
        null, "owner": null, "virtual_size": null, "min_ram": 0, "schema": "/v2/schemas/image"}],
        "schema": "/v2/schemas/images", "first": "/v2/images?name=foobar"}'
  recorded_at: Tue, 03 May 2016 14:00:47 GMT
- request:
    method: patch
    uri: http://devstack.openstack.stack:9292/v2/images/abdd7051-d7fa-464b-8b65-2ad35b2bb980
    body:
      encoding: UTF-8
      string: '[{"op":"replace","path":"/name","value":"baz"}]'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/openstack-images-v2.1-json-patch
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-4432d066-7cf9-4dde-945a-339a0e795a93
      Proxy-Connection:
      - Keep-alive
    body:
      encoding: UTF-8
      string: '{"status": "queued", "name": "baz", "tags": [], "container_format":
        null, "created_at": "2016-05-03T14:00:46Z", "size": null, "disk_format": null,
        "updated_at": "2016-05-03T14:00:47Z", "visibility": "private", "self": "/v2/images/abdd7051-d7fa-464b-8b65-2ad35b2bb980",
        "min_disk": 0, "protected": false, "id": "abdd7051-d7fa-464b-8b65-2ad35b2bb980",
        "file": "/v2/images/abdd7051-d7fa-464b-8b65-2ad35b2bb980/file", "checksum":
        null, "owner": null, "virtual_size": null, "min_ram": 0, "schema": "/v2/schemas/image"}'
  recorded_at: Tue, 03 May 2016 14:00:47 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:9292/v2/images?name=baz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-37f83b2f-2523-42c7-8c09-453961555515
      Proxy-Connection:
      - Keep-alive
    body:
      encoding: UTF-8
      string: '{"images": [{"status": "queued", "name": "baz", "tags": [], "container_format":
        null, "created_at": "2016-05-03T14:00:46Z", "size": null, "disk_format": null,
        "updated_at": "2016-05-03T14:00:47Z", "visibility": "private", "self": "/v2/images/abdd7051-d7fa-464b-8b65-2ad35b2bb980",
        "min_disk": 0, "protected": false, "id": "abdd7051-d7fa-464b-8b65-2ad35b2bb980",
        "file": "/v2/images/abdd7051-d7fa-464b-8b65-2ad35b2bb980/file", "checksum":
        null, "owner": null, "virtual_size": null, "min_ram": 0, "schema": "/v2/schemas/image"}],
        "schema": "/v2/schemas/images", "first": "/v2/images?name=baz"}'
  recorded_at: Tue, 03 May 2016 14:00:47 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:9292/v2/images
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-5cdfa34d-4439-497b-ad82-494d4b34919c
      Proxy-Connection:
      - Keep-alive
    body:
      encoding: UTF-8
      string: '{"images": [], "schema": "/v2/schemas/images", "first": "/v2/images"}'
  recorded_at: Tue, 03 May 2016 14:00:48 GMT
recorded_with: VCR 3.0.1
