---
http_interactions:
- request:
    method: put
    uri: http://devstack.openstack.stack:9292/v2/images/3d296ddc-7982-4334-9ecb-cd079c908ce8/tags/tag1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 204
      message: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Openstack-Request-Id:
      - req-b5ffdf50-ff06-4dfa-8434-f3bb11e12457
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 25 Aug 2016 17:08:27 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:9292/v2/images/3d296ddc-7982-4334-9ecb-cd079c908ce8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-0c6d55c0-8e23-41d0-a653-0267112bf605
    body:
      encoding: UTF-8
      string: '{"status": "queued", "name": "foobar3", "tags": ["tag1"], "container_format":
        "ovf", "created_at": "2016-08-25T17:08:27Z", "size": null, "disk_format":
        "vmdk", "updated_at": "2016-08-25T17:08:28Z", "visibility": "private", "locations":
        [], "self": "/v2/images/3d296ddc-7982-4334-9ecb-cd079c908ce8", "min_disk":
        0, "protected": false, "id": "3d296ddc-7982-4334-9ecb-cd079c908ce8", "file":
        "/v2/images/3d296ddc-7982-4334-9ecb-cd079c908ce8/file", "checksum": null,
        "owner": "7b7688e5eecd4d6aa5b5b2cb3e93a778", "virtual_size": null, "min_ram":
        0, "schema": "/v2/schemas/image"}'
  recorded_at: Thu, 25 Aug 2016 17:08:27 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:9292/v2/images
    body:
      encoding: UTF-8
      string: '{"name":"foobar3","container_format":"ovf","disk_format":"vmdk"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Location:
      - http://devstack.openstack.stack:9292/v2/images/545b8636-361c-4be9-9801-a53c780ffea8
      X-Openstack-Request-Id:
      - req-a5a9b776-3839-4b59-966a-7a40b9826cc7
    body:
      encoding: UTF-8
      string: '{"status": "queued", "name": "foobar3", "tags": [], "container_format":
        "ovf", "created_at": "2016-08-25T22:37:25Z", "size": null, "disk_format":
        "vmdk", "updated_at": "2016-08-25T22:37:25Z", "visibility": "private", "locations":
        [], "self": "/v2/images/545b8636-361c-4be9-9801-a53c780ffea8", "min_disk":
        0, "protected": false, "id": "545b8636-361c-4be9-9801-a53c780ffea8", "file":
        "/v2/images/545b8636-361c-4be9-9801-a53c780ffea8/file", "checksum": null,
        "owner": "7b7688e5eecd4d6aa5b5b2cb3e93a778", "virtual_size": null, "min_ram":
        0, "schema": "/v2/schemas/image"}'
  recorded_at: Thu, 25 Aug 2016 22:37:24 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:9292/v2/images?name=foobar3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-679f49f9-5bbf-4997-a8eb-28ebbe03c005
    body:
      encoding: UTF-8
      string: '{"images": [], "schema": "/v2/schemas/images", "first": "/v2/images?name=foobar3"}'
  recorded_at: Thu, 25 Aug 2016 22:37:28 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:9292/v2/images?name=foobar3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-01cd7b90-71cf-450c-8eb6-d892e5297721
    body:
      encoding: UTF-8
      string: '{"images": [], "schema": "/v2/schemas/images", "first": "/v2/images?name=foobar3"}'
  recorded_at: Thu, 25 Aug 2016 22:37:29 GMT
recorded_with: VCR 3.0.3
