---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:9292/v2/images/fe05659e-d433-4e09-aa78-19e0b7f5e497
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-3ff0af92-827c-4e9d-bf1b-da27d93e4acb
    body:
      encoding: UTF-8
      string: '{"status": "queued", "name": "foobar", "tags": [], "container_format":
        null, "created_at": "2016-08-25T17:09:00Z", "size": null, "disk_format": null,
        "updated_at": "2016-08-25T17:09:00Z", "visibility": "private", "locations":
        [], "self": "/v2/images/fe05659e-d433-4e09-aa78-19e0b7f5e497", "min_disk":
        0, "protected": false, "id": "fe05659e-d433-4e09-aa78-19e0b7f5e497", "file":
        "/v2/images/fe05659e-d433-4e09-aa78-19e0b7f5e497/file", "checksum": null,
        "owner": "7b7688e5eecd4d6aa5b5b2cb3e93a778", "virtual_size": null, "min_ram":
        0, "schema": "/v2/schemas/image"}'
  recorded_at: Thu, 25 Aug 2016 17:09:02 GMT
- request:
    method: patch
    uri: http://devstack.openstack.stack:9292/v2/images/fe05659e-d433-4e09-aa78-19e0b7f5e497
    body:
      encoding: UTF-8
      string: '[{"op":"replace","path":"/name","value":"baz"}]'
    headers:
      Content-Type:
      - application/openstack-images-v2.1-json-patch
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-902b13a9-f79e-4c62-8202-c7ab0fbacfe6
    body:
      encoding: UTF-8
      string: '{"status": "queued", "name": "baz", "tags": [], "container_format":
        null, "created_at": "2016-08-25T17:09:00Z", "size": null, "disk_format": null,
        "updated_at": "2016-08-25T17:09:03Z", "visibility": "private", "locations":
        [], "self": "/v2/images/fe05659e-d433-4e09-aa78-19e0b7f5e497", "min_disk":
        0, "protected": false, "id": "fe05659e-d433-4e09-aa78-19e0b7f5e497", "file":
        "/v2/images/fe05659e-d433-4e09-aa78-19e0b7f5e497/file", "checksum": null,
        "owner": "7b7688e5eecd4d6aa5b5b2cb3e93a778", "virtual_size": null, "min_ram":
        0, "schema": "/v2/schemas/image"}'
  recorded_at: Thu, 25 Aug 2016 17:09:02 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:9292/v2/images
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-89306bfa-f0f6-4181-9655-e20cb3b91a18
    body:
      encoding: UTF-8
      string: '{"images": [], "schema": "/v2/schemas/images",
        "first": "/v2/images"}'
  recorded_at: Thu, 25 Aug 2016 22:37:32 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:9292/v2/images
    body:
      encoding: UTF-8
      string: '{"name":"foobar"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Location:
      - http://devstack.openstack.stack:9292/v2/images/ae62eab7-322f-4500-9602-d0c19528a0c9
      X-Openstack-Request-Id:
      - req-f4ee7ff0-1fee-4b62-b6aa-2b7c9435b748
    body:
      encoding: UTF-8
      string: '{"status": "queued", "name": "foobar", "tags": [], "container_format":
        null, "created_at": "2016-08-25T22:37:33Z", "size": null, "disk_format": null,
        "updated_at": "2016-08-25T22:37:33Z", "visibility": "private", "locations":
        [], "self": "/v2/images/ae62eab7-322f-4500-9602-d0c19528a0c9", "min_disk":
        0, "protected": false, "id": "ae62eab7-322f-4500-9602-d0c19528a0c9", "file":
        "/v2/images/ae62eab7-322f-4500-9602-d0c19528a0c9/file", "checksum": null,
        "owner": "7b7688e5eecd4d6aa5b5b2cb3e93a778", "virtual_size": null, "min_ram":
        0, "schema": "/v2/schemas/image"}'
  recorded_at: Thu, 25 Aug 2016 22:37:32 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:9292/v2/images?name=foobar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-17af363a-5825-4708-be44-3596f31765ca
    body:
      encoding: UTF-8
      string: '{"images": [{"status": "queued", "name": "foobar", "tags": [], "container_format":
        null, "created_at": "2016-08-25T22:37:33Z", "size": null, "disk_format": null,
        "updated_at": "2016-08-25T22:37:33Z", "visibility": "private", "locations":
        [], "self": "/v2/images/ae62eab7-322f-4500-9602-d0c19528a0c9", "min_disk":
        0, "protected": false, "id": "ae62eab7-322f-4500-9602-d0c19528a0c9", "file":
        "/v2/images/ae62eab7-322f-4500-9602-d0c19528a0c9/file", "checksum": null,
        "owner": "7b7688e5eecd4d6aa5b5b2cb3e93a778", "virtual_size": null, "min_ram":
        0, "schema": "/v2/schemas/image"}], "schema": "/v2/schemas/images", "first":
        "/v2/images?name=foobar"}'
  recorded_at: Thu, 25 Aug 2016 22:37:33 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:9292/v2/images?name=baz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-44a89a76-55f1-43b0-a969-403f4cf0f9f0
    body:
      encoding: UTF-8
      string: '{"images": [{"status": "queued", "name": "baz", "tags": [], "container_format":
        null, "created_at": "2016-08-25T22:37:33Z", "size": null, "disk_format": null,
        "updated_at": "2016-08-25T22:37:34Z", "visibility": "private", "locations":
        [], "self": "/v2/images/ae62eab7-322f-4500-9602-d0c19528a0c9", "min_disk":
        0, "protected": false, "id": "ae62eab7-322f-4500-9602-d0c19528a0c9", "file":
        "/v2/images/ae62eab7-322f-4500-9602-d0c19528a0c9/file", "checksum": null,
        "owner": "7b7688e5eecd4d6aa5b5b2cb3e93a778", "virtual_size": null, "min_ram":
        0, "schema": "/v2/schemas/image"}], "schema": "/v2/schemas/images", "first":
        "/v2/images?name=baz"}'
  recorded_at: Thu, 25 Aug 2016 22:37:34 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:9292/v2/images
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-649df434-d093-4442-bece-589b8a069865
    body:
      encoding: UTF-8
      string: '{"images": [], "schema": "/v2/schemas/images",
        "first": "/v2/images"}'
  recorded_at: Thu, 25 Aug 2016 22:37:35 GMT
recorded_with: VCR 3.0.3
