---
http_interactions:
- request:
    method: post
    uri: http://devstack.openstack.stack:9292/v2/images
    body:
      encoding: UTF-8
      string: '{"name":"reloaded_image","reloadable_property":"original"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Location:
      - http://devstack.openstack.stack:9292/v2/images/bc3cfc5a-0c88-47b6-82c2-c6957c30d886
      X-Openstack-Request-Id:
      - req-10af6382-cc84-41d5-9825-9cc97311572b
    body:
      encoding: UTF-8
      string: '{"status": "queued", "name": "reloaded_image", "tags": [], "container_format":
        null, "created_at": "2016-08-25T17:09:06Z", "size": null, "disk_format": null,
        "locations": [], "visibility": "private", "updated_at": "2016-08-25T17:09:06Z",
        "self": "/v2/images/bc3cfc5a-0c88-47b6-82c2-c6957c30d886", "owner": "7b7688e5eecd4d6aa5b5b2cb3e93a778",
        "protected": false, "min_ram": 0, "file": "/v2/images/bc3cfc5a-0c88-47b6-82c2-c6957c30d886/file",
        "checksum": null, "id": "bc3cfc5a-0c88-47b6-82c2-c6957c30d886", "min_disk":
        0, "virtual_size": null, "reloadable_property": "original", "schema": "/v2/schemas/image"}'
  recorded_at: Thu, 25 Aug 2016 17:09:06 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:9292/v2/images/bc3cfc5a-0c88-47b6-82c2-c6957c30d886
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-b4661869-efdc-4e44-9b23-1b80ea8c57fb
    body:
      encoding: UTF-8
      string: '{"status": "queued", "name": "reloaded_image", "tags": [], "container_format":
        null, "created_at": "2016-08-25T17:09:06Z", "size": null, "disk_format": null,
        "locations": [], "visibility": "private", "updated_at": "2016-08-25T17:09:06Z",
        "self": "/v2/images/bc3cfc5a-0c88-47b6-82c2-c6957c30d886", "owner": "7b7688e5eecd4d6aa5b5b2cb3e93a778",
        "protected": false, "min_ram": 0, "file": "/v2/images/bc3cfc5a-0c88-47b6-82c2-c6957c30d886/file",
        "checksum": null, "id": "bc3cfc5a-0c88-47b6-82c2-c6957c30d886", "min_disk":
        0, "virtual_size": null, "reloadable_property": "original", "schema": "/v2/schemas/image"}'
  recorded_at: Thu, 25 Aug 2016 17:09:06 GMT
[...]
- request:
    method: patch
    uri: http://devstack.openstack.stack:9292/v2/images/bc3cfc5a-0c88-47b6-82c2-c6957c30d886
    body:
      encoding: UTF-8
      string: '[{"op":"replace","path":"/reloadable_property","value":"updated"}]'
    headers:
      Content-Type:
      - application/openstack-images-v2.1-json-patch
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-22b8800a-83c1-4b9c-9a6a-2c5a2c99638d
    body:
      encoding: UTF-8
      string: '{"status": "queued", "name": "reloaded_image", "tags": [], "container_format":
        null, "created_at": "2016-08-25T17:09:06Z", "size": null, "disk_format": null,
        "locations": [], "visibility": "private", "updated_at": "2016-08-25T17:09:07Z",
        "self": "/v2/images/bc3cfc5a-0c88-47b6-82c2-c6957c30d886", "owner": "7b7688e5eecd4d6aa5b5b2cb3e93a778",
        "protected": false, "min_ram": 0, "file": "/v2/images/bc3cfc5a-0c88-47b6-82c2-c6957c30d886/file",
        "checksum": null, "id": "bc3cfc5a-0c88-47b6-82c2-c6957c30d886", "min_disk":
        0, "virtual_size": null, "reloadable_property": "updated", "schema": "/v2/schemas/image"}'
  recorded_at: Thu, 25 Aug 2016 17:09:07 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:9292/v2/images?name=reloaded_image
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-83f0d5ff-890d-443e-a704-ab55155d7a63
    body:
      encoding: UTF-8
      string: '{"images": [{"status": "queued", "name": "reloaded_image", "tags":
        [], "container_format": null, "created_at": "2016-08-25T17:09:06Z", "size":
        null, "disk_format": null, "locations": [], "visibility": "private", "updated_at":
        "2016-08-25T17:09:08Z", "self": "/v2/images/bc3cfc5a-0c88-47b6-82c2-c6957c30d886",
        "owner": "7b7688e5eecd4d6aa5b5b2cb3e93a778", "protected": false, "min_ram":
        0, "file": "/v2/images/bc3cfc5a-0c88-47b6-82c2-c6957c30d886/file", "checksum":
        null, "id": "bc3cfc5a-0c88-47b6-82c2-c6957c30d886", "min_disk": 0, "virtual_size":
        null, "reloadable_property": "updated_again", "schema": "/v2/schemas/image"}],
        "schema": "/v2/schemas/images", "first": "/v2/images?name=reloaded_image"}'
  recorded_at: Thu, 25 Aug 2016 17:09:09 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:9292/v2/images?name=reloaded_image
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-c49184de-9ea3-4c61-8ace-6632ff520fec
    body:
      encoding: UTF-8
      string: '{"images": [], "schema": "/v2/schemas/images", "first": "/v2/images?name=reloaded_image"}'
  recorded_at: Thu, 25 Aug 2016 17:09:10 GMT
recorded_with: VCR 3.0.3
