---
http_interactions:
- request:
    method: post
    uri: http://devstack.openstack.stack:9292/v2/images
    body:
      encoding: UTF-8
      string: '{"name":"foobar_id","id":"11111111-2222-3333-aaaa-bbbbbbcccce1"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Location:
      - http://devstack.openstack.stack:9292/v2/images/11111111-2222-3333-aaaa-bbbbbbcccce1
      X-Openstack-Request-Id:
      - req-14a4b35e-bd45-498d-8105-c9d29de04835
    body:
      encoding: UTF-8
      string: '{"status": "queued", "name": "foobar_id", "tags": [], "container_format":
        null, "created_at": "2016-08-26T00:00:28Z", "size": null, "disk_format": null,
        "updated_at": "2016-08-26T00:00:28Z", "visibility": "private", "locations":
        [], "self": "/v2/images/11111111-2222-3333-aaaa-bbbbbbcccce1", "min_disk":
        0, "protected": false, "id": "11111111-2222-3333-aaaa-bbbbbbcccce1", "file":
        "/v2/images/11111111-2222-3333-aaaa-bbbbbbcccce1/file", "checksum": null,
        "owner": "7b7688e5eecd4d6aa5b5b2cb3e93a778", "virtual_size": null, "min_ram":
        0, "schema": "/v2/schemas/image"}'
  recorded_at: Fri, 26 Aug 2016 00:00:27 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:9292/v2/images?name=foobar_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-6f5947b9-6584-4d89-a595-9328eff1a605
    body:
      encoding: UTF-8
      string: '{"images": [{"status": "queued", "name": "foobar_id", "tags": [], "container_format":
        null, "created_at": "2016-08-26T00:00:28Z", "size": null, "disk_format": null,
        "updated_at": "2016-08-26T00:00:28Z", "visibility": "private", "locations":
        [], "self": "/v2/images/11111111-2222-3333-aaaa-bbbbbbcccce1", "min_disk":
        0, "protected": false, "id": "11111111-2222-3333-aaaa-bbbbbbcccce1", "file":
        "/v2/images/11111111-2222-3333-aaaa-bbbbbbcccce1/file", "checksum": null,
        "owner": "7b7688e5eecd4d6aa5b5b2cb3e93a778", "virtual_size": null, "min_ram":
        0, "schema": "/v2/schemas/image"}], "schema": "/v2/schemas/images", "first":
        "/v2/images?name=foobar_id"}'
  recorded_at: Fri, 26 Aug 2016 00:00:27 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:9292/v2/images/11111111-2222-3333-aaaa-bbbbbbcccce1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-da0052d1-88f9-4a50-94a2-06f4ca1f4592
    body:
      encoding: UTF-8
      string: '{"status": "queued", "name": "foobar_id", "tags": [], "container_format":
        null, "created_at": "2016-08-26T00:00:28Z", "size": null, "disk_format": null,
        "updated_at": "2016-08-26T00:00:28Z", "visibility": "private", "locations":
        [], "self": "/v2/images/11111111-2222-3333-aaaa-bbbbbbcccce1", "min_disk":
        0, "protected": false, "id": "11111111-2222-3333-aaaa-bbbbbbcccce1", "file":
        "/v2/images/11111111-2222-3333-aaaa-bbbbbbcccce1/file", "checksum": null,
        "owner": "7b7688e5eecd4d6aa5b5b2cb3e93a778", "virtual_size": null, "min_ram":
        0, "schema": "/v2/schemas/image"}'
  recorded_at: Fri, 26 Aug 2016 00:00:28 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:9292/v2/images?name=foobar_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-e33914cb-facf-4063-9f7a-2f3af21ee07a
    body:
      encoding: UTF-8
      string: '{"images": [], "schema": "/v2/schemas/images", "first": "/v2/images?name=foobar_id"}'
  recorded_at: Fri, 26 Aug 2016 00:00:29 GMT
recorded_with: VCR 3.0.3
