---
http_interactions:
- request:
    method: post
    uri: http://devstack.openstack.stack:9292/v2/images
    body:
      encoding: UTF-8
      string: '{"name":"foobar4"}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Location:
      - http://devstack.openstack.stack:9292/v2/images/8c8a3875-1bd5-4c0f-9f6a-1f1af15d23d8
      X-Openstack-Request-Id:
      - req-00363f17-37a0-4e21-a912-b56b19eb7342
      Proxy-Connection:
      - Keep-alive
    body:
      encoding: UTF-8
      string: '{"status": "queued", "name": "foobar4", "tags": [], "container_format":
        null, "created_at": "2016-05-03T14:01:02Z", "size": null, "disk_format": null,
        "updated_at": "2016-05-03T14:01:02Z", "visibility": "private", "self": "/v2/images/8c8a3875-1bd5-4c0f-9f6a-1f1af15d23d8",
        "min_disk": 0, "protected": false, "id": "8c8a3875-1bd5-4c0f-9f6a-1f1af15d23d8",
        "file": "/v2/images/8c8a3875-1bd5-4c0f-9f6a-1f1af15d23d8/file", "checksum":
        null, "owner": null, "virtual_size": null, "min_ram": 0, "schema": "/v2/schemas/image"}'
  recorded_at: Tue, 03 May 2016 14:01:02 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:9292/v2/images/8c8a3875-1bd5-4c0f-9f6a-1f1af15d23d8/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-62e0b1aa-3e40-411a-af37-18dcf92dcadc
      Proxy-Connection:
      - Keep-alive
    body:
      encoding: UTF-8
      string: '{"members": [], "schema": "/v2/schemas/members"}'
  recorded_at: Tue, 03 May 2016 14:01:03 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:9292/v2/images/8c8a3875-1bd5-4c0f-9f6a-1f1af15d23d8/members
    body:
      encoding: UTF-8
      string: '{"member":"tenant1"}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-e7725087-bc77-4aca-bd6b-ca4af858d258
      Proxy-Connection:
      - Keep-alive
    body:
      encoding: UTF-8
      string: '{"status": "pending", "created_at": "2016-05-03T14:01:03Z", "updated_at":
        "2016-05-03T14:01:03Z", "image_id": "8c8a3875-1bd5-4c0f-9f6a-1f1af15d23d8",
        "member_id": "tenant1", "schema": "/v2/schemas/member"}'
  recorded_at: Tue, 03 May 2016 14:01:03 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:9292/v2/images/8c8a3875-1bd5-4c0f-9f6a-1f1af15d23d8/members/tenant1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-b1312d60-3def-453f-b0ac-2c549759bd32
      Proxy-Connection:
      - Keep-alive
    body:
      encoding: UTF-8
      string: '{"status": "pending", "created_at": "2016-05-03T14:01:03Z", "updated_at":
        "2016-05-03T14:01:03Z", "image_id": "8c8a3875-1bd5-4c0f-9f6a-1f1af15d23d8",
        "member_id": "tenant1", "schema": "/v2/schemas/member"}'
  recorded_at: Tue, 03 May 2016 14:01:03 GMT
[...]
- request:
    method: delete
    uri: http://devstack.openstack.stack:9292/v2/images/8c8a3875-1bd5-4c0f-9f6a-1f1af15d23d8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 204
      message: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Openstack-Request-Id:
      - req-1ec213e3-7871-41e5-bf73-1f70add7bd6b
      Proxy-Connection:
      - Keep-alive
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 03 May 2016 14:01:04 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:9292/v2/images?name=foobar4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-a3738686-e187-4a9a-bd8e-f9d4976cf2d1
      Proxy-Connection:
      - Keep-alive
    body:
      encoding: UTF-8
      string: '{"images": [], "schema": "/v2/schemas/images", "first": "/v2/images?name=foobar4"}'
  recorded_at: Tue, 03 May 2016 14:01:04 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:9292/v2/images?name=foobar4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-5bf9b228-d596-4d1e-8e26-daa274966fc6
      Proxy-Connection:
      - Keep-alive
    body:
      encoding: UTF-8
      string: '{"images": [], "schema": "/v2/schemas/images", "first": "/v2/images?name=foobar4"}'
  recorded_at: Tue, 03 May 2016 14:01:04 GMT
recorded_with: VCR 3.0.1
