---
http_interactions:
- request:
    method: post
    uri: http://devstack.openstack.stack:9292/v2/images
    body:
      encoding: UTF-8
      string: '{"name":"original_name","id":"11111111-2222-3333-aaaa-bbbbbbcccce2","property_to_delete":"bar"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Location:
      - http://devstack.openstack.stack:9292/v2/images/11111111-2222-3333-aaaa-bbbbbbcccce2
      X-Openstack-Request-Id:
      - req-f1e04a12-da92-4e45-bbe1-e69920de9da4
    body:
      encoding: UTF-8
      string: '{"status": "queued", "property_to_delete": "bar", "name": "original_name",
        "tags": [], "container_format": null, "created_at": "2016-08-26T00:36:35Z",
        "size": null, "disk_format": null, "updated_at": "2016-08-26T00:36:35Z", "visibility":
        "private", "locations": [], "self": "/v2/images/11111111-2222-3333-aaaa-bbbbbbcccce2",
        "min_disk": 0, "protected": false, "id": "11111111-2222-3333-aaaa-bbbbbbcccce2",
        "file": "/v2/images/11111111-2222-3333-aaaa-bbbbbbcccce2/file", "checksum":
        null, "owner": "7b7688e5eecd4d6aa5b5b2cb3e93a778", "virtual_size": null, "min_ram":
        0, "schema": "/v2/schemas/image"}'
  recorded_at: Fri, 26 Aug 2016 00:36:35 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:9292/v2/images/11111111-2222-3333-aaaa-bbbbbbcccce2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-1a94bfaf-41b3-4373-b1fe-1c729a3d7937
    body:
      encoding: UTF-8
      string: '{"status": "queued", "property_to_delete": "bar", "name": "original_name",
        "tags": [], "container_format": null, "created_at": "2016-08-26T00:36:35Z",
        "size": null, "disk_format": null, "updated_at": "2016-08-26T00:36:35Z", "visibility":
        "private", "locations": [], "self": "/v2/images/11111111-2222-3333-aaaa-bbbbbbcccce2",
        "min_disk": 0, "protected": false, "id": "11111111-2222-3333-aaaa-bbbbbbcccce2",
        "file": "/v2/images/11111111-2222-3333-aaaa-bbbbbbcccce2/file", "checksum":
        null, "owner": "7b7688e5eecd4d6aa5b5b2cb3e93a778", "virtual_size": null, "min_ram":
        0, "schema": "/v2/schemas/image"}'
  recorded_at: Fri, 26 Aug 2016 00:36:35 GMT
[...]
- request:
    method: patch
    uri: http://devstack.openstack.stack:9292/v2/images/11111111-2222-3333-aaaa-bbbbbbcccce2
    body:
      encoding: UTF-8
      string: '[{"op":"remove","path":"/property_to_delete","value":null},{"op":"add","path":"/property_to_add","value":"bar"},{"op":"replace","path":"/name","value":"updated_name"},{"op":"replace","path":"/property_to_add","value":"bar"}]'
    headers:
      Content-Type:
      - application/openstack-images-v2.1-json-patch
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-604d4b5a-63e3-4e87-bbaa-be3487c80b5d
    body:
      encoding: UTF-8
      string: '{"status": "queued", "name": "updated_name", "property_to_add": "bar",
        "tags": [], "container_format": null, "created_at": "2016-08-26T00:36:35Z",
        "size": null, "disk_format": null, "updated_at": "2016-08-26T00:36:36Z", "visibility":
        "private", "locations": [], "self": "/v2/images/11111111-2222-3333-aaaa-bbbbbbcccce2",
        "min_disk": 0, "protected": false, "id": "11111111-2222-3333-aaaa-bbbbbbcccce2",
        "file": "/v2/images/11111111-2222-3333-aaaa-bbbbbbcccce2/file", "checksum":
        null, "owner": "7b7688e5eecd4d6aa5b5b2cb3e93a778", "virtual_size": null, "min_ram":
        0, "schema": "/v2/schemas/image"}'
  recorded_at: Fri, 26 Aug 2016 00:36:36 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:9292/v2/images/11111111-2222-3333-aaaa-bbbbbbcccce2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      X-Openstack-Request-Id:
      - req-28577b1e-64c3-463c-b9eb-540fb24ce017
    body:
      encoding: UTF-8
      string: "404 Not Found\n\nNo image found with ID 11111111-2222-3333-aaaa-bbbbbbcccce2\n\n
        \  "
  recorded_at: Fri, 26 Aug 2016 00:36:37 GMT
recorded_with: VCR 3.0.3
