---
http_interactions:
- request:
    method: post
    uri: http://devstack.openstack.stack:9292/v2/images
    body:
      encoding: UTF-8
      string: '{"name":"foobar_id","id":"11111111-2222-3333-aaaa-bbbbbbcccce1"}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Location:
      - http://devstack.openstack.stack:9292/v2/images/11111111-2222-3333-aaaa-bbbbbbcccce1
      X-Openstack-Request-Id:
      - req-3f904ec6-93d7-41bd-9996-d81665eaa445
      Proxy-Connection:
      - Keep-alive
    body:
      encoding: UTF-8
      string: '{"status": "queued", "name": "foobar_id", "tags": [], "container_format":
        null, "created_at": "2016-05-03T14:00:51Z", "size": null, "disk_format": null,
        "updated_at": "2016-05-03T14:00:51Z", "visibility": "private", "self": "/v2/images/11111111-2222-3333-aaaa-bbbbbbcccce1",
        "min_disk": 0, "protected": false, "id": "11111111-2222-3333-aaaa-bbbbbbcccce1",
        "file": "/v2/images/11111111-2222-3333-aaaa-bbbbbbcccce1/file", "checksum":
        null, "owner": null, "virtual_size": null, "min_ram": 0, "schema": "/v2/schemas/image"}'
  recorded_at: Tue, 03 May 2016 14:00:51 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:9292/v2/images?name=foobar_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-87d30533-b2b5-40aa-9261-04c8ac61cc20
      Proxy-Connection:
      - Keep-alive
    body:
      encoding: UTF-8
      string: '{"images": [{"status": "queued", "name": "foobar_id", "tags": [], "container_format":
        null, "created_at": "2016-05-03T14:00:51Z", "size": null, "disk_format": null,
        "updated_at": "2016-05-03T14:00:51Z", "visibility": "private", "self": "/v2/images/11111111-2222-3333-aaaa-bbbbbbcccce1",
        "min_disk": 0, "protected": false, "id": "11111111-2222-3333-aaaa-bbbbbbcccce1",
        "file": "/v2/images/11111111-2222-3333-aaaa-bbbbbbcccce1/file", "checksum":
        null, "owner": null, "virtual_size": null, "min_ram": 0, "schema": "/v2/schemas/image"}],
        "schema": "/v2/schemas/images", "first": "/v2/images?name=foobar_id"}'
  recorded_at: Tue, 03 May 2016 14:00:51 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:9292/v2/images/11111111-2222-3333-aaaa-bbbbbbcccce1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-e4b316c4-60e2-4cbb-8105-3699f457abd6
      Proxy-Connection:
      - Keep-alive
    body:
      encoding: UTF-8
      string: '{"status": "queued", "name": "foobar_id", "tags": [], "container_format":
        null, "created_at": "2016-05-03T14:00:51Z", "size": null, "disk_format": null,
        "updated_at": "2016-05-03T14:00:51Z", "visibility": "private", "self": "/v2/images/11111111-2222-3333-aaaa-bbbbbbcccce1",
        "min_disk": 0, "protected": false, "id": "11111111-2222-3333-aaaa-bbbbbbcccce1",
        "file": "/v2/images/11111111-2222-3333-aaaa-bbbbbbcccce1/file", "checksum":
        null, "owner": null, "virtual_size": null, "min_ram": 0, "schema": "/v2/schemas/image"}'
  recorded_at: Tue, 03 May 2016 14:00:51 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:9292/v2/images?name=foobar_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1e843e1adc5342dab74687f6b359185c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-394946c9-fe0e-4038-9849-7859740de7c6
      Proxy-Connection:
      - Keep-alive
    body:
      encoding: UTF-8
      string: '{"images": [], "schema": "/v2/schemas/images", "first": "/v2/images?name=foobar_id"}'
  recorded_at: Tue, 03 May 2016 14:00:52 GMT
recorded_with: VCR 3.0.1
