---
http_interactions:
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/users
    body:
      encoding: UTF-8
      string: '{"user":{"name":"foobar_385","email":"foobar_demo@example.com","domain_id":"default","password":"s3cret!"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-d61f7128-718f-4c60-8169-3bb4c1cfbf3f
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"user": {"name": "foobar_385", "links": {"self": "http://devstack.openstack.stack:35357/v3/users/304d38f9e15c4603b70326120db88a7d"},
        "domain_id": "default", "enabled": true, "email": "foobar_demo@example.com",
        "id": "304d38f9e15c4603b70326120db88a7d"}}'
  recorded_at: Tue, 03 May 2016 13:51:54 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/roles
    body:
      encoding: UTF-8
      string: '{"role":{"name":"foobar_role390"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-3244136c-4a15-49e7-a83f-7a9ff9005bc6
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"role": {"id": "d121bd07dec845f29915ae2956249e34", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/roles/d121bd07dec845f29915ae2956249e34"}, "name":
        "foobar_role390"}}'
  recorded_at: Tue, 03 May 2016 13:51:54 GMT
- request:
    method: put
    uri: http://devstack.openstack.stack:35357/v3/domains/default/users/304d38f9e15c4603b70326120db88a7d/roles/d121bd07dec845f29915ae2956249e34
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-28a48abb-effa-4e94-b357-d2f9162a43fc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 03 May 2016 13:51:54 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:5000/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["password"],"password":{"user":{"name":"foobar_385","domain":{"id":"default"},"password":"s3cret!"}}},"scope":{"domain":{"id":"default"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Subject-Token:
      - 305c9b5e8d3b48a38dcd8ee2fdf96f8e
      X-Openstack-Request-Id:
      - req-f98fcaa3-78a2-4dc3-a584-94e2f46531b2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token": {"domain": {"id": "default", "name": "Default"}, "methods":
        ["password"], "roles": [{"id": "d121bd07dec845f29915ae2956249e34", "name":
        "foobar_role390"}], "expires_at": "2016-05-03T14:51:54.629181Z", "catalog":
        [{"endpoints": [], "type": "volumev2", "id": "1766683b2f9f4ef2acf7f9e4e359fb9a",
        "name": "cinderv2"}, {"endpoints": [], "type": "metering", "id": "18dbb2f0ddeb45b99d11ed0568f153ab",
        "name": "ceilometer"}, {"endpoints": [{"region_id": "RegionOne", "url": "http://mo-edbdf14f1.mo.sap.corp:8777/",
        "region": "RegionOne", "interface": "admin", "id": "6f44eb5bf4e646f9a7afebb1f32501f1"},
        {"region_id": "RegionOne", "url": "http://mo-edbdf14f1.mo.sap.corp:8777/",
        "region": "RegionOne", "interface": "public", "id": "9bb4f1c83833484e9d53ce2b57d6308b"},
        {"region_id": "RegionOne", "url": "http://mo-edbdf14f1.mo.sap.corp:8777/",
        "region": "RegionOne", "interface": "internal", "id": "e62f1c8709554031ace717700c431635"}],
        "type": "metering", "id": "261a2c1f467c4b148f38822ae9f179a3", "name": "ceilo[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:5000/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["token"],"token":{"id":"305c9b5e8d3b48a38dcd8ee2fdf96f8e"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Subject-Token:
      - 53f379ea05744daeb13417e3df4dafe8
      X-Openstack-Request-Id:
      - req-c7a5351f-061b-4182-b5bb-718cfb9f16d7
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token": {"methods": ["token", "password"], "expires_at": "2016-05-03T14:51:54.629181Z",
        "extras": {}, "user": {"domain": {"id": "default", "name": "Default"}, "id":
        "304d38f9e15c4603b70326120db88a7d", "name": "foobar_385"}, "audit_ids": ["4ALKzx4mQtW74Rmu30d2AQ",
        "oQ8CEopyS3mQECayU-uUow"], "issued_at": "2016-05-03T13:51:54.844344Z"}}'
  recorded_at: Tue, 03 May 2016 13:51:55 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:5000/v3/users/304d38f9e15c4603b70326120db88a7d/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 53f379ea05744daeb13417e3df4dafe8
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-fe44d74c-bc02-4f77-898b-e77fd5d01d4d
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:5000/v3/users/304d38f9e15c4603b70326120db88a7d/projects",
        "previous": null, "next": null}, "projects": []}'
  recorded_at: Tue, 03 May 2016 13:51:55 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:5000/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["token"],"token":{"id":"blahblahblah"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-72c38b89-f49f-4d4a-b4a0-1425827b5b8d
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find token: blahblahblah", "code":
        404, "title": "Not Found"}}'
  recorded_at: Tue, 03 May 2016 13:51:55 GMT
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/users/304d38f9e15c4603b70326120db88a7d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-3123f15e-d856-44a4-95f8-61e4d1eb2299
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 03 May 2016 13:51:55 GMT
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/roles/d121bd07dec845f29915ae2956249e34
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-f568dfa5-ae0a-4613-ace8-8205f6a25546
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 03 May 2016 13:51:56 GMT
recorded_with: VCR 3.0.1
