---
http_interactions:
- request:
    method: put
    uri: http://devstack.openstack.stack:35357/v3/domains/default/users/fca58cc2d1784da99d42f8cb8e22a94c/roles/60cc738031a84548937e47230f1dc00f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 2f4e6042604944b98bd46f6941129328
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-e0000393-8008-4d66-969e-2ad4b308a755
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 10:13:57 GMT
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/users/fca58cc2d1784da99d42f8cb8e22a94c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 2f4e6042604944b98bd46f6941129328
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-2cc1164d-6447-46d9-9512-64dc5364365a
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 10:13:58 GMT
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/roles/60cc738031a84548937e47230f1dc00f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 2f4e6042604944b98bd46f6941129328
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-0d6bfd66-e286-4779-860b-b16fb9680d02
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 10:13:58 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/users
    body:
      encoding: UTF-8
      string: '{"user":{"name":"foobar_385","email":"foobar_demo@example.com","domain_id":"default","password":"s3cret!"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - d6975307b8fa4cc6899f27ae2561658e
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-1e4dbeee-771e-42e5-a3ff-5c4fc885d073
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"user": {"name": "foobar_385", "links": {"self": "http://devstack.openstack.stack:35357/v3/users/45a926679d254a329c59309083b840dc"},
        "domain_id": "default", "enabled": true, "email": "foobar_demo@example.com",
        "id": "45a926679d254a329c59309083b840dc"}}'
  recorded_at: Fri, 15 Jul 2016 12:06:10 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/roles
    body:
      encoding: UTF-8
      string: '{"role":{"name":"foobar_role390"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - d6975307b8fa4cc6899f27ae2561658e
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-2c98422c-8947-4829-8cae-00ddee43152c
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"role": {"id": "24c4a3b9306944a0b18bd60e30b78779", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/roles/24c4a3b9306944a0b18bd60e30b78779"}, "name":
        "foobar_role390"}}'
  recorded_at: Fri, 15 Jul 2016 12:06:10 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:5000/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["password"],"password":{"user":{"password":"s3cret!","domain":{"id":"default"},"name":"foobar_385"}}},"scope":{"domain":{"id":"default"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Subject-Token:
      - cddc0c804da6459db84681b1c4c73a26
      X-Openstack-Request-Id:
      - req-0de3fb5d-6c29-4ac0-9ac9-87011d504fd9
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token": {"domain": {"id": "default", "name": "Default"}, "methods":
        ["password"], "roles": [{"id": "24c4a3b9306944a0b18bd60e30b78779", "name":
        "foobar_role390"}], "expires_at": "2016-07-15T13:06:38.771301Z", "catalog":
        [{"endpoints": [], "type": "volumev2", "id": "1766683b2f9f4ef2acf7f9e4e359fb9a",
        "name": "cinderv2"}, {"endpoints": [], "type": "metering", "id": "18dbb2f0ddeb45b99d11ed0568f153ab",
        "name": "ceilometer"}, {"endpoints": [{"region_id": "RegionOne", "url": "http://mo-edbdf14f1.mo.sap.corp:8777/",
        "region": "RegionOne", "interface": "admin", "id": "6f44eb5bf4e646f9a7afebb1f32501f1"},
        {"region_id": "RegionOne", "url": "http://mo-edbdf14f1.mo.sap.corp:8777/",
        "region": "RegionOne", "interface": "public", "id": "9bb4f1c83833484e9d53ce2b57d6308b"},
        {"region_id": "RegionOne", "url": "http://mo-edbdf14f1.mo.sap.corp:8777/",
        "region": "RegionOne", "interface": "internal", "id": "e62f1c8709554031ace717700c431635"}],
        "type": "metering", "id": "261a2c1f467c4b148f38822ae9f179a3", "name": "ceilo[...]
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:5000/v3/auth/tokens
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - blahblahblah
      X-Subject-Token:
      - blahblahblah
  response:
    status:
      code: 401
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-3c86be05-8d81-4ee3-8c5b-0435fbed5a7e
      Www-Authenticate:
      - Keystone uri="http://devstack.openstack.stack:5000"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "The request you have made requires authentication.
        (Disable debug mode to suppress these details.)", "code": 401, "title": "Unauthorized"}}'
  recorded_at: Fri, 15 Jul 2016 12:06:11 GMT
[...]
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/roles/24c4a3b9306944a0b18bd60e30b78779
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - d6975307b8fa4cc6899f27ae2561658e
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-4376d4ad-50be-43c6-b5e4-4e6beb5fdff1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 12:06:11 GMT
recorded_with: VCR 3.0.1
