---
http_interactions:
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/users
    body:
      encoding: UTF-8
      string: '{"user":{"name":"foobar_385","email":"foobar_demo@example.com","domain_id":"default","password":"s3cret!"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - c1baa0dd81d247069d6833786529d14c
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-d7e39d42-1238-45ad-9c79-b1e18942d5f2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"user": {"name": "foobar_385", "links": {"self": "http://devstack.openstack.stack:35357/v3/users/ad6ebb889329483fbc1d66631b198e60"},
        "domain_id": "default", "enabled": true, "email": "foobar_demo@example.com",
        "id": "ad6ebb889329483fbc1d66631b198e60"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:37 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/roles
    body:
      encoding: UTF-8
      string: '{"role":{"name":"foobar_role390"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - c1baa0dd81d247069d6833786529d14c
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-c363b6f0-6d37-4099-9924-e804d5a99d82
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"role": {"id": "8f128a26a64b4920b5ec33a33b5445cd", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/roles/8f128a26a64b4920b5ec33a33b5445cd"}, "name":
        "foobar_role390"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:38 GMT
- request:
    method: put
    uri: http://devstack.openstack.stack:35357/v3/domains/default/users/ad6ebb889329483fbc1d66631b198e60/roles/8f128a26a64b4920b5ec33a33b5445cd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - c1baa0dd81d247069d6833786529d14c
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-8af7f868-52d9-4195-878e-407a0d45f35c
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 13:11:38 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:5000/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["password"],"password":{"user":{"password":"s3cret!","domain":{"id":"default"},"name":"foobar_385"}}},"scope":{"domain":{"id":"default"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Subject-Token:
      - 04f7eb7c586e47a189519be9318bf1d5
      X-Openstack-Request-Id:
      - req-1f0387c0-f142-441c-ae40-3e8a3c631cad
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token": {"domain": {"id": "default", "name": "Default"}, "methods":
        ["password"], "roles": [{"id": "8f128a26a64b4920b5ec33a33b5445cd", "name":
        "foobar_role390"}], "expires_at": "2016-07-15T14:12:07.518757Z", "catalog":
        [{"endpoints": [], "type": "volumev2", "id": "1766683b2f9f4ef2acf7f9e4e359fb9a",
        "name": "cinderv2"}, {"endpoints": [], "type": "metering", "id": "18dbb2f0ddeb45b99d11ed0568f153ab",
        "name": "ceilometer"}, {"endpoints": [{"region_id": "RegionOne", "url": "http://mo-edbdf14f1.mo.sap.corp:8777/",
        "region": "RegionOne", "interface": "admin", "id": "6f44eb5bf4e646f9a7afebb1f32501f1"},
        {"region_id": "RegionOne", "url": "http://mo-edbdf14f1.mo.sap.corp:8777/",
        "region": "RegionOne", "interface": "public", "id": "9bb4f1c83833484e9d53ce2b57d6308b"},
        {"region_id": "RegionOne", "url": "http://mo-edbdf14f1.mo.sap.corp:8777/",
        "region": "RegionOne", "interface": "internal", "id": "e62f1c8709554031ace717700c431635"}],
        "type": "metering", "id": "261a2c1f467c4b148f38822ae9f179a3", "name": "ceilo[...]
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:5000/v3/auth/tokens
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - blahblahblah
      X-Subject-Token:
      - blahblahblah
  response:
    status:
      code: 401
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-fefbefda-f2b0-458c-9319-31d132fbbd1d
      Www-Authenticate:
      - Keystone uri="http://devstack.openstack.stack:5000"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "The request you have made requires authentication.
        (Disable debug mode to suppress these details.)", "code": 401, "title": "Unauthorized"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:38 GMT
[...]
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/users/ad6ebb889329483fbc1d66631b198e60
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - c1baa0dd81d247069d6833786529d14c
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-23647990-095a-444f-a409-be198cd40283
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 13:11:39 GMT
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/roles/8f128a26a64b4920b5ec33a33b5445cd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - c1baa0dd81d247069d6833786529d14c
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-b2629b21-ba25-4c1d-a339-c9e5ec10f321
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 13:11:39 GMT
recorded_with: VCR 3.0.1
