---
http_interactions:
- request:
    method: put
    uri: http://devstack.openstack.stack:35357/v3/projects/b93d9df5820749059d0ab284dc5df17f/users/205e0e39a2534743b517ed0aa2fbcda7/roles/4c34489e266c48ce9a7c834cc3874b9e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ed3a3694187b49e2ae268cf60516e0a8
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-2a99c847-0916-4709-ade7-5a216d2d75b5
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 10:14:38 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/b93d9df5820749059d0ab284dc5df17f?subtree_as_ids
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ed3a3694187b49e2ae268cf60516e0a8
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-1e106c12-30df-4fff-b05a-096b2c238d72
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"project": {"is_domain": false, "description": "", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/projects/b93d9df5820749059d0ab284dc5df17f"},
        "enabled": true, "subtree": {"587d3ada587b4432b4de79a6a686ffb6": null, "3d0a237b08bd4b2cb3d9238908096796":
        {"94c3e93d38374f9fabb196defce1a4f8": null}}, "id": "b93d9df5820749059d0ab284dc5df17f",
        "parent_id": null, "domain_id": "default", "name": "p-foobar67"}}'
  recorded_at: Fri, 15 Jul 2016 10:14:38 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/b93d9df5820749059d0ab284dc5df17f?subtree_as_list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ed3a3694187b49e2ae268cf60516e0a8
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-8a4fde03-0419-431d-8d10-6cbadfed2a4c
      Content-Type:
      - application/json[...]
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/94c3e93d38374f9fabb196defce1a4f8?parents_as_ids
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ed3a3694187b49e2ae268cf60516e0a8
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-04dccf55-9651-4237-8314-3ff8d47c788c
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"project": {"is_domain": false, "description": "", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/projects/94c3e93d38374f9fabb196defce1a4f8"},
        "enabled": true, "id": "94c3e93d38374f9fabb196defce1a4f8", "parent_id": "3d0a237b08bd4b2cb3d9238908096796",
        "parents": {"3d0a237b08bd4b2cb3d9238908096796": {"b93d9df5820749059d0ab284dc5df17f":
        null}}, "domain_id": "default", "name": "p-booboo67"}}'
  recorded_at: Fri, 15 Jul 2016 10:14:39 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/94c3e93d38374f9fabb196defce1a4f8?parents_as_list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ed3a3694187b49e2ae268cf60516e0a8
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-d3e804ef-0bd2-4532-9e0c-f6212afecab2
      Content-Type:
      - application/json[...]
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/projects/2feb9711d42a4673a852d9c2afcb8381
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ed3a3694187b49e2ae268cf60516e0a8
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-253bec23-df55-4902-a927-6319ec9c6ab5
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 10:14:40 GMT
[...]
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/roles/4c34489e266c48ce9a7c834cc3874b9e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ed3a3694187b49e2ae268cf60516e0a8
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-60743c69-c640-40be-855d-47fe5e71e115
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 10:14:41 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/b93d9df5820749059d0ab284dc5df17f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ed3a3694187b49e2ae268cf60516e0a8
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-534db402-35f8-4d50-916b-6a97e83b914b
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find project: b93d9df5820749059d0ab284dc5df17f",
        "code": 404, "title": "Not Found"}}'
  recorded_at: Fri, 15 Jul 2016 10:14:41 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/projects
    body:
      encoding: UTF-8
      string: '{"project":{"name":"p-foobar67"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0e0a75889c524ada9d4d30d25467c651
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-dea9f0df-ad7a-4572-bbb9-735546c8ddef
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"project": {"is_domain": false, "description": "", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/projects/edfcdedc28a549f791ad573d16f8255c"},
        "enabled": true, "id": "edfcdedc28a549f791ad573d16f8255c", "parent_id": null,
        "domain_id": "default", "name": "p-foobar67"}}'
  recorded_at: Fri, 15 Jul 2016 12:05:26 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects?name=p-baz67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0e0a75889c524ada9d4d30d25467c651
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-a229117c-a922-40bb-a85f-de7d86aa479b
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects?name=p-baz67",
        "previous": null, "next": null}, "projects": [{"is_domain": false, "description":
        "", "links": {"self": "http://devstack.openstack.stack:35357/v3/projects/d4756a52d40146e1bb56b51ec730838a"},
        "enabled": true, "id": "d4756a52d40146e1bb56b51ec730838a", "parent_id": "edfcdedc28a549f791ad573d16f8255c",
        "domain_id": "default", "name": "p-baz67"}]}'
  recorded_at: Fri, 15 Jul 2016 12:05:26 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/roles
    body:
      encoding: UTF-8
      string: '{"role":{"name":"r-project67"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0e0a75889c524ada9d4d30d25467c651
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-f7863a8c-a050-453e-9969-ee4852b64fa3
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"role": {"id": "5a4cd7b69b6948cb8fd3f94ece073263", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/roles/5a4cd7b69b6948cb8fd3f94ece073263"}, "name":
        "r-project67"}}'
  recorded_at: Fri, 15 Jul 2016 12:05:26 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/edfcdedc28a549f791ad573d16f8255c?subtree_as_ids
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0e0a75889c524ada9d4d30d25467c651
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-d7a6b622-7118-4ce3-b6f5-d261131ade65
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"project": {"is_domain": false, "description": "", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/projects/edfcdedc28a549f791ad573d16f8255c"},
        "enabled": true, "subtree": {"b0fab595d96149c692f3250a550c018e": {"23367f01c0d14ece9a3332efbc1fd7bc":
        null}, "d4756a52d40146e1bb56b51ec730838a": null}, "id": "edfcdedc28a549f791ad573d16f8255c",
        "parent_id": null, "domain_id": "default", "name": "p-foobar67"}}'
  recorded_at: Fri, 15 Jul 2016 12:05:27 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/23367f01c0d14ece9a3332efbc1fd7bc?parents_as_ids
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0e0a75889c524ada9d4d30d25467c651
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-949ad660-a0e1-4b38-8d4a-915f9951b780
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"project": {"is_domain": false, "description": "", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/projects/23367f01c0d14ece9a3332efbc1fd7bc"},
        "enabled": true, "id": "23367f01c0d14ece9a3332efbc1fd7bc", "parent_id": "b0fab595d96149c692f3250a550c018e",
        "parents": {"b0fab595d96149c692f3250a550c018e": {"edfcdedc28a549f791ad573d16f8255c":
        null}}, "domain_id": "default", "name": "p-booboo67"}}'
  recorded_at: Fri, 15 Jul 2016 12:05:28 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects?name=p-booboo67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0e0a75889c524ada9d4d30d25467c651
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-96e2d51b-47d9-4683-9262-e6ceefb1a6ef
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects?name=p-booboo67",
        "previous": null, "next": null}, "projects": []}'
  recorded_at: Fri, 15 Jul 2016 12:05:29 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects?name=p-fooboo67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0e0a75889c524ada9d4d30d25467c651
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-cdae4fb9-249a-4d76-945c-8a63d52f4855
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects?name=p-fooboo67",
        "previous": null, "next": null}, "projects": []}'
  recorded_at: Fri, 15 Jul 2016 12:05:30 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects?name=p-boo67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0e0a75889c524ada9d4d30d25467c651
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-2278b683-8ce0-4d68-838b-945690678234
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects?name=p-boo67",
        "previous": null, "next": null}, "projects": []}'
  recorded_at: Fri, 15 Jul 2016 12:05:30 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects?name=p-foobar67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0e0a75889c524ada9d4d30d25467c651
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-816c85ac-6796-49b4-88a2-b13276eb1052
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects?name=p-foobar67",
        "previous": null, "next": null}, "projects": []}'
  recorded_at: Fri, 15 Jul 2016 12:05:30 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects?name=p-foobar67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0e0a75889c524ada9d4d30d25467c651
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-4f676da9-34f8-406b-8949-ac94171d80e3
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects?name=p-foobar67",
        "previous": null, "next": null}, "projects": []}'
  recorded_at: Fri, 15 Jul 2016 12:05:31 GMT
recorded_with: VCR 3.0.1
