---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/policies
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 3c40e34a2b4c4d01bfabed7a8bf02802
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-39252f09-9da8-4a59-9178-5c50129fd884
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/policies", "previous":
        null, "next": null}, "policies": []}'
  recorded_at: Fri, 15 Jul 2016 13:11:18 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/policies/atlantis
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 3c40e34a2b4c4d01bfabed7a8bf02802
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-d8d45dd2-b6dc-452d-a2bc-04e5a56a84bc
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find policy: atlantis", "code": 404,
        "title": "Not Found"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:19 GMT
recorded_with: VCR 3.0.1
