---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-070d0868-bb88-44d4-9986-4ffc4a0376c5
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/roles", "previous":
        null, "next": null}, "roles": [{"id": "13c811edcd2a46dca5fed6252fd50cd2",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/roles/13c811edcd2a46dca5fed6252fd50cd2"},
        "name": "service"}, {"id": "4572d4dbab1e4b31b9c6ac7b63e2f8e1", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/roles/4572d4dbab1e4b31b9c6ac7b63e2f8e1"}, "name":
        "testrole"}, {"id": "48464b0373554d74b87e14380df097e6", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/roles/48464b0373554d74b87e14380df097e6"}, "name":
        "monitoring-delegate"}, {"id": "5929fb4077c3415c9850e66f2c2be16b", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/roles/5929fb4077c3415c9850e66f2c2be16b"},
        "name": "admin"}, {"id": "7e4e00f7c94145a1855f39c32331ff5d", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/roles/7e4e00f7c94145a1855f39c32331ff5d"}, "name":
        "monasca-user"}, {"id": "d46ad249d4dd40eb840d20ec917d682e", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/roles/d46ad249d4dd40eb840d20ec917d682e"}, "name":
        "ResellerAdmin"}, {"id": "d97660751404495ab8c405826d547c16", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/roles/d97660751404495ab8c405826d547c16"}, "name":
        "Member"}, {"id": "eb4ca4ce31d748ccb91d2052a2f5bedf", "links": {"self": "http://devstack.openstack.stack:35357/v3/roles/eb4ca4ce31d748ccb91d2052a2f5bedf"},
        "name": "monasca-agent"}, {"id": "eb9f0f3b348042ffa65f9d33e5d72014", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/roles/eb9f0f3b348042ffa65f9d33e5d72014"},
        "name": "anotherrole"}]}'
  recorded_at: Tue, 03 May 2016 13:52:03 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/roles/atlantis
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-91306740-13cd-447e-b82c-e2ba052f0485
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find role: atlantis", "code": 404,
        "title": "Not Found"}}'
  recorded_at: Tue, 03 May 2016 13:52:03 GMT
recorded_with: VCR 3.0.1
