---
http_interactions:
- request:
    method: patch
    uri: http://devstack.openstack.stack:35357/v3/services/9a17ef31f224425d8d0bcfa428d76980
    body:
      encoding: UTF-8
      string: '{"service":{"name":"baz"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1094af85ae7d4bb89ab4af848f718175
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-ddce8e5b-7778-4806-ad07-e65676005325
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"service": {"enabled": true, "type": "volume", "name": "baz", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/services/9a17ef31f224425d8d0bcfa428d76980"},
        "id": "9a17ef31f224425d8d0bcfa428d76980"}}'
  recorded_at: Fri, 15 Jul 2016 10:14:23 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/9a17ef31f224425d8d0bcfa428d76980
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1094af85ae7d4bb89ab4af848f718175
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-9bb77a24-1315-43f0-989d-e6ad98948a63
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find project: 9a17ef31f224425d8d0bcfa428d76980",
        "code": 404, "title": "Not Found"}}'
  recorded_at: Fri, 15 Jul 2016 10:14:24 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/services
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 64a06cdd66d34302b748258a3b627415
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-f8c59330-09e2-4ff1-89ff-7380c9b71d44
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"services": [{"description": "Cinder Volume Service V2", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/services/1766683b2f9f4ef2acf7f9e4e359fb9a"},
        "enabled": true, "type": "volumev2", "id": "1766683b2f9f4ef2acf7f9e4e359fb9a",
        "name": "cinderv2"}, {"description": "Ceilometer Metering Service", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/services/18dbb2f0ddeb45b99d11ed0568f153ab"},
        "enabled": true, "type": "metering", "id": "18dbb2f0ddeb45b99d11ed0568f153[...]
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/services?type=volume
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 64a06cdd66d34302b748258a3b627415
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-51d9292d-1420-44a5-9f7a-9221eeb0256c
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"services": [{"description": "Cinder Volume Service", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/services/4a6033d57e30494a9577358d90d08123"},
        "enabled": true, "type": "volume", "id": "4a6033d57e30494a9577358d90d08123",
        "name": "cinder"}, {"enabled": true, "type": "volume", "name": "foobar", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/services/64be642654fc49b5982ec57aacbf0bbc"},
        "id": "64be642654fc49b5982ec57aacbf0bbc"}], "links": {"self": "http://devstack.openstack.stack:35357/v3/services?type=volume",
        "previous": null, "next": null}}'
  recorded_at: Fri, 15 Jul 2016 12:06:05 GMT
[...]
