---
http_interactions:
- request:
    method: patch
    uri: http://devstack.openstack.stack:35357/v3/policies/cc92a15e687249fb81b121286b0bcfa0
    body:
      encoding: UTF-8
      string: '{"policy":{"blob":"{\"baz_user\":[\"role:compute-user\"]}"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - d7e281256fad4ac1a8d35149bf11a36d
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-e174bf5f-7f73-4dcc-bfd7-5a06a6da9987
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"policy": {"type": "application/json", "id": "cc92a15e687249fb81b121286b0bcfa0",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/policies/cc92a15e687249fb81b121286b0bcfa0"},
        "blob": "{\"baz_user\":[\"role:compute-user\"]}"}}'
  recorded_at: Fri, 15 Jul 2016 10:14:07 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/policies/cc92a15e687249fb81b121286b0bcfa0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - d7e281256fad4ac1a8d35149bf11a36d
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-959a03cf-7e23-49ca-8dd9-e85a46c72627
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find policy: cc92a15e687249fb81b121286b0bcfa0",
        "code": 404, "title": "Not Found"}}'
  recorded_at: Fri, 15 Jul 2016 10:14:08 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/policies
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 9635122886da4898807af4a1d5bf0338
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-b45ae290-2881-4cd5-9e47-cc2879a0c375
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/policies", "previous":
        null, "next": null}, "policies": []}'
  recorded_at: Fri, 15 Jul 2016 12:06:07 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/policies
    body:
      encoding: UTF-8
      string: '{"policy":{"type":"application/json","blob":"{\"foobar_user\":[\"role:compute-user\"]}"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 9635122886da4898807af4a1d5bf0338
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-cf26137c-973f-42f0-8185-57c7ed2e5fc5
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"policy": {"type": "application/json", "id": "a6db4f3f21d4483e9eac22bb6ed830e1",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/policies/a6db4f3f21d4483e9eac22bb6ed830e1"},
        "blob": "{\"foobar_user\":[\"role:compute-user\"]}"}}'
  recorded_at: Fri, 15 Jul 2016 12:06:08 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/policies
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 9635122886da4898807af4a1d5bf0338
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-05d65d73-1477-463b-95e9-f912c66ff84b
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/policies", "previous":
        null, "next": null}, "policies": []}'
  recorded_at: Fri, 15 Jul 2016 12:06:09 GMT
recorded_with: VCR 3.0.1
