---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/services
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 80f54d406ef148baae1e82e1adba7f50
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-866534a0-dbf9-4e39-9983-df3afcedf48a
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"services": [{"description": "Cinder Volume Service V2", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/services/1766683b2f9f4ef2acf7f9e4e359fb9a"},
        "enabled": true, "type": "volumev2", "id": "1766683b2f9f4ef2acf7f9e4e359fb9a",
        "name": "cinderv2"}, {"description": "Ceilometer Metering Service", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/services/18dbb2f0ddeb45b99d11ed0568f153ab"},
        "enabled": true, "type": "metering", "id": "18dbb2f0ddeb45b99d11ed0568f153ab",
        "name": "ceilometer"}, {"description": "Ceilometer Metering Service", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/services/261a2c1f467c4b148f38822ae9f179a3"},
        "enabled": true, "type": "metering", "id[...]
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/atlantis
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 80f54d406ef148baae1e82e1adba7f50
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-745c3634-de33-4e32-a4f9-06405711a001
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find project: atlantis", "code": 404,
        "title": "Not Found"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:25 GMT
recorded_with: VCR 3.0.1
