---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 310a7d62b124491dbdefadf6361048bb
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-4802787f-17b0-4af4-a14f-b31d84664466
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"credentials": [], "links": {"self": "http://devstack.openstack.stack:35357/v3/credentials",
        "previous": null, "next": null}}'
  recorded_at: Fri, 15 Jul 2016 12:06:03 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/credentials/atlantis
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 310a7d62b124491dbdefadf6361048bb
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-ad77018e-b894-4442-bf7d-af3eace940e4
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find credential: atlantis", "code":
        404, "title": "Not Found"}}'
  recorded_at: Fri, 15 Jul 2016 12:06:03 GMT
recorded_with: VCR 3.0.1
