---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/policies
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-1d8ebfb8-d309-4371-93b0-68400be2bde5
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/policies", "previous":
        null, "next": null}, "policies": []}'
  recorded_at: Tue, 03 May 2016 13:52:23 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/policies
    body:
      encoding: UTF-8
      string: '{"policy":{"type":"application/json","blob":"{\"foobar_user\":[\"role:compute-user\"]}"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-90e2c0db-fc46-4456-9ef1-c9fc01805b85
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"policy": {"type": "application/json", "id": "81e48132af274496994c82611824bcc7",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/policies/81e48132af274496994c82611824bcc7"},
        "blob": "{\"foobar_user\":[\"role:compute-user\"]}"}}'
  recorded_at: Tue, 03 May 2016 13:52:23 GMT
[...]
- request:
    method: patch
    uri: http://devstack.openstack.stack:35357/v3/policies/81e48132af274496994c82611824bcc7
    body:
      encoding: UTF-8
      string: '{"policy":{"blob":"{\"baz_user\":[\"role:compute-user\"]}"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-b59b0178-11c6-49a3-b7c1-e71ca431eec5
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"policy": {"type": "application/json", "id": "81e48132af274496994c82611824bcc7",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/policies/81e48132af274496994c82611824bcc7"},
        "blob": "{\"baz_user\":[\"role:compute-user\"]}"}}'
  recorded_at: Tue, 03 May 2016 13:52:23 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/policies/81e48132af274496994c82611824bcc7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-d55a5654-ad01-42eb-b393-ac64266121cf
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find policy: 81e48132af274496994c82611824bcc7",
        "code": 404, "title": "Not Found"}}'
  recorded_at: Tue, 03 May 2016 13:52:24 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/policies
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-8b1b627c-db49-4946-8507-5e7a233dfcb3
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/policies", "previous":
        null, "next": null}, "policies": []}'
  recorded_at: Tue, 03 May 2016 13:52:24 GMT
recorded_with: VCR 3.0.1
