---
http_interactions:
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/projects
    body:
      encoding: UTF-8
      string: '{"project":{"name":"p-foobar67"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-f0035d9e-b696-4d99-8256-7e47ee9f5714
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"project": {"is_domain": false, "description": "", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/projects/f7d00d3e5eb34640b501d9fba857c267"},
        "enabled": true, "id": "f7d00d3e5eb34640b501d9fba857c267", "parent_id": null,
        "domain_id": "default", "name": "p-foobar67"}}'
  recorded_at: Tue, 03 May 2016 13:52:07 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects?name=p-baz67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-070525bf-0cc5-4d5b-99f0-c46a54b8a111
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects?name=p-baz67",
        "previous": null, "next": null}, "projects": [{"is_domain": false, "description":
        "", "links": {"self": "http://devstack.openstack.stack:35357/v3/projects/8dbeb70b63944ec29fed7d2a2e8787b9"},
        "enabled": true, "id": "8dbeb70b63944ec29fed7d2a2e8787b9", "parent_id": "f7d00d3e5eb34640b501d9fba857c267",
        "domain_id": "default", "name": "p-baz67"}]}'
  recorded_at: Tue, 03 May 2016 13:52:07 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/roles
    body:
      encoding: UTF-8
      string: '{"role":{"name":"r-project67"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-ab2f303a-868a-4fda-a9f7-2917658adc55
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"role": {"id": "db287d63b02744e2bbcc3a5f44c6ecb7", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/roles/db287d63b02744e2bbcc3a5f44c6ecb7"}, "name":
        "r-project67"}}'
  recorded_at: Tue, 03 May 2016 13:52:07 GMT
- request:
    method: put
    uri: http://devstack.openstack.stack:35357/v3/projects/f7d00d3e5eb34640b501d9fba857c267/users/205e0e39a2534743b517ed0aa2fbcda7/roles/db287d63b02744e2bbcc3a5f44c6ecb7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-21de9189-3d73-408e-8e1e-679fa90ce2ff
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 03 May 2016 13:52:08 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/f7d00d3e5eb34640b501d9fba857c267?subtree_as_ids
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-16cb0d17-deda-4a25-8353-1bb39f11d574
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"project": {"is_domain": false, "description": "", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/projects/f7d00d3e5eb34640b501d9fba857c267"},
        "enabled": true, "subtree": {"8dbeb70b63944ec29fed7d2a2e8787b9": null, "1669d877273547948223ad096104cf0c":
        {"57bb6741d40f4ba897f9e8fc742483ed": null}}, "id": "f7d00d3e5eb34640b501d9fba857c267",
        "parent_id": null, "domain_id": "default", "name": "p-foobar67"}}'
  recorded_at: Tue, 03 May 2016 13:52:08 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/f7d00d3e5eb34640b501d9fba857c267?subtree_as_list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-8fcd2460-40fb-41f0-a8db-63edd0ea5e56
 [...]
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/57bb6741d40f4ba897f9e8fc742483ed?parents_as_ids
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-723f9b20-4aba-4736-97a9-43f506fe1f71
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"project": {"is_domain": false, "description": "", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/projects/57bb6741d40f4ba897f9e8fc742483ed"},
        "enabled": true, "id": "57bb6741d40f4ba897f9e8fc742483ed", "parent_id": "1669d877273547948223ad096104cf0c",
        "parents": {"1669d877273547948223ad096104cf0c": {"f7d00d3e5eb34640b501d9fba857c267":
        null}}, "domain_id": "default", "name": "p-booboo67"}}'
  recorded_at: Tue, 03 May 2016 13:52:09 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/57bb6741d40f4ba897f9e8fc742483ed?parents_as_list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-04864603-f7f6-420d-9171-ef324e243d22
 [...]
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/projects/6abb35166f704620bc55b7f0f49c390b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-61aa7757-d1f9-4f5c-8629-e8ba09321f50
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 03 May 2016 13:52:09 GMT
[...]
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/roles/db287d63b02744e2bbcc3a5f44c6ecb7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-ab7cfbd6-6a80-439b-b177-1a27bcba4fe5
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 03 May 2016 13:52:10 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/f7d00d3e5eb34640b501d9fba857c267
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-fd02cde9-5ea7-4e7c-90a6-b6523ceeba3c
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find project: f7d00d3e5eb34640b501d9fba857c267",
        "code": 404, "title": "Not Found"}}'
  recorded_at: Tue, 03 May 2016 13:52:10 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects?name=p-booboo67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-9c520bf4-c7d6-4823-9d7e-453bc95df37e
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects?name=p-booboo67",
        "previous": null, "next": null}, "projects": []}'
  recorded_at: Tue, 03 May 2016 13:52:10 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects?name=p-fooboo67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-4974406b-e1c2-4011-bef7-26c98c850e1a
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects?name=p-fooboo67",
        "previous": null, "next": null}, "projects": []}'
  recorded_at: Tue, 03 May 2016 13:52:11 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects?name=p-boo67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-dffd059c-1921-4bb7-b4d4-f94b9ea04016
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects?name=p-boo67",
        "previous": null, "next": null}, "projects": []}'
  recorded_at: Tue, 03 May 2016 13:52:11 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects?name=p-foobar67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-78e3ee46-3696-4a62-83e4-28ee7f8f1361
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects?name=p-foobar67",
        "previous": null, "next": null}, "projects": []}'
  recorded_at: Tue, 03 May 2016 13:52:11 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects?name=p-foobar67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-f2a46ad3-9669-49b6-b006-464df42e43df
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects?name=p-foobar67",
        "previous": null, "next": null}, "projects": []}'
  recorded_at: Tue, 03 May 2016 13:52:11 GMT
recorded_with: VCR 3.0.1
