---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/domains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 282eb7467a374409aed8b329266abc65
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-25fa1367-6097-46dc-b1c3-25a6f8999543
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"domains": [{"links": {"self": "http://devstack.openstack.stack:35357/v3/domains/1617829d043b41858253a9a6e848615d"},
        "enabled": true, "description": "Used for swift functional testing", "name":
        "swift_test", "id": "1617829d043b41858253a9a6e848615d"}, {"links": {"self":
        "http://devstack.openstack.stack:35357/v3/domains/36ba5b83865d482296b6d0682e983d77"},
        "enabled": true, "description": "domain for services", "name": "monsooncc",
        "id": "36ba5b83865d482296b6d0682e983d77"}, {"links": {"self": "http://devstack.openstack.stack:35357/v3/domains/77e438db79474d5d90ab5f2c5c4942e2"},
        "enabled": true, "description": "domain for user projects", "name": "monsoon2",
        "id": "77e438db79474d5d90ab5f2c5c4942e2"}, {"links": {"self": "http://devstack.openstack.stack:35357/v3/domains/default"},
        "enabled": true, "description": "Owns users and tenants (i.e. projects) available
        on Identity API v2.", "name": "Default", "id": "default"}], "links": {"self":
        "http://devstack.openstack.stack:35357/v3/domains", "previous": null, "next": null}}'
  recorded_at: Fri, 15 Jul 2016 13:11:26 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/domains/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 282eb7467a374409aed8b329266abc65
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-e7c58b2e-f2d1-477b-a991-ba7e1062ffc3
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"domain": {"links": {"self": "http://devstack.openstack.stack:35357/v3/domains/default"},
        "enabled": true, "description": "Owns users and tenants (i.e. projects) available
        on Identity API v2.", "name": "Default", "id": "default"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:26 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/domains/atlantis
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 282eb7467a374409aed8b329266abc65
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-75216f6a-8f40-42c5-a661-02d244eef5a9
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find domain: atlantis", "code": 404,
        "title": "Not Found"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:26 GMT
recorded_with: VCR 3.0.1
