---
http_interactions:
- request:
    method: patch
    uri: http://devstack.openstack.stack:35357/v3/domains/0c88c3266b2b48d4afd86eba83381321
    body:
      encoding: UTF-8
      string: '{"domain":{"name":"baz","enabled":false}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - f60f978b45374bea831b5dd55e994a91
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-d724458e-f7df-4c24-b3a1-b32c38704bc7
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"domain": {"enabled": false, "id": "0c88c3266b2b48d4afd86eba83381321",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/domains/0c88c3266b2b48d4afd86eba83381321"},
        "name": "baz"}}'
  recorded_at: Fri, 15 Jul 2016 10:14:11 GMT
[...]
- request:
    method: patch
    uri: http://devstack.openstack.stack:35357/v3/domains/0c88c3266b2b48d4afd86eba83381321
    body:
      encoding: UTF-8
      string: '{"domain":{"enabled":false}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - f60f978b45374bea831b5dd55e994a91
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-4501beb0-5b6d-4491-a8a3-646f20e6c669
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find domain: 0c88c3266b2b48d4afd86eba83381321",
        "code": 404, "title": "Not Found"}}'
  recorded_at: Fri, 15 Jul 2016 10:14:12 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/domains
    body:
      encoding: UTF-8
      string: '{"domain":{"name":"foobar"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 6c68027dce55403e88f153fdd604a1b7
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-4bc49c15-db1e-4db1-93ca-bf4b0b45276b
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"domain": {"enabled": true, "id": "f3accfe055234f92bd03c25e45ac0c93",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/domains/f3accfe055234f92bd03c25e45ac0c93"},
        "name": "foobar"}}'
  recorded_at: Fri, 15 Jul 2016 12:05:35 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/domains?name=foobar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 6c68027dce55403e88f153fdd604a1b7
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-68e6c2c4-851c-4912-bc65-b900bc094f24
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"domains": [{"enabled": true, "id": "f3accfe055234f92bd03c25e45ac0c93",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/domains/f3accfe055234f92bd03c25e45ac0c93"},
        "name": "foobar"}], "links": {"self": "http://devstack.openstack.stack:35357/v3/domains?name=foobar",
        "previous": null, "next": null}}'
  recorded_at: Fri, 15 Jul 2016 12:05:35 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/domains?name=baz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 6c68027dce55403e88f153fdd604a1b7
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-2a03c4c5-c3d9-4d01-bf47-41c0bbb687ba
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"domains": [{"enabled": false, "id": "f3accfe055234f92bd03c25e45ac0c93",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/domains/f3accfe055234f92bd03c25e45ac0c93"},
        "name": "baz"}], "links": {"self": "http://devstack.openstack.stack:35357/v3/domains?name=baz",
        "previous": null, "next": null}}'
  recorded_at: Fri, 15 Jul 2016 12:05:35 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/domains?name=baz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 6c68027dce55403e88f153fdd604a1b7
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-6f752cfb-cf03-4634-ae01-3bf72f310d18
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"domains": [], "links": {"self": "http://devstack.openstack.stack:35357/v3/domains?name=baz",
        "previous": null, "next": null}}'
  recorded_at: Fri, 15 Jul 2016 12:05:36 GMT
recorded_with: VCR 3.0.1
