---
http_interactions:
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["password"],"password":{"user":{"id":"205e0e39a2534743b517ed0aa2fbcda7","password":"password"}}},"scope":{"project":{"domain":{"name":"Default"},"name":"admin"}}}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Subject-Token:
      - 1dc89d8823b64c8d8e0f49f409da3d8d
      X-Openstack-Request-Id:
      - req-238d6c57-319c-487e-9f44-526c4ca6eb9d
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token": {"methods": ["password"], "roles": [{"id": "5929fb4077c3415c9850e66f2c2be16b",
        "name": "admin"}, {"id": "13c811edcd2a46dca5fed6252fd50cd2", "name": "service"},
        {"id": "d46ad249d4dd40eb840d20ec917d682e", "name": "ResellerAdmin"}], "expires_at":
        "2016-05-03T14:51:53.320248Z", "project": {"domain": {"id": "default", "name":
        "Default"}, "id": "f17a4813648d4b0bb82124ca1f5f1fd0", "name": "admin"}, "catalog":
        [{"endpoints": [{"region_id": "RegionOne", "url": "http://devstack.openstack.stack:8776/v2/f17a4813648d4b0bb82124ca1f5f1fd0",
        "region": "RegionOne", "interface": "public", "id": "0e40a16fd8ad4045ae738b749818818e"},
        {"region_id": "RegionOne", "url": "http://devstack.openstack.stack:8776/v2/f17a4813648d4b0bb82124ca1f5f1fd0",
        "region": "RegionOne", "interface": "internal", "id": "1ebe166449b34147ac4df07e492571d9"},
        {"region_id": "RegionOne", "url": "http://devstack.openstack.stack:8776/v2/f17a4813648d4b0bb82124ca1f5f1fd0",
        "region": "RegionOne", "interface": "admin", "id": "b2ae2902e8104f05b5fd2def27a4537a"}],
        "type": "volumev2", "id": "1766683b2f9f4ef2acf7f9e4e359fb9a", "name": "cinderv2"},
        {"endpoints": [], "type": "metering", "id": "18dbb2f0ddeb45b99d11ed0568f153ab",
        "name": "ceilometer"}, {"endpoints": [{"region_id": "RegionOne", "url": "http://mo-edbdf14f1.mo.sap.corp:8777/",
        "region": "RegionOne", "interface": "admin", "id": "6f44eb5bf4e646f9a7afebb1f32501f1"},
        {"region_id": "RegionOne", "url": "http://mo-edbdf14f1.mo.sap.corp:8777/",
        "region": "RegionOne", "inte[...]
[...]
- request:
    method: head
    uri: http://devstack.openstack.stack:35357/v3/auth/tokens
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
      X-Subject-Token:
      - 1dc89d8823b64c8d8e0f49f409da3d8d
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Subject-Token:
      - 1dc89d8823b64c8d8e0f49f409da3d8d
      X-Openstack-Request-Id:
      - req-71e552e5-b39d-41a1-8acf-546a01de9d0f
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 03 May 2016 13:51:53 GMT
[...]
- request:
    method: head
    uri: http://devstack.openstack.stack:35357/v3/auth/tokens
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
      X-Subject-Token:
      - 1dc89d8823b64c8d8e0f49f409da3d8d
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-4976401f-9aec-4380-b758-fa5263d2ffce
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 03 May 2016 13:51:53 GMT
recorded_with: VCR 3.0.1
