---
http_interactions:
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/users/ceb6c4f76e57438caa5a4004d96f9d7d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 04f7f60579ce4a958e6aadaf85a2c32f
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-9ba7dc64-d6c4-4273-ae0a-1c91c6c4c06d
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 10:14:36 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/users
    body:
      encoding: UTF-8
      string: '{"user":{"name":"u-foobar_cred","email":"foobar@example.com","password":"s3cret!"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 9a0afd6c6f514dfdab2513c990330243
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-0159a767-89af-4964-96a3-3729543d6867
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"user": {"name": "u-foobar_cred", "links": {"self": "http://devstack.openstack.stack:35357/v3/users/a0a14563ac484f83ae618c53bf04f1e3"},
        "domain_id": "default", "enabled": true, "email": "foobar@example.com", "id":
        "a0a14563ac484f83ae618c53bf04f1e3"}}'
  recorded_at: Fri, 15 Jul 2016 12:05:23 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 9a0afd6c6f514dfdab2513c990330243
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-5a6fed58-4b87-4069-8714-ce27a0ec2eff
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects", "previous":
        null, "next": null}, "projects": [{"is_domain": false, "description": "",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/projects/2ab82e30d7984631874def67813dffd8"},
        "enabled": true, "id": "2ab82e30d7984631874def67813dffd8", "parent_id": null,
        "domain_id": "default", "name": "service"}, {"is_domain": false, "description":
        "Monasca Monitoring Project", "links": {"self": "http://devstack.openstack.stack:35357/v3/projects/30079dd13fb1488a88e6ee32f3e0b9ac"},
        "enabled": true, "id": "30079dd13fb1488a88e6ee32f3e0b9ac", "parent_id": null,
        "domain_id": "default", "name": "monitoring"}, {"is_domain": false, "description":
        "", "links": {"self": "http://devstack.openstack.stack:35357/v3/projects/5c2f[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 9a0afd6c6f514dfdab2513c990330243
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-d181cd29-82ab-4510-b6ec-649e0be98d07
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"credentials": [], "links": {"self": "http://devstack.openstack.stack:35357/v3/credentials",
        "previous": null, "next": null}}'
  recorded_at: Fri, 15 Jul 2016 12:05:24 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/credentials
    body:
      encoding: UTF-8
      string: '{"credential":{"type":"ec2","project_id":"2ab82e30d7984631874def67813dffd8","user_id":"a0a14563ac484f83ae618c53bf04f1e3","blob":"{\"access\":\"9c4e774a-f644-498f-90c4-970b3f817fc5\",\"secret\":\"7e084117-b13d-4656-9eca-85376b690897\"}"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 9a0afd6c6f514dfdab2513c990330243
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-bdf5d295-c07d-4258-b6e8-d41697165f56
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"credential": {"user_id": "a0a14563ac484f83ae618c53bf04f1e3", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/credentials/9e7bb4e633cc08cc863fe15351911e267f2a953b24c1a80f0f35e173303bafae"},
        "blob": "{\"access\":\"9c4e774a-f644-498f-90c4-970b3f817fc5\",\"secret\":\"7e084117-b13d-4656-9eca-85376b690897\"}",
        "project_id": "2ab82e30d7984631874def67813dffd8", "type": "ec2", "id": "9e7bb4e633cc08cc863fe15351911e267f2a953b24c1a80f0f35e173303bafae"}}'
  recorded_at: Fri, 15 Jul 2016 12:05:24 GMT
[...]
- request:
    method: patch
    uri: http://devstack.openstack.stack:35357/v3/credentials/9e7bb4e633cc08cc863fe15351911e267f2a953b24c1a80f0f35e173303bafae
    body:
      encoding: UTF-8
      string: '{"credential":{"blob":"{\"access\":\"9c4e774a-f644-498f-90c4-970b3f817fc5\",\"secret\":\"62307bcd-ca3c-47ae-a114-27a6cadb5bc9\"}"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 9a0afd6c6f514dfdab2513c990330243
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-cd14d0e1-0586-42a2-8c79-ad3a36ac3f58
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"credential": {"user_id": "a0a14563ac484f83ae618c53bf04f1e3", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/credentials/9e7bb4e633cc08cc863fe15351911e267f2a953b24c1a80f0f35e173303bafae"},
        "blob": "{\"access\":\"9c4e774a-f644-498f-90c4-970b3f817fc5\",\"secret\":\"62307bcd-ca3c-47ae-a114-27a6cadb5bc9\"}",
        "project_id": "2ab82e30d7984631874def67813dffd8", "type": "ec2", "id": "9e7bb4e633cc08cc863fe15351911e267f2a953b24c1a80f0f35e173303bafae"}}'
  recorded_at: Fri, 15 Jul 2016 12:05:24 GMT
[...]
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/credentials/9e7bb4e633cc08cc863fe15351911e267f2a953b24c1a80f0f35e173303bafae
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 9a0afd6c6f514dfdab2513c990330243
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-ffc59178-a4e9-4cac-9ede-32edd7c2a15d
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find credential: 9e7bb4e633cc08cc863fe15351911e267f2a953b24c1a80f0f35e173303bafae",
        "code": 404, "title": "Not Found"}}'
  recorded_at: Fri, 15 Jul 2016 12:05:25 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 9a0afd6c6f514dfdab2513c990330243
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-98ffecc3-5382-4228-b510-886cc2cad960
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"credentials": [], "links": {"self": "http://devstack.openstack.stack:35357/v3/credentials",
        "previous": null, "next": null}}'
  recorded_at: Fri, 15 Jul 2016 12:05:25 GMT
recorded_with: VCR 3.0.1
