---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/policies
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b0b359d3345c46bc89b78d13d1bd3817
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-a0732e99-858f-441d-a311-df52e2e1d773
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/policies", "previous":
        null, "next": null}, "policies": []}'
  recorded_at: Fri, 15 Jul 2016 12:05:57 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/policies/atlantis
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b0b359d3345c46bc89b78d13d1bd3817
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-8e7cd9b8-6a13-4b59-8ca9-c9d775073853
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find policy: atlantis", "code": 404,
        "title": "Not Found"}}'
  recorded_at: Fri, 15 Jul 2016 12:05:57 GMT
recorded_with: VCR 3.0.1
