---
http_interactions:
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/users
    body:
      encoding: UTF-8
      string: '{"user":{"name":"foobar_role_user","email":"foobar@example.com","password":"s3cret!"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - edd712b9b5304605bfb5c8a924a6c94d
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-36ac470a-828d-4d2a-8208-e304e5d23e3b
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"user": {"name": "foobar_role_user", "links": {"self": "http://devstack.openstack.stack:35357/v3/users/9de0e6eccf41431f9a8256b28ecf85e6"},
        "domain_id": "default", "enabled": true, "email": "foobar@example.com", "id":
        "9de0e6eccf41431f9a8256b28ecf85e6"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:35 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/domains/default/users/9de0e6eccf41431f9a8256b28ecf85e6/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - edd712b9b5304605bfb5c8a924a6c94d
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-2541db79-3a4a-425a-866e-9e9c6257392c
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/domains/default/users/9de0e6eccf41431f9a8256b28ecf85e6/roles",
        "previous": null, "next": null}, "roles": []}'
  recorded_at: Fri, 15 Jul 2016 13:11:35 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/roles
    body:
      encoding: UTF-8
      string: '{"role":{"name":"foobar_role"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - edd712b9b5304605bfb5c8a924a6c94d
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-3379a2ed-c937-463c-a4a2-df00fb66a3e2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"role": {"id": "2787c3c79dc84d90a03d0bceec0b97da", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/roles/2787c3c79dc84d90a03d0bceec0b97da"}, "name":
        "foobar_role"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:35 GMT
- request:
    method: put
    uri: http://devstack.openstack.stack:35357/v3/domains/default/users/9de0e6eccf41431f9a8256b28ecf85e6/roles/2787c3c79dc84d90a03d0bceec0b97da
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - edd712b9b5304605bfb5c8a924a6c94d
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-57bd17ad-512e-40a2-ac88-d5272f35c046
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 13:11:36 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/role_assignments?user.id=9de0e6eccf41431f9a8256b28ecf85e6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - edd712b9b5304605bfb5c8a924a6c94d
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-6c5fcfab-2c30-4114-9ffe-fd4a87d556fa
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"role_assignments": [{"scope": {"domain": {"id": "default"}}, "role":
        {"id": "2787c3c79dc84d90a03d0bceec0b97da"}, "user": {"id": "9de0e6eccf41431f9a8256b28ecf85e6"},
        "links": {"assignment": "http://devstack.openstack.stack:35357/v3/domains/default/users/9de0e6eccf41431f9a8256b28ecf85e6/roles/2787c3c79dc84d90a03d0bceec0b97da"}}],
        "links": {"self": "http://devstack.openstack.stack:35357/v3/role_assignments?user.id=9de0e6eccf41431f9a8256b28ecf85e6",
        "previous": null, "next": null}}'
  recorded_at: Fri, 15 Jul 2016 13:11:36 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/role_assignments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - edd712b9b5304605bfb5c8a924a6c94d
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-8c811eef-3c50-49ad-9132-3addf6038ecb
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"role_assignments": [{"scope": {"project": {"id": "2ab82e30d7984631874def67813dffd8"}},
        "role": {"id": "5929fb4077c3415c9850e66f2c2be16b"}, "user": {"id": "0536d9fac63c465ebf60a2a5f87bea1f"},
        "links": {"assignment": "http://devstack.openstack.stack:35357/v3/projects/2ab82e30d7984631874def67813dffd8/users/0536d9fac63c465ebf60a2a5f87bea1f/roles/5929fb4077c3415c9850e66f2c2be16b"}},
        [...]
{"scope": {"project": {"id": "30079dd13fb1488a88e6ee32f3e0b9ac"}}, "role":
        {"id": "eb4ca4ce31d748ccb91d2052a2f5bedf"}, "group": {"id": "66d5464244d64171a5b1acbdd7634989"},
        "links": {"assignment": "http://devstack.openstack.stack:35357/v3/projects/30079dd13fb1488a88e6ee32f3e0b9ac/groups/66d5464244d64171a5b1acbdd7634989/roles/eb4ca4ce31d748ccb91d2052a2f5bedf"}},
        [...]
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/users/9de0e6eccf41431f9a8256b28ecf85e6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - edd712b9b5304605bfb5c8a924a6c94d
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-564fc184-840a-438b-87da-20361574526f
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 13:11:37 GMT
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/roles/2787c3c79dc84d90a03d0bceec0b97da
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - edd712b9b5304605bfb5c8a924a6c94d
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-6ff2ec65-fa8a-46e9-8ed1-53a5a1f066a5
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 13:11:37 GMT
recorded_with: VCR 3.0.1
