---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-a24ba29b-6343-40e0-8b27-c1c8ec0c012b
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/groups", "previous":
        null, "next": null}, "groups": [{"domain_id": "default", "description": "Technical
        users for Monasca Agents", "id": "66d5464244d64171a5b1acbdd7634989", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/groups/66d5464244d64171a5b1acbdd7634989"},
        "name": "MonitoringAgents"}, {"domain_id": "default", "description": "Users
        with access to the Monasca Monitoring service", "id": "d3460e03a73d4aad9a999542290a0251",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/groups/d3460e03a73d4aad9a999542290a0251"},
        "name": "MonitoringUsers"}, {"domain_id": "default", "description": "openstack
        admin group", "id": "e47ddb5b1f774b5481376facec57075a", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/groups/e47ddb5b1f774b5481376facec57075a"}, "name":
        "admins"}, {"domain_id": "default", "description": "non-admin group", "id":
        "f23d78d762544dcf9d5a5680e167bdc2", "links": {"self": "http://devstack.openstack.stack:35357/v3/groups/f23d78d762544dcf9d5a5680e167bdc2"},
        "name": "nonadmins"}]}'
  recorded_at: Tue, 03 May 2016 13:51:49 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/groups
    body:
      encoding: UTF-8
      string: '{"group":{"name":"foobar","description":"Group of Foobar users"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-7a259615-6de8-4a72-a0ca-84246ae80b92
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"group": {"domain_id": "default", "description": "Group of Foobar
        users", "id": "e7124aad44f74b73b6bb6a6fd04aed17", "links": {"self": "http://devstack.openstack.stack:35357/v3/groups/e7124aad44f74b73b6bb6a6fd04aed17"},
        "name": "foobar"}}'
  recorded_at: Tue, 03 May 2016 13:51:49 GMT
[...]
- request:
    method: patch
    uri: http://devstack.openstack.stack:35357/v3/groups/e7124aad44f74b73b6bb6a6fd04aed17
    body:
      encoding: UTF-8
      string: '{"group":{"name":"baz","description":"Group of Baz users"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-6c946c50-2062-451e-a66f-7e6e9b45e285
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"group": {"domain_id": "default", "description": "Group of Baz users",
        "id": "e7124aad44f74b73b6bb6a6fd04aed17", "links": {"self": "http://devstack.openstack.stack:35357/v3/groups/e7124aad44f74b73b6bb6a6fd04aed17"},
        "name": "baz"}}'
  recorded_at: Tue, 03 May 2016 13:51:50 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/users
    body:
      encoding: UTF-8
      string: '{"user":{"name":"foobar1","email":"foobar1@example.com","password":"s3cret!1"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-ce26e686-1fdc-464a-a6b2-0b4b6bbefa56
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"user": {"name": "foobar1", "links": {"self": "http://devstack.openstack.stack:35357/v3/users/05a83e694acc4ec0ba615208891d9716"},
        "domain_id": "default", "enabled": true, "email": "foobar1@example.com", "id":
        "05a83e694acc4ec0ba615208891d9716"}}'
  recorded_at: Tue, 03 May 2016 13:51:50 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/users/05a83e694acc4ec0ba615208891d9716/groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-7a5dc315-9dd5-45d3-9a06-fc83d7b3537a
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/users/05a83e694acc4ec0ba615208891d9716/groups",
        "previous": null, "next": null}, "groups": []}'
  recorded_at: Tue, 03 May 2016 13:51:50 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/groups/e7124aad44f74b73b6bb6a6fd04aed17/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-f9e3a201-f197-4603-b828-959568ba24f7
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"users": [], "links": {"self": "http://devstack.openstack.stack:35357/v3/groups/e7124aad44f74b73b6bb6a6fd04aed17/users",
        "previous": null, "next": null}}'
  recorded_at: Tue, 03 May 2016 13:51:51 GMT
- request:
    method: put
    uri: http://devstack.openstack.stack:35357/v3/groups/e7124aad44f74b73b6bb6a6fd04aed17/users/05a83e694acc4ec0ba615208891d9716
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-116ba6f2-f26a-48f5-9ecb-2b2ac0d7866b
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 03 May 2016 13:51:51 GMT
[...]
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/users/05a83e694acc4ec0ba615208891d9716
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-3055fb14-d7fc-4492-862b-586adc4be119
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 03 May 2016 13:51:52 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/groups/e7124aad44f74b73b6bb6a6fd04aed17
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-0c36d99f-3deb-4041-96b8-e357ae746f4b
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find group: e7124aad44f74b73b6bb6a6fd04aed17",
        "code": 404, "title": "Not Found"}}'
  recorded_at: Tue, 03 May 2016 13:51:52 GMT
[...]
