---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1c53fbc9725840aca6b53e3ffba83d85
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-3bc3df2d-7c8f-4f87-842c-9adfd3ba5664
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/groups", "previous":
        null, "next": null}, "groups": [{"domain_id": "default", "description": "Technical
        users for Monasca Agents", "id": "66d5464244d64171a5b1acbdd7634989", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/groups/66d5464244d64171a5b1acbdd7634989"},
        "name": "MonitoringAgents"}, {"domain_id": "default", "description": "Users
        with access to the Monasca Monitoring service", "id": "d3460e03a73d4aad9a999542290a0251",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/groups/d3460e03a73d4aad9a999542290a0251"},
        "name": "MonitoringUsers"}, {"domain_id": "default", "description": "openstack
        admin group", "id": "e47ddb5b1f774b5481376facec57075a", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/groups/e47ddb5b1f774b5481376facec57075a"}, "name":
        "admins"}, {"domain_id": "default", "description": "non-admin group", "id":
        "f23d78d762544dcf9d5a5680e167bdc2", "links": {"self": "http://devstack.openstack.stack:35357/v3/groups/f23d78d762544dcf9d5a5680e167bdc2"},
        "name": "nonadmins"}]}'
  recorded_at: Fri, 15 Jul 2016 13:11:43 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/groups
    body:
      encoding: UTF-8
      string: '{"group":{"name":"foobar","description":"Group of Foobar users"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1c53fbc9725840aca6b53e3ffba83d85
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-eaadb533-ae96-48f4-941f-dace6290784b
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"group": {"domain_id": "default", "description": "Group of Foobar
        users", "id": "ccec977505344d428bac674233e0330e", "links": {"self": "http://devstack.openstack.stack:35357/v3/groups/ccec977505344d428bac674233e0330e"},
        "name": "foobar"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:43 GMT
[...]
- request:
    method: patch
    uri: http://devstack.openstack.stack:35357/v3/groups/ccec977505344d428bac674233e0330e
    body:
      encoding: UTF-8
      string: '{"group":{"name":"baz","description":"Group of Baz users"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1c53fbc9725840aca6b53e3ffba83d85
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-ccfbba33-15bb-42f2-812a-551d802b7f0d
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"group": {"domain_id": "default", "description": "Group of Baz users",
        "id": "ccec977505344d428bac674233e0330e", "links": {"self": "http://devstack.openstack.stack:35357/v3/groups/ccec977505344d428bac674233e0330e"},
        "name": "baz"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:43 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/users
    body:
      encoding: UTF-8
      string: '{"user":{"name":"foobar1","email":"foobar1@example.com","password":"s3cret!1"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1c53fbc9725840aca6b53e3ffba83d85
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-8e7e52df-16e2-475a-b1e3-d64f90a61215
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"user": {"name": "foobar1", "links": {"self": "http://devstack.openstack.stack:35357/v3/users/7c76c6417eab476abe371c412dd09cfd"},
        "domain_id": "default", "enabled": true, "email": "foobar1@example.com", "id":
        "7c76c6417eab476abe371c412dd09cfd"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:44 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/users/7c76c6417eab476abe371c412dd09cfd/groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1c53fbc9725840aca6b53e3ffba83d85
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-15f3ace2-dc88-48fc-b396-54afef642f6a
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/users/7c76c6417eab476abe371c412dd09cfd/groups",
        "previous": null, "next": null}, "groups": []}'
  recorded_at: Fri, 15 Jul 2016 13:11:44 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/groups/ccec977505344d428bac674233e0330e/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1c53fbc9725840aca6b53e3ffba83d85
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-8e448b75-e1e3-404f-b824-565be5c797d8
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"users": [], "links": {"self": "http://devstack.openstack.stack:35357/v3/groups/ccec977505344d428bac674233e0330e/users",
        "previous": null, "next": null}}'
  recorded_at: Fri, 15 Jul 2016 13:11:44 GMT
- request:
    method: put
    uri: http://devstack.openstack.stack:35357/v3/groups/ccec977505344d428bac674233e0330e/users/7c76c6417eab476abe371c412dd09cfd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1c53fbc9725840aca6b53e3ffba83d85
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-ec5f5018-895d-47fe-8e1f-8717470a0191
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 13:11:44 GMT
[...]
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/users/7c76c6417eab476abe371c412dd09cfd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1c53fbc9725840aca6b53e3ffba83d85
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-c0db9cfa-ad98-4d93-978a-4225da9faeee
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 13:11:46 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/groups/ccec977505344d428bac674233e0330e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1c53fbc9725840aca6b53e3ffba83d85
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-4623d928-5118-4919-8ddb-3c5409e3c217
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find group: ccec977505344d428bac674233e0330e",
        "code": 404, "title": "Not Found"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:47 GMT
[...]
