---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b82ddd5cf2a84a7f9600158ac49833f7
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-a87c8670-6f62-4759-9d16-03bd9f0ff0cc
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/roles", "previous":
        null, "next": null}, "roles": [{"id": "13c811edcd2a46dca5fed6252fd50cd2",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/roles/13c811edcd2a46dca5fed6252fd50cd2"},
        "name": "service"}, {"id": "4572d4dbab1e4b31b9c6ac7b63e2f8e1", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/roles/4572d4dbab1e4b31b9c6ac7b63e2f8e1"}, "name":
        "testrole"}, {"id": "48464b0373554d74b87e14380df097e6", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/roles/48464b0373554d74b87e14380df097e6"}, "name":
        "monitoring-delegate"}, {"id": "5929fb4077c3415c9850e66f2c2be16b", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/roles/5929fb4077c3415c9850e66f2c2be16b"},
        "name": "admin"}, {"id": "7e4e00f7c94145a1855f39c32331ff5d", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/roles/7e4e00f7c94145a1855f39c32331ff5d"}, "name":
        "monasca-user"}, {"id": "d46ad249d4dd40eb840d20ec917d682e", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/roles/d46ad249d4dd40eb840d20ec917d682e"}, "name":
        "ResellerAdmin"}, {"id": "d97660751404495ab8c405826d547c16", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/roles/d97660751404495ab8c405826d547c16"}, "name":
        "Member"}, {"id": "eb4ca4ce31d748ccb91d2052a2f5bedf", "links": {"self": "http://devstack.openstack.stack:35357/v3/roles/eb4ca4ce31d748ccb91d2052a2f5bedf"},
        "name": "monasca-agent"}, {"id": "eb9f0f3b348042ffa65f9d33e5d72014", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/roles/eb9f0f3b348042ffa65f9d33e5d72014"},
        "name": "anotherrole"}]}'
  recorded_at: Fri, 15 Jul 2016 13:11:06 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/roles/atlantis
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b82ddd5cf2a84a7f9600158ac49833f7
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-c95b8758-287b-4718-b044-314c54047ebe
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find role: atlantis", "code": 404,
        "title": "Not Found"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:06 GMT
recorded_with: VCR 3.0.1
