---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/domains/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-7ebfbfac-f074-460a-9920-480e038cec79
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"domain": {"links": {"self": "http://devstack.openstack.stack:35357/v3/domains/default"},
        "enabled": true, "description": "Owns users and tenants (i.e. projects) available
        on Identity API v2.", "name": "Default", "id": "default"}}'
  recorded_at: Tue, 03 May 2016 13:52:05 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/projects
    body:
      encoding: UTF-8
      string: '{"project":{"name":"p-foobar46"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-10403bbe-75a3-49df-a028-5226c85af556
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"project": {"is_domain": false, "description": "", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/projects/6c752a162b6e4168b3f451ccf65d495e"},
        "enabled": true, "id": "6c752a162b6e4168b3f451ccf65d495e", "parent_id": null,
        "domain_id": "default", "name": "p-foobar46"}}'
  recorded_at: Tue, 03 May 2016 13:52:05 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects?name=p-foobar46
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-547f8538-2f5a-41d8-b1b9-57078ee475fe
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects?name=p-foobar46",
        "previous": null, "next": null}, "projects": [{"is_domain": false, "description":
        "", "links": {"self": "http://devstack.openstack.stack:35357/v3/projects/6c752a162b6e4168b3f451ccf65d495e"},
        "enabled": true, "id": "6c752a162b6e4168b3f451ccf65d495e", "parent_id": null,
        "domain_id": "default", "name": "p-foobar46"}]}'
  recorded_at: Tue, 03 May 2016 13:52:05 GMT
- request:
    method: patch
    uri: http://devstack.openstack.stack:35357/v3/projects/6c752a162b6e4168b3f451ccf65d495e
    body:
      encoding: UTF-8
      string: '{"project":{"name":"p-baz46","enabled":false}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-14f9ef05-8627-402f-8e29-4909d9234e20
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"project": {"is_domain": false, "description": "", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/projects/6c752a162b6e4168b3f451ccf65d495e"},
        "extra": {}, "enabled": false, "id": "6c752a162b6e4168b3f451ccf65d495e", "parent_id":
        null, "domain_id": "default", "name": "p-baz46"}}'
  recorded_at: Tue, 03 May 2016 13:52:06 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects?name=p-baz46
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-0c87cf2c-bb43-4ef3-8039-d4514edf2d6c
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects?name=p-baz46",
        "previous": null, "next": null}, "projects": [{"is_domain": false, "description":
        "", "links": {"self": "http://devstack.openstack.stack:35357/v3/projects/6c752a162b6e4168b3f451ccf65d495e"},
        "enabled": false, "id": "6c752a162b6e4168b3f451ccf65d495e", "parent_id": null,
        "domain_id": "default", "name": "p-baz46"}]}'
  recorded_at: Tue, 03 May 2016 13:52:06 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/6c752a162b6e4168b3f451ccf65d495e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-e8712f4e-b15c-4264-ac82-3e9dc774602e
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find project: 6c752a162b6e4168b3f451ccf65d495e",
        "code": 404, "title": "Not Found"}}'
  recorded_at: Tue, 03 May 2016 13:52:06 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects?name=p-baz46
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-e1764b8b-5e2e-4b6b-b8c4-794f2d1a12fa
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects?name=p-baz46",
        "previous": null, "next": null}, "projects": []}'
  recorded_at: Tue, 03 May 2016 13:52:06 GMT
recorded_with: VCR 3.0.1
