---
http_interactions:
- request:
    method: patch
    uri: http://devstack.openstack.stack:35357/v3/users/07c694bcb27540e6afe6273f5bb75319
    body:
      encoding: UTF-8
      string: '{"user":{"name":"baz","enabled":false}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - a43a729328724dab94f85832578a097f
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-59d17599-313a-4579-9b8e-f7bed346197b
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"user": {"name": "baz", "links": {"self": "http://devstack.openstack.stack:35357/v3/users/07c694bcb27540e6afe6273f5bb75319"},
        "extra": {"email": "foobar@example.com"}, "domain_id": "default", "enabled":
        false, "email": "foobar@example.com", "id": "07c694bcb27540e6afe6273f5bb75319"}}'
  recorded_at: Fri, 15 Jul 2016 10:14:44 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/users/07c694bcb27540e6afe6273f5bb75319
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - a43a729328724dab94f85832578a097f
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-05ffeacb-cf3c-4d1c-ab03-abd0b1b4d43b
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find user: 07c694bcb27540e6afe6273f5bb75319",
        "code": 404, "title": "Not Found"}}'
  recorded_at: Fri, 15 Jul 2016 10:14:45 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/users?name=foobar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4cc0349d40d24a0ea18ff7b612145b9a
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-659d73df-4596-45aa-8588-239ef25b747a
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"users": [], "links": {"self": "http://devstack.openstack.stack:35357/v3/users?name=foobar",
        "previous": null, "next": null}}'
  recorded_at: Fri, 15 Jul 2016 12:05:59 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/users?name=baz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4cc0349d40d24a0ea18ff7b612145b9a
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-205b10d0-bd45-4d66-9a23-f0fdb417f88b
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"users": [], "links": {"self": "http://devstack.openstack.stack:35357/v3/users?name=baz",
        "previous": null, "next": null}}'
  recorded_at: Fri, 15 Jul 2016 12:05:59 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/users
    body:
      encoding: UTF-8
      string: '{"user":{"name":"foobar","email":"foobar@example.com","password":"s3cret!"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4cc0349d40d24a0ea18ff7b612145b9a
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-3a82f6a0-6a11-4a50-a1d9-c4175e4d76e5
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"user": {"name": "foobar", "links": {"self": "http://devstack.openstack.stack:35357/v3/users/7a0fc6fe47d14c93bb7cccb0cd04b8eb"},
        "domain_id": "default", "enabled": true, "email": "foobar@example.com", "id":
        "7a0fc6fe47d14c93bb7cccb0cd04b8eb"}}'
  recorded_at: Fri, 15 Jul 2016 12:05:59 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4cc0349d40d24a0ea18ff7b612145b9a
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-d55d5bc6-10f9-4898-bf59-19bd3ff0716e
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"users": [{"name": "swift", "links": {"self": "http://devstack.openstack.stack:35357/v3/users/0536d9fac63c465ebf60a2a5f87bea1f"},
        "enabled": true, "id": "0536d9fac63c465ebf60a2a5f87bea1f", "domain_id": "default"},
        {"links": {"self": "http://devstack.openstack.stack:35357/v3/users/1432886c5942446988bd6796a72bd08c"},
        "description": "Monasca Api User", "name": "monascaapi", "domain_id": "default",
        "enabled": true, "id": "1432886c5942446988bd6796a72bd08c", "default_project_id":
        "30079dd13fb1488a88e6ee32f3e0b9ac"}, {"links": {"self": "http://devstack.openstack.stack:35357/v3/users/19f57ca4000744a39da3e13611a7e8b9"},
        "description": "test user for billing", "name": "dummy4", "domain_id": "default",
        "enabled": true, "id": "19f57ca4000744a39da3e13611a7e8b9", "default_project_id":
        "a5db6ff5a6274dd589b6a05945d7f34d"}, {"name": "admin", "links": {"self": "http://devstack.openstack.stack:35357/v3/users/205e0e39a2534743b517ed0aa2fbcda7"},
       [...]
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/users?name=baz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4cc0349d40d24a0ea18ff7b612145b9a
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-31879bad-2d76-407a-9e8c-a29eb9324fef
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"users": [], "links": {"self": "http://devstack.openstack.stack:35357/v3/users?name=baz",
        "previous": null, "next": null}}'
  recorded_at: Fri, 15 Jul 2016 12:06:01 GMT
recorded_with: VCR 3.0.1
