---
http_interactions:
- request:
    method: put
    uri: http://devstack.openstack.stack:35357/v3/groups/acbaf1e1ff8c40adb9e124ea63974eba/users/b70ce51ec18e4832a9c2bb5e13a006dc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e1bbcd8966ff4add8d719473d011c7bb
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-3c52a581-fc4c-47c6-8e4d-a9b73d0eafa8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 10:14:01 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/users/b70ce51ec18e4832a9c2bb5e13a006dc/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e1bbcd8966ff4add8d719473d011c7bb
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-89a48676-5d60-4dab-9e97-bbb12a5aeec6
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/users/b70ce51ec18e4832a9c2bb5e13a006dc/projects",
        "previous": null, "next": null}, "projects": []}'
  recorded_at: Fri, 15 Jul 2016 10:14:01 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/role_assignments?effective=true&scope.project.id=28b257372e7a4d2bb342896b78fa1f85&user.id=b70ce51ec18e4832a9c2bb5e13a006dc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e1bbcd8966ff4add8d719473d011c7bb
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-002c7d0f-6a31-4545-896c-0144a821f255
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"role_assignments": [], "links": {"self": "http://devstack.openstack.stack:35357/v3/role_assignments?effective=true&scope.project.id=28b257372e7a4d2bb342896b78fa1f85&user.id=b70ce51ec18e4832a9c2bb5e13a006dc",
        "previous": null, "next": null}}'
  recorded_at: Fri, 15 Jul 2016 10:14:02 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/28b257372e7a4d2bb342896b78fa1f85/users/b70ce51ec18e4832a9c2bb5e13a006dc/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e1bbcd8966ff4add8d719473d011c7bb
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-bd430d80-0431-4a20-8eeb-792a9f06b9e7
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects/28b257372e7a4d2bb342896b78fa1f85/users/b70ce51ec18e4832a9c2bb5e13a006dc/roles",
        "previous": null, "next": null}, "roles": []}'
  recorded_at: Fri, 15 Jul 2016 10:14:02 GMT
- request:
    method: put
    uri: http://devstack.openstack.stack:35357/v3/projects/28b257372e7a4d2bb342896b78fa1f85/users/b70ce51ec18e4832a9c2bb5e13a006dc/roles/f6bcfd6bbd8f40c39b89b56c268c3228
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e1bbcd8966ff4add8d719473d011c7bb
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-e8c356b1-7ecd-4309-ad31-c9dd106a98ce
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 10:14:02 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/users/b70ce51ec18e4832a9c2bb5e13a006dc/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e1bbcd8966ff4add8d719473d011c7bb
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-3da5f29c-197c-4445-95c3-718a58c64258
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/users/b70ce51ec18e4832a9c2bb5e13a006dc/projects",
        "previous": null, "next": null}, "projects": [{"is_domain": false, "description":
        "", "links": {"self": "http://devstack.openstack.stack:35357/v3/projects/28b257372e7a4d2bb342896b78fa1f85"},
        "enabled": true, "id": "28b257372e7a4d2bb342896b78fa1f85", "parent_id": null,
        "domain_id": "default", "name": "p-foobar69"}]}'
  recorded_at: Fri, 15 Jul 2016 10:14:02 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/28b257372e7a4d2bb342896b78fa1f85/groups/acbaf1e1ff8c40adb9e124ea63974eba/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e1bbcd8966ff4add8d719473d011c7bb
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-8682d149-7ce6-4870-a7f7-d7372a966dc6
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects/28b257372e7a4d2bb342896b78fa1f85/groups/acbaf1e1ff8c40adb9e124ea63974eba/roles",
        "previous": null, "next": null}, "roles": []}'
  recorded_at: Fri, 15 Jul 2016 10:14:03 GMT
[...]
- request:
    method: put
    uri: http://devstack.openstack.stack:35357/v3/projects/28b257372e7a4d2bb342896b78fa1f85/groups/acbaf1e1ff8c40adb9e124ea63974eba/roles/f6bcfd6bbd8f40c39b89b56c268c3228
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e1bbcd8966ff4add8d719473d011c7bb
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-fb57ed67-70fa-4043-9b43-6ff7fa540513
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 10:14:03 GMT
[...]
{"scope": {"project": {"id": "28b257372e7a4d2bb342896b78fa1f85"}},
        "role": {"id": "f6bcfd6bbd8f40c39b89b56c268c3228"}, "user": {"id": "b70ce51ec18e4832a9c2bb5e13a006dc"},
        "links": {"assignment": "http://devstack.openstack.stack:35357/v3/projects/28b257372e7a4d2bb342896b78fa1f85/groups/acbaf1e1ff8c40adb9e124ea63974eba/roles/f6bcfd6bbd8f40c39b89b56c268c3228",
        "membership": "http://devstack.openstack.stack:35357/v3/groups/acbaf1e1ff8c40adb9e124ea63974eba/users/b70ce51ec18e4832a9c2bb5e13a006dc"}}],
        "links": {"self": "http://devstack.openstack.stack:35357/v3/role_assignments?effective=true&scope.project.id=28b257372e7a4d2bb342896b78fa1f85&user.id=b70ce51ec18e4832a9c2bb5e13a006dc",
        "previous": null, "next": null}}'
  recorded_at: Fri, 15 Jul 2016 10:14:04 GMT
[...]
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/users/b70ce51ec18e4832a9c2bb5e13a006dc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e1bbcd8966ff4add8d719473d011c7bb
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-b9c9a6ac-1937-4fa9-acc0-4db1173e0256
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 10:14:05 GMT
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/groups/acbaf1e1ff8c40adb9e124ea63974eba
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e1bbcd8966ff4add8d719473d011c7bb
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-7732e1bf-bf5e-41b1-9c75-c923b9693255
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 10:14:05 GMT
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/roles/f6bcfd6bbd8f40c39b89b56c268c3228
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e1bbcd8966ff4add8d719473d011c7bb
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-5dda5ec7-bcf2-4be6-a56f-841748bbea6b
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 10:14:05 GMT
- request:
    method: patch
    uri: http://devstack.openstack.stack:35357/v3/projects/28b257372e7a4d2bb342896b78fa1f85
    body:
      encoding: UTF-8
      string: '{"project":{"enabled":false}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e1bbcd8966ff4add8d719473d011c7bb
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-3eaebde3-25a5-47d3-815f-ce32876b5b60
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"project": {"is_domain": false, "description": "", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/projects/28b257372e7a4d2bb342896b78fa1f85"},
        "extra": {}, "enabled": false, "id": "28b257372e7a4d2bb342896b78fa1f85", "parent_id":
        null, "domain_id": "default", "name": "p-foobar69"}}'
  recorded_at: Fri, 15 Jul 2016 10:14:05 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects?name=p-foobar69
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 9d026e3582af45ffbbf7ba43fc50f3be
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-0f964266-e437-4593-8d30-561956029ba3
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects?name=p-foobar69",
        "previous": null, "next": null}, "projects": []}'
  recorded_at: Fri, 15 Jul 2016 12:05:41 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/projects
    body:
      encoding: UTF-8
      string: '{"project":{"name":"p-foobar69"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 9d026e3582af45ffbbf7ba43fc50f3be
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-9a3e6645-4f3e-40f4-b177-e3f15227ea5b
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"project": {"is_domain": false, "description": "", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/projects/125030a101274a478aae88bb1f39151e"},
        "enabled": true, "id": "125030a101274a478aae88bb1f39151e", "parent_id": null,
        "domain_id": "default", "name": "p-foobar69"}}'
  recorded_at: Fri, 15 Jul 2016 12:05:41 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/roles?name=baz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 9d026e3582af45ffbbf7ba43fc50f3be
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-00ce522d-876c-40d2-a4c0-e62b6ea525f6
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/roles?name=baz", "previous":
        null, "next": null}, "roles": []}'
  recorded_at: Fri, 15 Jul 2016 12:05:42 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/roles
    body:
      encoding: UTF-8
      string: '{"role":{"name":"baz69"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 9d026e3582af45ffbbf7ba43fc50f3be
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-82081ce3-0e6e-4754-8045-d8528d740468
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"role": {"id": "4bd7d01f07604e21ac1ce7d3b4a1c602", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/roles/4bd7d01f07604e21ac1ce7d3b4a1c602"}, "name":
        "baz69"}}'
  recorded_at: Fri, 15 Jul 2016 12:05:42 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/users
    body:
      encoding: UTF-8
      string: '{"user":{"name":"u-foobar69","email":"foobar@example.com","password":"s3cret!"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 9d026e3582af45ffbbf7ba43fc50f3be
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-b9e00303-cbbf-4ae6-80dc-3aced02faaf5
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"user": {"name": "u-foobar69", "links": {"self": "http://devstack.openstack.stack:35357/v3/users/0b729e5db15d434b913c5393dbbc5f63"},
        "domain_id": "default", "enabled": true, "email": "foobar@example.com", "id":
        "0b729e5db15d434b913c5393dbbc5f63"}}'
  recorded_at: Fri, 15 Jul 2016 12:05:42 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/groups
    body:
      encoding: UTF-8
      string: '{"group":{"name":"g-foobar69","description":"Group of Foobar users"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 9d026e3582af45ffbbf7ba43fc50f3be
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-767cf80a-c16f-4bd2-af58-683b94f8f68f
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"group": {"domain_id": "default", "description": "Group of Foobar
        users", "id": "f6a7634c50cd47a0986103ab2b234564", "links": {"self": "http://devstack.openstack.stack:35357/v3/groups/f6a7634c50cd47a0986103ab2b234564"},
        "name": "g-foobar69"}}'
  recorded_at: Fri, 15 Jul 2016 12:05:42 GMT
[...]
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/projects/125030a101274a478aae88bb1f39151e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 9d026e3582af45ffbbf7ba43fc50f3be
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-3f97adf8-c3c7-4610-907c-3308c68f55be
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 12:05:46 GMT
recorded_with: VCR 3.0.1
