---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/services
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1605f7328eb24e7594ea95b81676ce58
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-5ab7b56c-76bd-41d9-82b1-8f894fc3c4e9
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"services": [{"description": "Cinder Volume Service V2", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/services/1766683b2f9f4ef2acf7f9e4e359fb9a"},
        "enabled": true, "type": "volumev2", "id": "1766683b2f9f4ef2acf7f9e4e359fb9a",
        "name": "cinderv2"}, {"description": "Ceilometer Metering Service", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/services/18dbb2f0ddeb45b99d11ed0568f153ab"},
        "enabled": true, "type": "metering", "id": "18dbb2f0ddeb45b99d11ed0568f153ab",
        "name": "ceilometer"}, {"description": "Ceilometer Metering Service", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/services/261a2c1f467c4b148f38822ae9f179a3"},
        "enabled": true, "type": "metering", "id[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/services
    body:
      encoding: UTF-8
      string: '{"service":{"type":"volume","name":"foobar"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1605f7328eb24e7594ea95b81676ce58
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-f56f8571-1811-4ce9-98f8-a5cf1bed1c0e
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"service": {"enabled": true, "type": "volume", "name": "foobar", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/services/c058a07136474aaba3ecdb3a2878a423"},
        "id": "c058a07136474aaba3ecdb3a2878a423"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:21 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/services?type=volume
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1605f7328eb24e7594ea95b81676ce58
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-b569cc36-c091-4e65-8875-959c4f566c19
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"services": [{"description": "Cinder Volume Service", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/services/4a6033d57e30494a9577358d90d08123"},
        "enabled": true, "type": "volume", "id": "4a6033d57e30494a9577358d90d08123",
        "name": "cinder"}, {"enabled": true, "type": "volume", "name": "foobar", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/services/c058a07136474aaba3ecdb3a2878a423"},
        "id": "c058a07136474aaba3ecdb3a2878a423"}], "links": {"self": "http://devstack.openstack.stack:35357/v3/services?type=volume",
        "previous": null, "next": null}}'
  recorded_at: Fri, 15 Jul 2016 13:11:21 GMT
- request:
    method: patch
    uri: http://devstack.openstack.stack:35357/v3/services/c058a07136474aaba3ecdb3a2878a423
    body:
      encoding: UTF-8
      string: '{"service":{"name":"baz"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1605f7328eb24e7594ea95b81676ce58
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-1b2338cb-abe9-4ba2-ab16-49e091c8563a
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"service": {"enabled": true, "type": "volume", "name": "baz", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/services/c058a07136474aaba3ecdb3a2878a423"},
        "id": "c058a07136474aaba3ecdb3a2878a423"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:21 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/c058a07136474aaba3ecdb3a2878a423
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1605f7328eb24e7594ea95b81676ce58
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-c9262b6c-9dcc-46e6-bc0d-c4e004490d2e
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find project: c058a07136474aaba3ecdb3a2878a423",
        "code": 404, "title": "Not Found"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:22 GMT
[...]
