---
http_interactions:
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/roles
    body:
      encoding: UTF-8
      string: '{"role":{"name":"foobar23"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-85e9ab54-21aa-4219-a3bd-b32823e18a2a
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"role": {"id": "32788c44cae74e09bc0e8d36550e28ee", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/roles/32788c44cae74e09bc0e8d36550e28ee"}, "name":
        "foobar23"}}'
  recorded_at: Tue, 03 May 2016 13:52:03 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/roles?name=foobar23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-b6cbcc88-e89c-4611-b7fe-561a3056c948
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/roles?name=foobar23",
        "previous": null, "next": null}, "roles": [{"id": "32788c44cae74e09bc0e8d36550e28ee",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/roles/32788c44cae74e09bc0e8d36550e28ee"},
        "name": "foobar23"}]}'
  recorded_at: Tue, 03 May 2016 13:52:04 GMT
- request:
    method: patch
    uri: http://devstack.openstack.stack:35357/v3/roles/32788c44cae74e09bc0e8d36550e28ee
    body:
      encoding: UTF-8
      string: '{"role":{"name":"baz23"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-de246498-1cf5-4613-9dca-5fe2fb3d3e87
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"role": {"id": "32788c44cae74e09bc0e8d36550e28ee", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/roles/32788c44cae74e09bc0e8d36550e28ee"}, "name":
        "baz23"}}'
  recorded_at: Tue, 03 May 2016 13:52:04 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/roles?name=baz23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-baacc52f-5046-4db1-8b1f-224d8c5da01a
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/roles?name=baz23",
        "previous": null, "next": null}, "roles": [{"id": "32788c44cae74e09bc0e8d36550e28ee",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/roles/32788c44cae74e09bc0e8d36550e28ee"},
        "name": "baz23"}]}'
  recorded_at: Tue, 03 May 2016 13:52:04 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/roles/32788c44cae74e09bc0e8d36550e28ee
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-14d9b30f-b67c-4c3e-90cf-7232fc9c0ab8
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find role: 32788c44cae74e09bc0e8d36550e28ee",
        "code": 404, "title": "Not Found"}}'
  recorded_at: Tue, 03 May 2016 13:52:04 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/roles?name=baz23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-36760e9e-4666-42bd-8c0d-e249e37e069d
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/roles?name=baz23",
        "previous": null, "next": null}, "roles": []}'
  recorded_at: Tue, 03 May 2016 13:52:05 GMT
recorded_with: VCR 3.0.1
