---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/services
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-66144a21-fa26-4b61-9336-23a239b3f06e
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"services": [{"description": "Cinder Volume Service V2", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/services/1766683b2f9f4ef2acf7f9e4e359fb9a"},
        "enabled": true, "type": "volumev2", "id": "1766683b2f9f4ef2acf7f9e4e359fb9a",
        "name": "cinderv2"}, {"description": "Ceilometer Metering Service", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/services/18dbb2f0ddeb45b99d11ed0568f153ab"},
        "enabled": true, "type": "metering", "id": "18dbb2f0ddeb45b99d11ed0568f153ab",
        "name": "ceilometer"}, {"description": "Ceilometer Metering Service", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/services/261a2c1f467c4b148f38822ae9f179a3"},
        "enabled": true, "type": "metering", "id[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/endpoints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-27f75ca7-2a0f-49dd-bf74-20af6f47ac0c
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"endpoints": [{"region_id": "RegionOne", "links": {"self": "http://devstack.openstack.stack:35357/v3/endpoints/0e40a16fd8ad4045ae738b749818818e"},
        "url": "http://devstack.openstack.stack:8776/v2/$(tenant_id)s", "region": "RegionOne",
        "enabled": true, "interface": "public", "service_id": "1766683b2f9f4ef2acf7f9e4e359fb9a",
        "id": "0e40a16fd8ad4045ae738b749818818e"}, {"region_id": "RegionOne", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/endpoints/0f962cae636846009772e0bd81c39d49"},
        "url": "http://devstack.openstack.stack:8774/v2/$(tenant_id)s", "region": "RegionOne",
        "enabled": true, "interface": "admin", "service_id": "92e80becd6d8462b8f51fb227eb11999",
        "id": "0f962cae636846009772e0bd81c39d49"}, {"region_id": "RegionOne", "[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/endpoints
    body:
      encoding: UTF-8
      string: '{"endpoint":{"service_id":"1766683b2f9f4ef2acf7f9e4e359fb9a","interface":"internal","name":"foobar","url":"http://example.com/foobar","enabled":false}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-dd83f377-c196-4b89-9d05-a099e70af9c1
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"endpoint": {"region_id": null, "links": {"self": "http://devstack.openstack.stack:35357/v3/endpoints/817203fdafc2449bbdab4e7e323021f3"},
        "url": "http://example.com/foobar", "region": null, "enabled": false, "interface":
        "internal", "service_id": "1766683b2f9f4ef2acf7f9e4e359fb9a", "id": "817203fdafc2449bbdab4e7e323021f3",
        "name": "foobar"}}'
  recorded_at: Tue, 03 May 2016 13:52:19 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/endpoints?interface=internal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-9f88db25-1587-420c-a6c7-f11909effd5e
      Content-Type:
      - ap[...]
- request:
    method: patch
    uri: http://devstack.openstack.stack:35357/v3/endpoints/817203fdafc2449bbdab4e7e323021f3
    body:
      encoding: UTF-8
      string: '{"endpoint":{"name":"baz","url":"http://example.com/baz"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-9b1e6d0e-46df-4a64-9678-70fea6e3b9c9
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"endpoint": {"region_id": null, "links": {"self": "http://devstack.openstack.stack:35357/v3/endpoints/817203fdafc2449bbdab4e7e323021f3"},
        "url": "http://example.com/baz", "region": null, "enabled": false, "interface":
        "internal", "service_id": "1766683b2f9f4ef2acf7f9e4e359fb9a", "id": "817203fdafc2449bbdab4e7e323021f3",
        "name": "baz"}}'
  recorded_at: Tue, 03 May 2016 13:52:19 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/endpoints/817203fdafc2449bbdab4e7e323021f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-7fd9af17-6465-4a01-b505-9c5ab8eaea31
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find endpoint: 817203fdafc2449bbdab4e7e323021f3",
        "code": 404, "title": "Not Found"}}'
  recorded_at: Tue, 03 May 2016 13:52:20 GMT
[...]
