---
http_interactions:
- request:
    method: patch
    uri: http://devstack.openstack.stack:35357/v3/groups/e7c755dedea142ef80f27882b6a8514c
    body:
      encoding: UTF-8
      string: '{"group":{"name":"baz","description":"Group of Baz users"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 84c6e9d053ce436dbadcf56f02f3a6dd
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-700de787-8124-4962-84a4-8020d0f05f25
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"group": {"domain_id": "default", "description": "Group of Baz users",
        "id": "e7c755dedea142ef80f27882b6a8514c", "links": {"self": "http://devstack.openstack.stack:35357/v3/groups/e7c755dedea142ef80f27882b6a8514c"},
        "name": "baz"}}'
  recorded_at: Fri, 15 Jul 2016 10:14:26 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/users/14aba776cf294abdbca9fdae0c5c9f9b/groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 84c6e9d053ce436dbadcf56f02f3a6dd
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-342faf93-b660-44f3-9abb-c07ac9286c26
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/users/14aba776cf294abdbca9fdae0c5c9f9b/groups",
        "previous": null, "next": null}, "groups": []}'
  recorded_at: Fri, 15 Jul 2016 10:14:26 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/groups/e7c755dedea142ef80f27882b6a8514c/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 84c6e9d053ce436dbadcf56f02f3a6dd
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-59385c93-2031-4a76-87bc-d859c89c0df3
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"users": [], "links": {"self": "http://devstack.openstack.stack:35357/v3/groups/e7c755dedea142ef80f27882b6a8514c/users",
        "previous": null, "next": null}}'
  recorded_at: Fri, 15 Jul 2016 10:14:26 GMT
- request:
    method: put
    uri: http://devstack.openstack.stack:35357/v3/groups/e7c755dedea142ef80f27882b6a8514c/users/14aba776cf294abdbca9fdae0c5c9f9b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 84c6e9d053ce436dbadcf56f02f3a6dd
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-2b8c95d4-8e88-42c6-8bfe-f7587a30e501
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 10:14:27 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/groups/e7c755dedea142ef80f27882b6a8514c/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 84c6e9d053ce436dbadcf56f02f3a6dd
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-b25d1484-765c-4984-850b-6b14f4b47f96
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"users": [{"name": "foobar1", "links": {"self": "http://devstack.openstack.stack:35357/v3/users/14aba776cf294abdbca9fdae0c5c9f9b"},
        "domain_id": "default", "enabled": true, "email": "foobar1@example.com", "id":
        "14aba776cf294abdbca9fdae0c5c9f9b"}, {"name": "foobar2", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/users/77adf33b462244ac9aa4deb383de14d8"}, "domain_id":
        "default", "enabled": true, "email": "foobar2@example.com", "id": "77adf33b462244ac9aa4deb383de14d8"}],
        "links": {"self": "http://devstack.openstack.stack:35357/v3/groups/e7c755dedea142ef80f27882b6a8514c/users",
        "previous": null, "next": null}}'
  recorded_at: Fri, 15 Jul 2016 10:14:27 GMT
[...]
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/users/14aba776cf294abdbca9fdae0c5c9f9b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 84c6e9d053ce436dbadcf56f02f3a6dd
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-f02c3e84-3541-4fad-adee-b6d9ca2bde85
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 10:14:28 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/groups/e7c755dedea142ef80f27882b6a8514c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 84c6e9d053ce436dbadcf56f02f3a6dd
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-440e1575-a57e-424f-a7e9-e8a2dddc5f0a
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find group: e7c755dedea142ef80f27882b6a8514c",
        "code": 404, "title": "Not Found"}}'
  recorded_at: Fri, 15 Jul 2016 10:14:29 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - c0d15e90ecbc428b9e520dc44d64a328
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-f06e2665-e592-468a-b9cc-d8ad49bf897f
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"l[...]
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/users
    body:
      encoding: UTF-8
      string: '{"user":{"name":"foobar1","email":"foobar1@example.com","password":"s3cret!1"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - c0d15e90ecbc428b9e520dc44d64a328
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-bcf87b03-808d-4c8b-9db9-907047a3557b
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"user": {"name": "foobar1", "links": {"self": "http://devstack.openstack.stack:35357/v3/users/839882756af047b49f2ed1e8d988ef22"},
        "domain_id": "default", "enabled": true, "email": "foobar1@example.com", "id":
        "839882756af047b49f2ed1e8d988ef22"}}'
  recorded_at: Fri, 15 Jul 2016 12:05:48 GMT
[...]
