---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 962c46a4700a4e9c83aff4da81189d30
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-e6aed848-3961-4f2e-b102-feb093ad3f1f
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"credentials": [], "links": {"self": "http://devstack.openstack.stack:35357/v3/credentials",
        "previous": null, "next": null}}'
  recorded_at: Fri, 15 Jul 2016 13:11:18 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/credentials/atlantis
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 962c46a4700a4e9c83aff4da81189d30
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-5be38708-5b5b-474e-ac44-b5eadcffbce8
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find credential: atlantis", "code":
        404, "title": "Not Found"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:18 GMT
recorded_with: VCR 3.0.1
