---
http_interactions:
- request:
    method: patch
    uri: http://devstack.openstack.stack:35357/v3/projects/85b778ed5c804b76b427b169e0ea0905
    body:
      encoding: UTF-8
      string: '{"project":{"name":"p-baz46","enabled":false}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4a78592332d5438895a24d50b416263a
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-8e7e3535-f6b1-49b6-a518-85fbf3c48f87
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"project": {"is_domain": false, "description": "", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/projects/85b778ed5c804b76b427b169e0ea0905"},
        "extra": {}, "enabled": false, "id": "85b778ed5c804b76b427b169e0ea0905", "parent_id":
        null, "domain_id": "default", "name": "p-baz46"}}'
  recorded_at: Fri, 15 Jul 2016 10:14:14 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/85b778ed5c804b76b427b169e0ea0905
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4a78592332d5438895a24d50b416263a
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-c9379c15-75dd-4b87-8043-f3ead8beb844
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find project: 85b778ed5c804b76b427b169e0ea0905",
        "code": 404, "title": "Not Found"}}'
  recorded_at: Fri, 15 Jul 2016 10:14:14 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/domains/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 48bad03a7768437699f7c7f1d48ae0a9
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-263c5580-0669-4887-aa97-181b16a9c8ea
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"domain": {"links": {"self": "http://devstack.openstack.stack:35357/v3/domains/default"},
        "enabled": true, "description": "Owns users and tenants (i.e. projects) available
        on Identity API v2.", "name": "Default", "id": "default"}}'
  recorded_at: Fri, 15 Jul 2016 12:05:51 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/projects
    body:
      encoding: UTF-8
      string: '{"project":{"name":"p-foobar46"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 48bad03a7768437699f7c7f1d48ae0a9
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-3506b840-5043-40e3-9381-4fed1b290244
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"project": {"is_domain": false, "description": "", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/projects/54f465d02bb442ffa3718f3bfab552dd"},
        "enabled": true, "id": "54f465d02bb442ffa3718f3bfab552dd", "parent_id": null,
        "domain_id": "default", "name": "p-foobar46"}}'
  recorded_at: Fri, 15 Jul 2016 12:05:51 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects?name=p-foobar46
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 48bad03a7768437699f7c7f1d48ae0a9
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-df762ea7-d770-44c5-8c5b-5865fcf5ef75
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects?name=p-foobar46",
        "previous": null, "next": null}, "projects": [{"is_domain": false, "description":
        "", "links": {"self": "http://devstack.openstack.stack:35357/v3/projects/54f465d02bb442ffa3718f3bfab552dd"},
        "enabled": true, "id": "54f465d02bb442ffa3718f3bfab552dd", "parent_id": null,
        "domain_id": "default", "name": "p-foobar46"}]}'
  recorded_at: Fri, 15 Jul 2016 12:05:52 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects?name=p-baz46
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 48bad03a7768437699f7c7f1d48ae0a9
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-cda1d421-9b81-43b2-9f1b-eb8892535df7
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects?name=p-baz46",
        "previous": null, "next": null}, "projects": [{"is_domain": false, "description":
        "", "links": {"self": "http://devstack.openstack.stack:35357/v3/projects/54f465d02bb442ffa3718f3bfab552dd"},
        "enabled": false, "id": "54f465d02bb442ffa3718f3bfab552dd", "parent_id": null,
        "domain_id": "default", "name": "p-baz46"}]}'
  recorded_at: Fri, 15 Jul 2016 12:05:52 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects?name=p-baz46
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 48bad03a7768437699f7c7f1d48ae0a9
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-3b192f85-80b6-4856-821d-33a3581c63bd
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects?name=p-baz46",
        "previous": null, "next": null}, "projects": []}'
  recorded_at: Fri, 15 Jul 2016 12:05:53 GMT
recorded_with: VCR 3.0.1
