---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/domains/default/users/16032fcd856e4d0183184571aa4d36fa/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e9665f9f721a4437b5312980ce4e58cb
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-64ffd09b-0c14-47a6-848a-30b0b1990855
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/domains/default/users/16032fcd856e4d0183184571aa4d36fa/roles",
        "previous": null, "next": null}, "roles": []}'
  recorded_at: Fri, 15 Jul 2016 10:14:20 GMT
- request:
    method: put
    uri: http://devstack.openstack.stack:35357/v3/domains/default/users/16032fcd856e4d0183184571aa4d36fa/roles/61d7d9d58cd34b6082a3e5ac61d589eb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e9665f9f721a4437b5312980ce4e58cb
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-dcfc4e1e-2043-432a-ae4f-20f31711b059
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 10:14:20 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/domains/default/users/16032fcd856e4d0183184571aa4d36fa/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e9665f9f721a4437b5312980ce4e58cb
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-a1ac72cf-52a9-4c74-ae60-97a52c22f019
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/domains/default/users/16032fcd856e4d0183184571aa4d36fa/roles",
        "previous": null, "next": null}, "roles": [{"id": "61d7d9d58cd34b6082a3e5ac61d589eb",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/roles/61d7d9d58cd34b6082a3e5ac61d589eb"},
        "name": "foobar_role"}]}'
  recorded_at: Fri, 15 Jul 2016 10:14:20 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/role_assignments?user.id=16032fcd856e4d0183184571aa4d36fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e9665f9f721a4437b5312980ce4e58cb
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-c75b056e-0c2b-4e6c-9dfd-74c690da02db
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"role_assignments": [{"scope": {"domain": {"id": "default"}}, "role":
        {"id": "61d7d9d58cd34b6082a3e5ac61d589eb"}, "user": {"id": "16032fcd856e4d0183184571aa4d36fa"},
        "links": {"assignment": "http://devstack.openstack.stack:35357/v3/domains/default/users/16032fcd856e4d0183184571aa4d36fa/roles/61d7d9d58cd34b6082a3e5ac61d589eb"}}],
        "links": {"self": "http://devstack.openstack.stack:35357/v3/role_assignments?user.id=16032fcd856e4d0183184571aa4d36fa",
        "previous": null, "next": null}}'
  recorded_at: Fri, 15 Jul 2016 10:14:20 GMT
[...]
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/users/16032fcd856e4d0183184571aa4d36fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e9665f9f721a4437b5312980ce4e58cb
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-94e25f69-99c1-42ef-bac8-57050103cbcc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 10:14:21 GMT
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/roles/61d7d9d58cd34b6082a3e5ac61d589eb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e9665f9f721a4437b5312980ce4e58cb
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-b03ea24a-c412-4579-b8d0-846fa424ccf7
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 10:14:22 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/users
    body:
      encoding: UTF-8
      string: '{"user":{"name":"foobar_role_user","email":"foobar@example.com","password":"s3cret!"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 559e7f63168a44459b8750e384c2f438
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-66188563-29b2-44ae-abbb-4ba1d859dfed
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"user": {"name": "foobar_role_user", "links": {"self": "http://devstack.openstack.stack:35357/v3/users/4d1696a7a32b4a78b369090b275e8665"},
        "domain_id": "default", "enabled": true, "email": "foobar@example.com", "id":
        "4d1696a7a32b4a78b369090b275e8665"}}'
  recorded_at: Fri, 15 Jul 2016 12:05:36 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/roles
    body:
      encoding: UTF-8
      string: '{"role":{"name":"foobar_role"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 559e7f63168a44459b8750e384c2f438
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-dce39c6b-1627-4c82-87c3-934808035499
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"role": {"id": "b421293c23c54b31a0da3cf11f648e1d", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/roles/b421293c23c54b31a0da3cf11f648e1d"}, "name":
        "foobar_role"}}'
  recorded_at: Fri, 15 Jul 2016 12:05:37 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/role_assignments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 559e7f63168a44459b8750e384c2f438
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-d851a27f-d89e-411d-9274-b6698159ecc4
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"role_assignments": [{"scope": {"project": {"id": "2ab82e30d7984631874def67813dffd8"}},
        "role": {"id": "5929fb4077c3415c9850e66f2c2be16b"}, "user": {"id": "0536d9fac63c465ebf60a2a5f87bea1f"},
        "links": {"assignment": "http://devstack.openstack.stack:35357/v3/projects/2ab82e30d7984631874def67813dffd8/users/0536d9fac63c465ebf60a2a5f87bea1f/roles/5929fb4077c3415c9850e66f2c2be16b"}},
        [...]
{"scope": {"project": {"id": "30079dd13fb1488a88e6ee32f3e0b9ac"}}, "role":
        {"id": "eb4ca4ce31d748ccb91d2052a2f5bedf"}, "group": {"id": "66d5464244d64171a5b1acbdd7634989"},
        "links": {"assignment": "http://devstack.openstack.stack:35357/v3/projects/30079dd13fb1488a88e6ee32f3e0b9ac/groups/66d5464244d64171a5b1acbdd7634989/roles/eb4ca4ce31d748ccb91d2052a2f5bedf"}},
        [...]
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/roles/b421293c23c54b31a0da3cf11f648e1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 559e7f63168a44459b8750e384c2f438
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-49a936a4-7d64-4f99-b990-95b99aaa6f03
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 12:05:38 GMT
recorded_with: VCR 3.0.1
