---
http_interactions:
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/domains
    body:
      encoding: UTF-8
      string: '{"domain":{"name":"foobar"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - a9dd28b518f247a580fbad0a8f6a548a
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-b0ff755f-c730-4ee9-9b23-b836289b5ce1
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"domain": {"enabled": true, "id": "155bf383d7d04250851d92308cda5d8c",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/domains/155bf383d7d04250851d92308cda5d8c"},
        "name": "foobar"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:41 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/domains?name=foobar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - a9dd28b518f247a580fbad0a8f6a548a
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-d9235b2d-690e-46f3-8f21-22968a54c592
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"domains": [{"enabled": true, "id": "155bf383d7d04250851d92308cda5d8c",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/domains/155bf383d7d04250851d92308cda5d8c"},
        "name": "foobar"}], "links": {"self": "http://devstack.openstack.stack:35357/v3/domains?name=foobar",
        "previous": null, "next": null}}'
  recorded_at: Fri, 15 Jul 2016 13:11:41 GMT
- request:
    method: patch
    uri: http://devstack.openstack.stack:35357/v3/domains/155bf383d7d04250851d92308cda5d8c
    body:
      encoding: UTF-8
      string: '{"domain":{"name":"baz","enabled":false}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - a9dd28b518f247a580fbad0a8f6a548a
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-397e8e66-4d1d-4a41-b994-7fc1e99b0787
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"domain": {"enabled": false, "id": "155bf383d7d04250851d92308cda5d8c",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/domains/155bf383d7d04250851d92308cda5d8c"},
        "name": "baz"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:41 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/domains?name=baz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - a9dd28b518f247a580fbad0a8f6a548a
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-73aec353-278d-41fe-9c43-c1584b311b2c
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"domains": [{"enabled": false, "id": "155bf383d7d04250851d92308cda5d8c",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/domains/155bf383d7d04250851d92308cda5d8c"},
        "name": "baz"}], "links": {"self": "http://devstack.openstack.stack:35357/v3/domains?name=baz",
        "previous": null, "next": null}}'
  recorded_at: Fri, 15 Jul 2016 13:11:41 GMT
[...]
- request:
    method: patch
    uri: http://devstack.openstack.stack:35357/v3/domains/155bf383d7d04250851d92308cda5d8c
    body:
      encoding: UTF-8
      string: '{"domain":{"enabled":false}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - a9dd28b518f247a580fbad0a8f6a548a
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-def5e2b3-231e-489e-a5d4-d3429285fb44
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find domain: 155bf383d7d04250851d92308cda5d8c",
        "code": 404, "title": "Not Found"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:42 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/domains?name=baz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - a9dd28b518f247a580fbad0a8f6a548a
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-6365eb9e-38b5-488b-8aa1-50417acd901f
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"domains": [], "links": {"self": "http://devstack.openstack.stack:35357/v3/domains?name=baz",
        "previous": null, "next": null}}'
  recorded_at: Fri, 15 Jul 2016 13:11:42 GMT
recorded_with: VCR 3.0.1
