---
http_interactions:
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/users
    body:
      encoding: UTF-8
      string: '{"user":{"name":"foobar_role_user","email":"foobar@example.com","password":"s3cret!"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-fc51aef7-4b98-4181-b795-87234e5e968f
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"user": {"name": "foobar_role_user", "links": {"self": "http://devstack.openstack.stack:35357/v3/users/d5c338451a8249d3901fed9c41f08e70"},
        "domain_id": "default", "enabled": true, "email": "foobar@example.com", "id":
        "d5c338451a8249d3901fed9c41f08e70"}}'
  recorded_at: Tue, 03 May 2016 13:51:58 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/domains/default/users/d5c338451a8249d3901fed9c41f08e70/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-c9be37a7-d770-4828-8f12-9a1aed0e3d32
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/domains/default/users/d5c338451a8249d3901fed9c41f08e70/roles",
        "previous": null, "next": null}, "roles": []}'
  recorded_at: Tue, 03 May 2016 13:51:58 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/roles
    body:
      encoding: UTF-8
      string: '{"role":{"name":"foobar_role"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-66c04ff5-f01c-4c17-af69-44cce223fa92
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"role": {"id": "bcd7db1631be432298eddb8d7ce93d5d", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/roles/bcd7db1631be432298eddb8d7ce93d5d"}, "name":
        "foobar_role"}}'
  recorded_at: Tue, 03 May 2016 13:51:58 GMT
- request:
    method: put
    uri: http://devstack.openstack.stack:35357/v3/domains/default/users/d5c338451a8249d3901fed9c41f08e70/roles/bcd7db1631be432298eddb8d7ce93d5d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-a2dee2d1-c27a-4306-9699-a90ed3180893
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 03 May 2016 13:51:58 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/role_assignments?user.id=d5c338451a8249d3901fed9c41f08e70
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-bc92bca4-f039-4cd8-8d1b-488fe30c1802
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"role_assignments": [{"scope": {"domain": {"id": "default"}}, "role":
        {"id": "bcd7db1631be432298eddb8d7ce93d5d"}, "user": {"id": "d5c338451a8249d3901fed9c41f08e70"},
        "links": {"assignment": "http://devstack.openstack.stack:35357/v3/domains/default/users/d5c338451a8249d3901fed9c41f08e70/roles/bcd7db1631be432298eddb8d7ce93d5d"}}],
        "links": {"self": "http://devstack.openstack.stack:35357/v3/role_assignments?user.id=d5c338451a8249d3901fed9c41f08e70",
        "previous": null, "next": null}}'
  recorded_at: Tue, 03 May 2016 13:51:58 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/role_assignments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-a5fa4b0d-b730-4465-bbfb-538db7eafc91
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"role_assignments": [{"scope": {"project": {"id": "2ab82e30d7984631874def67813dffd8"}},
        "role": {"id": "5929fb4077c3415c9850e66f2c2be16b"}, "user": {"id": "0536d9fac63c465ebf60a2a5f87bea1f"},
        "links": {"assignment": "http://devstack.openstack.stack:35357/v3/projects/2ab82e30d7984631874def67813dffd8/users/0536d9fac63c465ebf60a2a5f87bea1f/roles/5929fb4077c3415c9850e66f2c2be16b"}},
        [...]
{"scope": {"project": {"id": "30079dd13fb1488a88e6ee32f3e0b9ac"}}, "role":
        {"id": "eb4ca4ce31d748ccb91d2052a2f5bedf"}, "group": {"id": "66d5464244d64171a5b1acbdd7634989"},
        "links": {"assignment": "http://devstack.openstack.stack:35357/v3/projects/30079dd13fb1488a88e6ee32f3e0b9ac/groups/66d5464244d64171a5b1acbdd7634989/roles/eb4ca4ce31d748ccb91d2052a2f5bedf"}},
        [...]
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/users/d5c338451a8249d3901fed9c41f08e70
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-b2df53ec-0ec2-426f-b708-18399af8807f
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 03 May 2016 13:51:59 GMT
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/roles/bcd7db1631be432298eddb8d7ce93d5d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-7c9bf140-93cc-4c20-a4aa-e62783c8dabd
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 03 May 2016 13:51:59 GMT
recorded_with: VCR 3.0.1
