---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/services
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4badaa1052b54937928e921aedc5e04b
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-20b26286-237f-4a68-b63b-0b019e2e32ec
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"services": [{"description": "Cinder Volume Service V2", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/services/1766683b2f9f4ef2acf7f9e4e359fb9a"},
        "enabled": true, "type": "volumev2", "id": "1766683b2f9f4ef2acf7f9e4e359fb9a",
        "name": "cinderv2"}, {"description": "Ceilometer Metering Service", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/services/18dbb2f0ddeb45b99d11ed0568f153ab"},
        "enabled": true, "type": "metering", "id": "18dbb2f0ddeb45b99d11ed0568f153ab",
        "name": "ceilometer"}, {"description": "Ceilometer Metering Service", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/services/261a2c1f467c4b148f38822ae9f179a3"},
        "enabled": true, "type": "metering", "id[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/endpoints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4badaa1052b54937928e921aedc5e04b
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-dfa61191-d4ce-4e6c-94e3-a0bbe7f79bbc
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"endpoints": [{"region_id": "RegionOne", "links": {"self": "http://devstack.openstack.stack:35357/v3/endpoints/0e40a16fd8ad4045ae738b749818818e"},
        "url": "http://devstack.openstack.stack:8776/v2/$(tenant_id)s", "region": "RegionOne",
        "enabled": true, "interface": "public", "service_id": "1766683b2f9f4ef2acf7f9e4e359fb9a",
        "id": "0e40a16fd8ad4045ae738b749818818e"}, {"region_id": "RegionOne", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/endpoints/0f962cae636846009772e0bd81c39d49"},
        "url": "http://devstack.openstack.stack:8774/v2/$(tenant_id)s", "region": "RegionOne",
        "enabled": true, "interface": "admin", "service_id": "92e80becd6d8462b8f51fb227eb11999",
        "id": "0f962cae636846009772e0bd81c39d49"}, {"region_id": "RegionOne", "[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/endpoints
    body:
      encoding: UTF-8
      string: '{"endpoint":{"service_id":"1766683b2f9f4ef2acf7f9e4e359fb9a","interface":"internal","name":"foobar","url":"http://example.com/foobar","enabled":false}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4badaa1052b54937928e921aedc5e04b
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-056728e8-ff7b-42df-b1fc-76337095bbf2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"endpoint": {"region_id": null, "links": {"self": "http://devstack.openstack.stack:35357/v3/endpoints/11254b0c70dd4e9690534abdef489b23"},
        "url": "http://example.com/foobar", "region": null, "enabled": false, "interface":
        "internal", "service_id": "1766683b2f9f4ef2acf7f9e4e359fb9a", "id": "11254b0c70dd4e9690534abdef489b23",
        "name": "foobar"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:33 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/endpoints?interface=internal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4badaa1052b54937928e921aedc5e04b
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-de6e8316-d2ec-4787-86d6-a45f6fc2d1e0
      Content-Type:
      - application/json
    body:
      encoding: UT[...]
- request:
    method: patch
    uri: http://devstack.openstack.stack:35357/v3/endpoints/11254b0c70dd4e9690534abdef489b23
    body:
      encoding: UTF-8
      string: '{"endpoint":{"name":"baz","url":"http://example.com/baz"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4badaa1052b54937928e921aedc5e04b
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-96cd7dde-7e41-4e57-95fd-0ca7551741fb
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"endpoint": {"region_id": null, "links": {"self": "http://devstack.openstack.stack:35357/v3/endpoints/11254b0c70dd4e9690534abdef489b23"},
        "url": "http://example.com/baz", "region": null, "enabled": false, "interface":
        "internal", "service_id": "1766683b2f9f4ef2acf7f9e4e359fb9a", "id": "11254b0c70dd4e9690534abdef489b23",
        "name": "baz"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:34 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/endpoints/11254b0c70dd4e9690534abdef489b23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4badaa1052b54937928e921aedc5e04b
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-761e2bca-f35d-44fa-843b-8254b351e4b7
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find endpoint: 11254b0c70dd4e9690534abdef489b23",
        "code": 404, "title": "Not Found"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:34 GMT
[...]
