---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/users?name=foobar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 9b01d9aee76543e6ad7b7f2b41df3f2e
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-217e18ed-4a85-4dc6-99ba-d5e961ac4f42
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"users": [], "links": {"self": "http://devstack.openstack.stack:35357/v3/users?name=foobar",
        "previous": null, "next": null}}'
  recorded_at: Fri, 15 Jul 2016 13:11:50 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/users?name=baz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 9b01d9aee76543e6ad7b7f2b41df3f2e
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-ed413e6d-a73e-4d19-9abe-84faf32391a8
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"users": [], "links": {"self": "http://devstack.openstack.stack:35357/v3/users?name=baz",
        "previous": null, "next": null}}'
  recorded_at: Fri, 15 Jul 2016 13:11:50 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/users
    body:
      encoding: UTF-8
      string: '{"user":{"name":"foobar","email":"foobar@example.com","password":"s3cret!"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 9b01d9aee76543e6ad7b7f2b41df3f2e
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-3460f7b6-e10a-49f0-b888-84bdca692a22
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"user": {"name": "foobar", "links": {"self": "http://devstack.openstack.stack:35357/v3/users/fd35a2bd33764804a446aab781864e54"},
        "domain_id": "default", "enabled": true, "email": "foobar@example.com", "id":
        "fd35a2bd33764804a446aab781864e54"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:51 GMT
[...]
- request:
    method: patch
    uri: http://devstack.openstack.stack:35357/v3/users/fd35a2bd33764804a446aab781864e54
    body:
      encoding: UTF-8
      string: '{"user":{"name":"baz","enabled":false}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 9b01d9aee76543e6ad7b7f2b41df3f2e
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-cf7afd31-701e-4896-a8d3-12c87e6f742e
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"user": {"name": "baz", "links": {"self": "http://devstack.openstack.stack:35357/v3/users/fd35a2bd33764804a446aab781864e54"},
        "extra": {"email": "foobar@example.com"}, "domain_id": "default", "enabled":
        false, "email": "foobar@example.com", "id": "fd35a2bd33764804a446aab781864e54"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:51 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 9b01d9aee76543e6ad7b7f2b41df3f2e
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-f797eb36-c3cd-4677-a237-13b4e73ca235
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"users": [{"name": "swift", "links": {"self": "http://devstack.openstack.stack:35357/v3/users/0536d9fac63c465ebf60a2a5f87bea1f"},
        "enabled": true, "id": "0536d9fac63c465ebf60a2a5f87bea1f", "domain_id": "default"},
        {"links": {"self": "http://devstack.openstack.stack:35357/v3/users/1432886c5942446988bd6796a72bd08c"},
        "description": "Monasca Api User", "name": "monascaapi", "domain_id": "default",
        "enabled": true, "id": "1432886c5942446988bd6796a72bd08c", "default_project_id":
        "30079dd13fb1488a88e6ee32f3e0b9ac"}, {"links": {"self": "http://devstack.openstack.stack:35357/v3/users/19f57ca4000744a39da3e13611a7e8b9"},
        "description": "test user for billing", "name": "dummy4", "domain_id": "default",
        "enabled": true, "id": "19f57ca4000744a39da3e13611a7e8b9", "default_project_id":
        "a5db6ff5a6274dd589b6a05945d7f34d"}, {"name": "admin", "links": {"self": "http://devstack.openstack.stack:35357/v3/users/205e0e39a2534743b517ed0aa2fbcda7"},
       [...]
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/users
    body:
      encoding: UTF-8
      string: '{"user":{"name":"baz","email":"foobar@example.com","password":"s3cret!"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 9b01d9aee76543e6ad7b7f2b41df3f2e
  response:
    status:
      code: 409
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-454d1773-8895-447f-b4ce-fff364b983db
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Conflict occurred attempting to store user -
        Duplicate Entry", "code": 409, "title": "Conflict"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:51 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/users?name=baz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 9b01d9aee76543e6ad7b7f2b41df3f2e
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-9600020c-b128-406a-853f-1a76b53d63af
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"users": [], "links": {"self": "http://devstack.openstack.stack:35357/v3/users?name=baz",
        "previous": null, "next": null}}'
  recorded_at: Fri, 15 Jul 2016 13:11:52 GMT
recorded_with: VCR 3.0.1
