---
http_interactions:
- request:
    method: patch
    uri: http://devstack.openstack.stack:35357/v3/roles/afa6505d723540c8b394d1deed9a5db4
    body:
      encoding: UTF-8
      string: '{"role":{"name":"baz23"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 64341be8cfcc450b98a5e6622d9cac8e
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-4a93903b-710d-4d21-9bae-6e1fee5e9d35
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"role": {"id": "afa6505d723540c8b394d1deed9a5db4", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/roles/afa6505d723540c8b394d1deed9a5db4"}, "name":
        "baz23"}}'
  recorded_at: Fri, 15 Jul 2016 10:14:16 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/roles/afa6505d723540c8b394d1deed9a5db4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 64341be8cfcc450b98a5e6622d9cac8e
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-bb720041-e322-4426-b307-3cabd03d9b03
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find role: afa6505d723540c8b394d1deed9a5db4",
        "code": 404, "title": "Not Found"}}'
  recorded_at: Fri, 15 Jul 2016 10:14:17 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/roles
    body:
      encoding: UTF-8
      string: '{"role":{"name":"foobar23"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - de154f173570415689dd6499964a52d2
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-36e087e0-7311-4384-b3e7-ef24962f9b00
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"role": {"id": "10264bf785ce4066a6fd3396ae0aa403", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/roles/10264bf785ce4066a6fd3396ae0aa403"}, "name":
        "foobar23"}}'
  recorded_at: Fri, 15 Jul 2016 12:05:31 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/roles?name=foobar23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - de154f173570415689dd6499964a52d2
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-5e8b9215-5a6d-4757-a7ea-0463b5926ec6
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/roles?name=foobar23",
        "previous": null, "next": null}, "roles": [{"id": "10264bf785ce4066a6fd3396ae0aa403",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/roles/10264bf785ce4066a6fd3396ae0aa403"},
        "name": "foobar23"}]}'
  recorded_at: Fri, 15 Jul 2016 12:05:31 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/roles?name=baz23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - de154f173570415689dd6499964a52d2
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-9aede26c-2ec8-43c6-aa4b-53e2e5977c1a
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/roles?name=baz23",
        "previous": null, "next": null}, "roles": [{"id": "10264bf785ce4066a6fd3396ae0aa403",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/roles/10264bf785ce4066a6fd3396ae0aa403"},
        "name": "baz23"}]}'
  recorded_at: Fri, 15 Jul 2016 12:05:32 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/roles?name=baz23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - de154f173570415689dd6499964a52d2
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-2702b14b-3991-49cc-bb72-7defbe51e26e
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/roles?name=baz23",
        "previous": null, "next": null}, "roles": []}'
  recorded_at: Fri, 15 Jul 2016 12:05:33 GMT
recorded_with: VCR 3.0.1
