---
http_interactions:
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/roles
    body:
      encoding: UTF-8
      string: '{"role":{"name":"foobar23"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 40c5d1b45f01492ba1035cc1d724945a
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-e20ccdf2-ef08-4b33-a640-c8ead6bfc23a
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"role": {"id": "0ea59fbf912f49439641de57828dacb1", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/roles/0ea59fbf912f49439641de57828dacb1"}, "name":
        "foobar23"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:07 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/roles?name=foobar23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 40c5d1b45f01492ba1035cc1d724945a
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-f00b15d9-cf46-48c1-99f6-32ac773fb87c
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/roles?name=foobar23",
        "previous": null, "next": null}, "roles": [{"id": "0ea59fbf912f49439641de57828dacb1",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/roles/0ea59fbf912f49439641de57828dacb1"},
        "name": "foobar23"}]}'
  recorded_at: Fri, 15 Jul 2016 13:11:07 GMT
- request:
    method: patch
    uri: http://devstack.openstack.stack:35357/v3/roles/0ea59fbf912f49439641de57828dacb1
    body:
      encoding: UTF-8
      string: '{"role":{"name":"baz23"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 40c5d1b45f01492ba1035cc1d724945a
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-4ffca6fd-6aed-4792-919d-847e5c994075
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"role": {"id": "0ea59fbf912f49439641de57828dacb1", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/roles/0ea59fbf912f49439641de57828dacb1"}, "name":
        "baz23"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:07 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/roles?name=baz23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 40c5d1b45f01492ba1035cc1d724945a
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-d135b5f3-b26b-4730-8eb9-65ad20650a17
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/roles?name=baz23",
        "previous": null, "next": null}, "roles": [{"id": "0ea59fbf912f49439641de57828dacb1",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/roles/0ea59fbf912f49439641de57828dacb1"},
        "name": "baz23"}]}'
  recorded_at: Fri, 15 Jul 2016 13:11:07 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/roles/0ea59fbf912f49439641de57828dacb1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 40c5d1b45f01492ba1035cc1d724945a
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-787d107a-30e2-49be-9768-c19668cac4a8
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find role: 0ea59fbf912f49439641de57828dacb1",
        "code": 404, "title": "Not Found"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:08 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/roles?name=baz23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 40c5d1b45f01492ba1035cc1d724945a
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-9f194559-2d8e-499d-8e12-ae25251e5552
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/roles?name=baz23",
        "previous": null, "next": null}, "roles": []}'
  recorded_at: Fri, 15 Jul 2016 13:11:08 GMT
recorded_with: VCR 3.0.1
