---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/domains/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - be8730f0f7f8449fa4f9f4dc707e9dc6
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-30dbbdf2-1b31-4ad1-853a-b32e58135921
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"domain": {"links": {"self": "http://devstack.openstack.stack:35357/v3/domains/default"},
        "enabled": true, "description": "Owns users and tenants (i.e. projects) available
        on Identity API v2.", "name": "Default", "id": "default"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:03 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/projects
    body:
      encoding: UTF-8
      string: '{"project":{"name":"p-foobar46"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - be8730f0f7f8449fa4f9f4dc707e9dc6
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-0a166eb1-da98-4ee5-8fc3-578961b5ad00
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"project": {"is_domain": false, "description": "", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/projects/61771b740d7a433793f1c51f1daba151"},
        "enabled": true, "id": "61771b740d7a433793f1c51f1daba151", "parent_id": null,
        "domain_id": "default", "name": "p-foobar46"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:03 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects?name=p-foobar46
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - be8730f0f7f8449fa4f9f4dc707e9dc6
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-4342c346-e72a-4788-9979-00f35515ae17
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects?name=p-foobar46",
        "previous": null, "next": null}, "projects": [{"is_domain": false, "description":
        "", "links": {"self": "http://devstack.openstack.stack:35357/v3/projects/61771b740d7a433793f1c51f1daba151"},
        "enabled": true, "id": "61771b740d7a433793f1c51f1daba151", "parent_id": null,
        "domain_id": "default", "name": "p-foobar46"}]}'
  recorded_at: Fri, 15 Jul 2016 13:11:03 GMT
- request:
    method: patch
    uri: http://devstack.openstack.stack:35357/v3/projects/61771b740d7a433793f1c51f1daba151
    body:
      encoding: UTF-8
      string: '{"project":{"name":"p-baz46","enabled":false}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - be8730f0f7f8449fa4f9f4dc707e9dc6
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-788af4cc-1164-4c42-bd4a-b7d3cf150c75
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"project": {"is_domain": false, "description": "", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/projects/61771b740d7a433793f1c51f1daba151"},
        "extra": {}, "enabled": false, "id": "61771b740d7a433793f1c51f1daba151", "parent_id":
        null, "domain_id": "default", "name": "p-baz46"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:03 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects?name=p-baz46
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - be8730f0f7f8449fa4f9f4dc707e9dc6
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-98ebc51b-1146-4f48-9bbc-d109f095e790
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects?name=p-baz46",
        "previous": null, "next": null}, "projects": [{"is_domain": false, "description":
        "", "links": {"self": "http://devstack.openstack.stack:35357/v3/projects/61771b740d7a433793f1c51f1daba151"},
        "enabled": false, "id": "61771b740d7a433793f1c51f1daba151", "parent_id": null,
        "domain_id": "default", "name": "p-baz46"}]}'
  recorded_at: Fri, 15 Jul 2016 13:11:03 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/61771b740d7a433793f1c51f1daba151
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - be8730f0f7f8449fa4f9f4dc707e9dc6
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-9636f0ce-5ecf-4056-90c5-f6a46d597b55
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find project: 61771b740d7a433793f1c51f1daba151",
        "code": 404, "title": "Not Found"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:04 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects?name=p-baz46
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - be8730f0f7f8449fa4f9f4dc707e9dc6
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-19312759-7310-49ae-801f-013161bc9d65
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects?name=p-baz46",
        "previous": null, "next": null}, "projects": []}'
  recorded_at: Fri, 15 Jul 2016 13:11:04 GMT
recorded_with: VCR 3.0.1
