---
http_interactions:
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/users
    body:
      encoding: UTF-8
      string: '{"user":{"name":"u-foobar_cred","email":"foobar@example.com","password":"s3cret!"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 5c889830fc0b4b1cb05a4930ec63aad1
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-eebfbd1a-8c91-428b-ab02-24e49f4161cf
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"user": {"name": "u-foobar_cred", "links": {"self": "http://devstack.openstack.stack:35357/v3/users/d91cbca47fd540a796b385cf5394a482"},
        "domain_id": "default", "enabled": true, "email": "foobar@example.com", "id":
        "d91cbca47fd540a796b385cf5394a482"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:48 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 5c889830fc0b4b1cb05a4930ec63aad1
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-bdf82154-4083-452f-bf1f-675df8a04389
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects", "previous":
        null, "next": null}, "projects": [{"is_domain": false, "description": "",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/projects/2ab82e30d7984631874def67813dffd8"},
        "enabled": true, "id": "2ab82e30d7984631874def67813dffd8", "parent_id": null,
        "domain_id": "default", "name": "service"}, {"is_domain": false, "description":
        "Monasca Monitoring Project", "links": {"self": "http://devstack.openstack.stack:35357/v3/projects/30079dd13fb1488a88e6ee32f3e0b9ac"},
        "enabled": true, "id": "30079dd13fb1488a88e6ee32f3e0b9ac", "parent_id": null,
        "domain_id": "default", "name": "monitoring"}, {"is_domain": false, "description":
        "", "links": {"self": "http://devstack.openstack.stack:35357/v3/projects/5c2f[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 5c889830fc0b4b1cb05a4930ec63aad1
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-f7c9e535-6aca-4883-8085-e259a972b6a7
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"credentials": [], "links": {"self": "http://devstack.openstack.stack:35357/v3/credentials",
        "previous": null, "next": null}}'
  recorded_at: Fri, 15 Jul 2016 13:11:48 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/credentials
    body:
      encoding: UTF-8
      string: '{"credential":{"type":"ec2","project_id":"2ab82e30d7984631874def67813dffd8","user_id":"d91cbca47fd540a796b385cf5394a482","blob":"{\"access\":\"9c4e774a-f644-498f-90c4-970b3f817fc5\",\"secret\":\"7e084117-b13d-4656-9eca-85376b690897\"}"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 5c889830fc0b4b1cb05a4930ec63aad1
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-93c36acf-3743-46ce-959c-35dcb8113912
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"credential": {"user_id": "d91cbca47fd540a796b385cf5394a482", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/credentials/9e7bb4e633cc08cc863fe15351911e267f2a953b24c1a80f0f35e173303bafae"},
        "blob": "{\"access\":\"9c4e774a-f644-498f-90c4-970b3f817fc5\",\"secret\":\"7e084117-b13d-4656-9eca-85376b690897\"}",
        "project_id": "2ab82e30d7984631874def67813dffd8", "type": "ec2", "id": "9e7bb4e633cc08cc863fe15351911e267f2a953b24c1a80f0f35e173303bafae"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:48 GMT
[...]
- request:
    method: patch
    uri: http://devstack.openstack.stack:35357/v3/credentials/9e7bb4e633cc08cc863fe15351911e267f2a953b24c1a80f0f35e173303bafae
    body:
      encoding: UTF-8
      string: '{"credential":{"blob":"{\"access\":\"9c4e774a-f644-498f-90c4-970b3f817fc5\",\"secret\":\"62307bcd-ca3c-47ae-a114-27a6cadb5bc9\"}"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 5c889830fc0b4b1cb05a4930ec63aad1
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-e157e58c-60a8-4623-bf86-f6aedbec4fec
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"credential": {"user_id": "d91cbca47fd540a796b385cf5394a482", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/credentials/9e7bb4e633cc08cc863fe15351911e267f2a953b24c1a80f0f35e173303bafae"},
        "blob": "{\"access\":\"9c4e774a-f644-498f-90c4-970b3f817fc5\",\"secret\":\"62307bcd-ca3c-47ae-a114-27a6cadb5bc9\"}",
        "project_id": "2ab82e30d7984631874def67813dffd8", "type": "ec2", "id": "9e7bb4e633cc08cc863fe15351911e267f2a953b24c1a80f0f35e173303bafae"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:49 GMT
[...]
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/users/d91cbca47fd540a796b385cf5394a482
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 5c889830fc0b4b1cb05a4930ec63aad1
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-7be0d66e-6bf9-4e16-9b1c-9fbc617ce0b0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 13:11:49 GMT
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/credentials/9e7bb4e633cc08cc863fe15351911e267f2a953b24c1a80f0f35e173303bafae
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 5c889830fc0b4b1cb05a4930ec63aad1
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-f73eb634-01ee-4dd1-9e75-0c91bd22e676
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find credential: 9e7bb4e633cc08cc863fe15351911e267f2a953b24c1a80f0f35e173303bafae",
        "code": 404, "title": "Not Found"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:49 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 5c889830fc0b4b1cb05a4930ec63aad1
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-57e2a5c7-e513-4fb9-bc7c-cf5b234865c4
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"credentials": [], "links": {"self": "http://devstack.openstack.stack:35357/v3/credentials",
        "previous": null, "next": null}}'
  recorded_at: Fri, 15 Jul 2016 13:11:50 GMT
recorded_with: VCR 3.0.1
