---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects?name=p-foobar69
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-0ac7c43c-5e4e-4a7c-8399-edf7506607a2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects?name=p-foobar69",
        "previous": null, "next": null}, "projects": []}'
  recorded_at: Tue, 03 May 2016 13:52:11 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/projects
    body:
      encoding: UTF-8
      string: '{"project":{"name":"p-foobar69"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-46aff0c2-7022-4cd6-8278-910d57e17a8f
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"project": {"is_domain": false, "description": "", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/projects/3a68e8c54d394f338c5941fba7ffa384"},
        "enabled": true, "id": "3a68e8c54d394f338c5941fba7ffa384", "parent_id": null,
        "domain_id": "default", "name": "p-foobar69"}}'
  recorded_at: Tue, 03 May 2016 13:52:12 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/roles?name=baz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-91359414-07bf-463c-aa07-a51891089d61
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/roles?name=baz", "previous":
        null, "next": null}, "roles": []}'
  recorded_at: Tue, 03 May 2016 13:52:12 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/roles
    body:
      encoding: UTF-8
      string: '{"role":{"name":"baz69"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-b2f5bea2-35d4-4004-ba0c-d8bebd09f12c
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"role": {"id": "4f097f450e9a490da45160e7383dfd83", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/roles/4f097f450e9a490da45160e7383dfd83"}, "name":
        "baz69"}}'
  recorded_at: Tue, 03 May 2016 13:52:12 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/users
    body:
      encoding: UTF-8
      string: '{"user":{"name":"u-foobar69","email":"foobar@example.com","password":"s3cret!"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-9f2cbd93-ea10-4a8b-81af-4a2153776e46
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"user": {"name": "u-foobar69", "links": {"self": "http://devstack.openstack.stack:35357/v3/users/8f465eccc83d481b96c23dc6d1afc8ae"},
        "domain_id": "default", "enabled": true, "email": "foobar@example.com", "id":
        "8f465eccc83d481b96c23dc6d1afc8ae"}}'
  recorded_at: Tue, 03 May 2016 13:52:12 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/groups
    body:
      encoding: UTF-8
      string: '{"group":{"name":"g-foobar69","description":"Group of Foobar users"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-287749d8-5415-4d85-8266-fd239eaa069e
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"group": {"domain_id": "default", "description": "Group of Foobar
        users", "id": "7a51f958cf244f689a4a8f07d114ce9f", "links": {"self": "http://devstack.openstack.stack:35357/v3/groups/7a51f958cf244f689a4a8f07d114ce9f"},
        "name": "g-foobar69"}}'
  recorded_at: Tue, 03 May 2016 13:52:12 GMT
- request:
    method: put
    uri: http://devstack.openstack.stack:35357/v3/groups/7a51f958cf244f689a4a8f07d114ce9f/users/8f465eccc83d481b96c23dc6d1afc8ae
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-74cdc985-b390-4234-98e7-593258c81fd6
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 03 May 2016 13:52:13 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/users/8f465eccc83d481b96c23dc6d1afc8ae/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-73ee0fce-ede1-4a9d-910f-096a8700ec4d
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/users/8f465eccc83d481b96c23dc6d1afc8ae/projects",
        "previous": null, "next": null}, "projects": []}'
  recorded_at: Tue, 03 May 2016 13:52:13 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/role_assignments?effective=true&scope.project.id=3a68e8c54d394f338c5941fba7ffa384&user.id=8f465eccc83d481b96c23dc6d1afc8ae
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-62ee58ef-7400-4931-95a3-93f98cedd758
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"role_assignments": [], "links": {"self": "http://devstack.openstack.stack:35357/v3/role_assignments?effective=true&scope.project.id=3a68e8c54d394f338c5941fba7ffa384&user.id=8f465eccc83d481b96c23dc6d1afc8ae",
        "previous": null, "next": null}}'
  recorded_at: Tue, 03 May 2016 13:52:13 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/3a68e8c54d394f338c5941fba7ffa384/users/8f465eccc83d481b96c23dc6d1afc8ae/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-cb5db544-2781-45bb-aca0-9a13c892d042
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects/3a68e8c54d394f338c5941fba7ffa384/users/8f465eccc83d481b96c23dc6d1afc8ae/roles",
        "previous": null, "next": null}, "roles": []}'
  recorded_at: Tue, 03 May 2016 13:52:13 GMT
- request:
    method: put
    uri: http://devstack.openstack.stack:35357/v3/projects/3a68e8c54d394f338c5941fba7ffa384/users/8f465eccc83d481b96c23dc6d1afc8ae/roles/4f097f450e9a490da45160e7383dfd83
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-820bbb6d-153c-4b10-b465-400baea17eca
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 03 May 2016 13:52:13 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/3a68e8c54d394f338c5941fba7ffa384/groups/7a51f958cf244f689a4a8f07d114ce9f/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-bd8bbd7b-28c0-4b01-af09-1c6be556bda1
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects/3a68e8c54d394f338c5941fba7ffa384/groups/7a51f958cf244f689a4a8f07d114ce9f/roles",
        "previous": null, "next": null}, "roles": []}'
  recorded_at: Tue, 03 May 2016 13:52:14 GMT
[...]
- request:
    method: put
    uri: http://devstack.openstack.stack:35357/v3/projects/3a68e8c54d394f338c5941fba7ffa384/groups/7a51f958cf244f689a4a8f07d114ce9f/roles/4f097f450e9a490da45160e7383dfd83
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-edeee499-2994-4ac2-9a7c-476ca22128c0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 03 May 2016 13:52:14 GMT
[...]
{"scope": {"project": {"id": "3a68e8c54d394f338c5941fba7ffa384"}},
        "role": {"id": "4f097f450e9a490da45160e7383dfd83"}, "user": {"id": "8f465eccc83d481b96c23dc6d1afc8ae"},
        "links": {"assignment": "http://devstack.openstack.stack:35357/v3/projects/3a68e8c54d394f338c5941fba7ffa384/groups/7a51f958cf244f689a4a8f07d114ce9f/roles/4f097f450e9a490da45160e7383dfd83",
        "membership": "http://devstack.openstack.stack:35357/v3/groups/7a51f958cf244f689a4a8f07d114ce9f/users/8f465eccc83d481b96c23dc6d1afc8ae"}}],
        "links": {"self": "http://devstack.openstack.stack:35357/v3/role_assignments?effective=true&scope.project.id=3a68e8c54d394f338c5941fba7ffa384&user.id=8f465eccc83d481b96c23dc6d1afc8ae",
        "previous": null, "next": null}}'
  recorded_at: Tue, 03 May 2016 13:52:15 GMT
[...]
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/users/8f465eccc83d481b96c23dc6d1afc8ae
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-cb4ff9d8-72ed-4718-9372-7c13545d576c
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 03 May 2016 13:52:15 GMT
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/groups/7a51f958cf244f689a4a8f07d114ce9f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-43d4d9e0-678f-4fa9-9138-81a59efd895c
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 03 May 2016 13:52:16 GMT
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/roles/4f097f450e9a490da45160e7383dfd83
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-35b4eec9-a860-4400-b236-ad936b605fb0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 03 May 2016 13:52:16 GMT
- request:
    method: patch
    uri: http://devstack.openstack.stack:35357/v3/projects/3a68e8c54d394f338c5941fba7ffa384
    body:
      encoding: UTF-8
      string: '{"project":{"enabled":false}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-6fa6fc76-85ec-4ad7-b269-59af5116eb7f
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"project": {"is_domain": false, "description": "", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/projects/3a68e8c54d394f338c5941fba7ffa384"},
        "extra": {}, "enabled": false, "id": "3a68e8c54d394f338c5941fba7ffa384", "parent_id":
        null, "domain_id": "default", "name": "p-foobar69"}}'
  recorded_at: Tue, 03 May 2016 13:52:16 GMT
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/projects/3a68e8c54d394f338c5941fba7ffa384
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-ba85847c-bc11-4390-9afe-3de69df209fc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 03 May 2016 13:52:16 GMT
recorded_with: VCR 3.0.1
