---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects?name=p-foobar69
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 52ee7a92a661459a9103aae5372eaff3
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-39e4f04c-9507-46f2-9c29-540fa6074d8f
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects?name=p-foobar69",
        "previous": null, "next": null}, "projects": []}'
  recorded_at: Fri, 15 Jul 2016 13:11:27 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/projects
    body:
      encoding: UTF-8
      string: '{"project":{"name":"p-foobar69"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 52ee7a92a661459a9103aae5372eaff3
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-c7876d6e-f9c7-4554-957c-556fa275ac2e
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"project": {"is_domain": false, "description": "", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/projects/f5c07a35e4cc4b3e851edb70f92b69a7"},
        "enabled": true, "id": "f5c07a35e4cc4b3e851edb70f92b69a7", "parent_id": null,
        "domain_id": "default", "name": "p-foobar69"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:27 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/roles?name=baz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 52ee7a92a661459a9103aae5372eaff3
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-f25699c9-65d9-43f4-b4bf-b534c2ce4204
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/roles?name=baz", "previous":
        null, "next": null}, "roles": []}'
  recorded_at: Fri, 15 Jul 2016 13:11:27 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/roles
    body:
      encoding: UTF-8
      string: '{"role":{"name":"baz69"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 52ee7a92a661459a9103aae5372eaff3
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-c196108f-b9e8-4967-8d24-aebd8f7a6c57
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"role": {"id": "19b0a99404734d17ba6ae56120b58df2", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/roles/19b0a99404734d17ba6ae56120b58df2"}, "name":
        "baz69"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:27 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/users
    body:
      encoding: UTF-8
      string: '{"user":{"name":"u-foobar69","email":"foobar@example.com","password":"s3cret!"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 52ee7a92a661459a9103aae5372eaff3
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-0674918f-5f35-400f-a8aa-2d1bd01d0fd4
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"user": {"name": "u-foobar69", "links": {"self": "http://devstack.openstack.stack:35357/v3/users/3fa31730f5bb4802b415181e5fbd5f91"},
        "domain_id": "default", "enabled": true, "email": "foobar@example.com", "id":
        "3fa31730f5bb4802b415181e5fbd5f91"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:27 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/groups
    body:
      encoding: UTF-8
      string: '{"group":{"name":"g-foobar69","description":"Group of Foobar users"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 52ee7a92a661459a9103aae5372eaff3
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-455824c3-28ca-4e2c-a8a0-6c98881322b1
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"group": {"domain_id": "default", "description": "Group of Foobar
        users", "id": "aa6bc1f9f66d42dba043b8e5c0345c0f", "links": {"self": "http://devstack.openstack.stack:35357/v3/groups/aa6bc1f9f66d42dba043b8e5c0345c0f"},
        "name": "g-foobar69"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:27 GMT
- request:
    method: put
    uri: http://devstack.openstack.stack:35357/v3/groups/aa6bc1f9f66d42dba043b8e5c0345c0f/users/3fa31730f5bb4802b415181e5fbd5f91
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 52ee7a92a661459a9103aae5372eaff3
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-c2788a0f-55fd-4200-b0c0-477087a97a43
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 13:11:28 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/users/3fa31730f5bb4802b415181e5fbd5f91/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 52ee7a92a661459a9103aae5372eaff3
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-f88b2345-cf23-4906-b784-d6a0ba0feeee
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/users/3fa31730f5bb4802b415181e5fbd5f91/projects",
        "previous": null, "next": null}, "projects": []}'
  recorded_at: Fri, 15 Jul 2016 13:11:28 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/role_assignments?effective=true&scope.project.id=f5c07a35e4cc4b3e851edb70f92b69a7&user.id=3fa31730f5bb4802b415181e5fbd5f91
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 52ee7a92a661459a9103aae5372eaff3
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-29ad0506-f6b3-4189-b7a6-c7fafd6c92d8
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"role_assignments": [], "links": {"self": "http://devstack.openstack.stack:35357/v3/role_assignments?effective=true&scope.project.id=f5c07a35e4cc4b3e851edb70f92b69a7&user.id=3fa31730f5bb4802b415181e5fbd5f91",
        "previous": null, "next": null}}'
  recorded_at: Fri, 15 Jul 2016 13:11:28 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/f5c07a35e4cc4b3e851edb70f92b69a7/users/3fa31730f5bb4802b415181e5fbd5f91/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 52ee7a92a661459a9103aae5372eaff3
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-79e8296f-7051-4a4b-8100-5794b03d0ff9
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects/f5c07a35e4cc4b3e851edb70f92b69a7/users/3fa31730f5bb4802b415181e5fbd5f91/roles",
        "previous": null, "next": null}, "roles": []}'
  recorded_at: Fri, 15 Jul 2016 13:11:28 GMT
- request:
    method: put
    uri: http://devstack.openstack.stack:35357/v3/projects/f5c07a35e4cc4b3e851edb70f92b69a7/users/3fa31730f5bb4802b415181e5fbd5f91/roles/19b0a99404734d17ba6ae56120b58df2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 52ee7a92a661459a9103aae5372eaff3
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-26903061-7075-4c66-95a4-515d4b14a7b8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 13:11:28 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/f5c07a35e4cc4b3e851edb70f92b69a7/groups/aa6bc1f9f66d42dba043b8e5c0345c0f/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 52ee7a92a661459a9103aae5372eaff3
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-3f57be9a-3121-4246-b18d-656b313715ac
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects/f5c07a35e4cc4b3e851edb70f92b69a7/groups/aa6bc1f9f66d42dba043b8e5c0345c0f/roles",
        "previous": null, "next": null}, "roles": []}'
  recorded_at: Fri, 15 Jul 2016 13:11:29 GMT
[...]
- request:
    method: put
    uri: http://devstack.openstack.stack:35357/v3/projects/f5c07a35e4cc4b3e851edb70f92b69a7/groups/aa6bc1f9f66d42dba043b8e5c0345c0f/roles/19b0a99404734d17ba6ae56120b58df2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 52ee7a92a661459a9103aae5372eaff3
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-b1943e9f-b716-451b-b097-d733da88db73
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 13:11:30 GMT
[...]
{"scope": {"project": {"id": "f5c07a35e4cc4b3e851edb70f92b69a7"}},
        "role": {"id": "19b0a99404734d17ba6ae56120b58df2"}, "user": {"id": "3fa31730f5bb4802b415181e5fbd5f91"},
        "links": {"assignment": "http://devstack.openstack.stack:35357/v3/projects/f5c07a35e4cc4b3e851edb70f92b69a7/groups/aa6bc1f9f66d42dba043b8e5c0345c0f/roles/19b0a99404734d17ba6ae56120b58df2",
        "membership": "http://devstack.openstack.stack:35357/v3/groups/aa6bc1f9f66d42dba043b8e5c0345c0f/users/3fa31730f5bb4802b415181e5fbd5f91"}}],
        "links": {"self": "http://devstack.openstack.stack:35357/v3/role_assignments?effective=true&scope.project.id=f5c07a35e4cc4b3e851edb70f92b69a7&user.id=3fa31730f5bb4802b415181e5fbd5f91",
        "previous": null, "next": null}}'
  recorded_at: Fri, 15 Jul 2016 13:11:30 GMT
[...]
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/users/3fa31730f5bb4802b415181e5fbd5f91
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 52ee7a92a661459a9103aae5372eaff3
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-39d60847-31a0-4ed1-b885-56825f3ed5e7
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 13:11:31 GMT
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/groups/aa6bc1f9f66d42dba043b8e5c0345c0f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 52ee7a92a661459a9103aae5372eaff3
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-d47d5b10-fabe-484d-92b5-8f00f575f982
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 13:11:31 GMT
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/roles/19b0a99404734d17ba6ae56120b58df2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 52ee7a92a661459a9103aae5372eaff3
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-29acae44-f056-44ca-990b-19bdb7ccc112
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 13:11:32 GMT
- request:
    method: patch
    uri: http://devstack.openstack.stack:35357/v3/projects/f5c07a35e4cc4b3e851edb70f92b69a7
    body:
      encoding: UTF-8
      string: '{"project":{"enabled":false}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 52ee7a92a661459a9103aae5372eaff3
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-0c00b4ed-6fda-474c-afb3-419a2d2ede9a
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"project": {"is_domain": false, "description": "", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/projects/f5c07a35e4cc4b3e851edb70f92b69a7"},
        "extra": {}, "enabled": false, "id": "f5c07a35e4cc4b3e851edb70f92b69a7", "parent_id":
        null, "domain_id": "default", "name": "p-foobar69"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:32 GMT
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/projects/f5c07a35e4cc4b3e851edb70f92b69a7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 52ee7a92a661459a9103aae5372eaff3
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-3aef0687-b72b-4bc4-a795-9bfcb7f4d1a4
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 13:11:32 GMT
recorded_with: VCR 3.0.1
