---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/services
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - a844568276ae4c06ae890be5f8eae0cd
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-9469a82a-d764-4b60-a0ca-d286fad8f687
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"services": [{"description": "Cinder Volume Service V2", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/services/1766683b2f9f4ef2acf7f9e4e359fb9a"},
        "enabled": true, "type": "volumev2", "id": "1766683b2f9f4ef2acf7f9e4e359fb9a",
        "name": "cinderv2"}, {"description": "Ceilometer Metering Service", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/services/18dbb2f0ddeb45b99d11ed0568f153ab"},
        "enabled": true, "type": "metering", "id": "18dbb2f0ddeb45b99d11ed0568f153ab",
        "name": "ceilometer"}, {"description": "Ceilometer Metering Service", "links":
        {"self": "http://devstack.openstack.stack:35357/v3/services/261a2c1f467c4b148f38822ae9f179a3"},
        "enabled": true, "type": "metering", "id[...]
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/atlantis
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - a844568276ae4c06ae890be5f8eae0cd
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-8ff5d858-b875-46a8-b07e-c5f9fc049162
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find project: atlantis", "code": 404,
        "title": "Not Found"}}'
  recorded_at: Fri, 15 Jul 2016 12:05:55 GMT
recorded_with: VCR 3.0.1
