---
http_interactions:
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/projects
    body:
      encoding: UTF-8
      string: '{"project":{"name":"p-foobar67"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b3dd0bb1d51042c2a187f4f4b8432edd
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-4f464726-5da9-4858-90bd-42f346c27577
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"project": {"is_domain": false, "description": "", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/projects/f01c9bfa44f74546b146e9fe2f470718"},
        "enabled": true, "id": "f01c9bfa44f74546b146e9fe2f470718", "parent_id": null,
        "domain_id": "default", "name": "p-foobar67"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:11 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects?name=p-baz67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b3dd0bb1d51042c2a187f4f4b8432edd
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-637e6aa6-1d6b-4e54-ad97-c295a234bdc8
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects?name=p-baz67",
        "previous": null, "next": null}, "projects": [{"is_domain": false, "description":
        "", "links": {"self": "http://devstack.openstack.stack:35357/v3/projects/1133f82cb3344601b9164e51d6873bec"},
        "enabled": true, "id": "1133f82cb3344601b9164e51d6873bec", "parent_id": "f01c9bfa44f74546b146e9fe2f470718",
        "domain_id": "default", "name": "p-baz67"}]}'
  recorded_at: Fri, 15 Jul 2016 13:11:11 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/roles
    body:
      encoding: UTF-8
      string: '{"role":{"name":"r-project67"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b3dd0bb1d51042c2a187f4f4b8432edd
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-36862a58-cbf5-4e09-be58-ad4fa0f00be9
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"role": {"id": "02e593412c0a44bdb61fca1250577b3c", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/roles/02e593412c0a44bdb61fca1250577b3c"}, "name":
        "r-project67"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:12 GMT
- request:
    method: put
    uri: http://devstack.openstack.stack:35357/v3/projects/f01c9bfa44f74546b146e9fe2f470718/users/205e0e39a2534743b517ed0aa2fbcda7/roles/02e593412c0a44bdb61fca1250577b3c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b3dd0bb1d51042c2a187f4f4b8432edd
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-84d54b16-fe9c-4131-a7ad-f6b7a6af2e60
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 13:11:12 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/f01c9bfa44f74546b146e9fe2f470718?subtree_as_ids
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b3dd0bb1d51042c2a187f4f4b8432edd
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-2c42b105-fcff-45fb-b5dc-5abcf42415b8
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"project": {"is_domain": false, "description": "", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/projects/f01c9bfa44f74546b146e9fe2f470718"},
        "enabled": true, "subtree": {"0f1f0ebab69842dca730780c664dc8d5": {"a00935a715534e18885ac8306c3e2136":
        null}, "1133f82cb3344601b9164e51d6873bec": null}, "id": "f01c9bfa44f74546b146e9fe2f470718",
        "parent_id": null, "domain_id": "default", "name": "p-foobar67"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:12 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/f01c9bfa44f74546b146e9fe2f470718?subtree_as_list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b3dd0bb1d51042c2a187f4f4b8432edd
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-f233aca8-b387-4cba-8285-823dd8a998ed
      Content-Type:
      - application/json[...]
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/a00935a715534e18885ac8306c3e2136?parents_as_ids
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b3dd0bb1d51042c2a187f4f4b8432edd
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-2a3c4779-43d0-4d89-ac40-4a95ee260657
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"project": {"is_domain": false, "description": "", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/projects/a00935a715534e18885ac8306c3e2136"},
        "enabled": true, "id": "a00935a715534e18885ac8306c3e2136", "parent_id": "0f1f0ebab69842dca730780c664dc8d5",
        "parents": {"0f1f0ebab69842dca730780c664dc8d5": {"f01c9bfa44f74546b146e9fe2f470718":
        null}}, "domain_id": "default", "name": "p-booboo67"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:13 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/a00935a715534e18885ac8306c3e2136?parents_as_list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b3dd0bb1d51042c2a187f4f4b8432edd
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-db780250-4576-4f4b-a5a4-cf113c648a78
      Content-Type:
      - application/json[...]
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/projects/73817cd57af9484f990b0d9181294a84
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b3dd0bb1d51042c2a187f4f4b8432edd
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-e89a8df3-3467-46a9-8818-2203ee7bdf01
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 13:11:14 GMT
[...]
- request:
    method: delete
    uri: http://devstack.openstack.stack:35357/v3/roles/02e593412c0a44bdb61fca1250577b3c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b3dd0bb1d51042c2a187f4f4b8432edd
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-b15ffd4b-7614-45bf-aeaf-a1e888aa4478
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 13:11:15 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/f01c9bfa44f74546b146e9fe2f470718
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b3dd0bb1d51042c2a187f4f4b8432edd
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-4411e82b-0947-49fc-a274-9df46f6cb0cd
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find project: f01c9bfa44f74546b146e9fe2f470718",
        "code": 404, "title": "Not Found"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:15 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects?name=p-booboo67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b3dd0bb1d51042c2a187f4f4b8432edd
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-5532c99b-9a39-4b35-b6ca-d49408687b29
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects?name=p-booboo67",
        "previous": null, "next": null}, "projects": []}'
  recorded_at: Fri, 15 Jul 2016 13:11:15 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects?name=p-fooboo67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b3dd0bb1d51042c2a187f4f4b8432edd
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-4a056028-b35e-4b03-8417-c7d04c21853c
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects?name=p-fooboo67",
        "previous": null, "next": null}, "projects": []}'
  recorded_at: Fri, 15 Jul 2016 13:11:15 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects?name=p-boo67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b3dd0bb1d51042c2a187f4f4b8432edd
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-f146f632-833a-4bbd-8938-0f36d6935a36
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects?name=p-boo67",
        "previous": null, "next": null}, "projects": []}'
  recorded_at: Fri, 15 Jul 2016 13:11:16 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects?name=p-foobar67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b3dd0bb1d51042c2a187f4f4b8432edd
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-cef9d690-466f-4183-af91-70e1f5c0cc9a
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects?name=p-foobar67",
        "previous": null, "next": null}, "projects": []}'
  recorded_at: Fri, 15 Jul 2016 13:11:16 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects?name=p-foobar67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b3dd0bb1d51042c2a187f4f4b8432edd
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-191e2522-93b9-4c2c-af76-02b37e14e5ac
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects?name=p-foobar67",
        "previous": null, "next": null}, "projects": []}'
  recorded_at: Fri, 15 Jul 2016 13:11:16 GMT
recorded_with: VCR 3.0.1
