---
http_interactions:
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/domains
    body:
      encoding: UTF-8
      string: '{"domain":{"name":"foobar"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-b2cc2b52-88da-478f-8b9a-6916191bd2e6
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"domain": {"enabled": true, "id": "9a032c5d2f2440399dbcb2953d568c93",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/domains/9a032c5d2f2440399dbcb2953d568c93"},
        "name": "foobar"}}'
  recorded_at: Tue, 03 May 2016 13:51:56 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/domains?name=foobar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-b6fa3995-e302-42e4-ab72-6ff4a6f4637b
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"domains": [{"enabled": true, "id": "9a032c5d2f2440399dbcb2953d568c93",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/domains/9a032c5d2f2440399dbcb2953d568c93"},
        "name": "foobar"}], "links": {"self": "http://devstack.openstack.stack:35357/v3/domains?name=foobar",
        "previous": null, "next": null}}'
  recorded_at: Tue, 03 May 2016 13:51:56 GMT
- request:
    method: patch
    uri: http://devstack.openstack.stack:35357/v3/domains/9a032c5d2f2440399dbcb2953d568c93
    body:
      encoding: UTF-8
      string: '{"domain":{"name":"baz","enabled":false}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-7253be4c-a67e-4f5a-95d9-02e4e5cfa31d
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"domain": {"enabled": false, "id": "9a032c5d2f2440399dbcb2953d568c93",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/domains/9a032c5d2f2440399dbcb2953d568c93"},
        "name": "baz"}}'
  recorded_at: Tue, 03 May 2016 13:51:56 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/domains?name=baz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-3ae28dac-5be5-41f8-b373-b264c1d73be8
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"domains": [{"enabled": false, "id": "9a032c5d2f2440399dbcb2953d568c93",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/domains/9a032c5d2f2440399dbcb2953d568c93"},
        "name": "baz"}], "links": {"self": "http://devstack.openstack.stack:35357/v3/domains?name=baz",
        "previous": null, "next": null}}'
  recorded_at: Tue, 03 May 2016 13:51:56 GMT
[...]
- request:
    method: patch
    uri: http://devstack.openstack.stack:35357/v3/domains/9a032c5d2f2440399dbcb2953d568c93
    body:
      encoding: UTF-8
      string: '{"domain":{"enabled":false}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-e2aee918-c842-49ac-9c31-a40c074afa85
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find domain: 9a032c5d2f2440399dbcb2953d568c93",
        "code": 404, "title": "Not Found"}}'
  recorded_at: Tue, 03 May 2016 13:51:57 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/domains?name=baz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-20521c79-6324-4e1f-aafa-f7ae5ab3e7da
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"domains": [], "links": {"self": "http://devstack.openstack.stack:35357/v3/domains?name=baz",
        "previous": null, "next": null}}'
  recorded_at: Tue, 03 May 2016 13:51:57 GMT
recorded_with: VCR 3.0.1
