---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-15106c27-9f6b-42d9-9487-6ee7d090a56d
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects", "previous":
        null, "next": null}, "projects": [{"is_domain": false, "description": "",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/projects/2ab82e30d7984631874def67813dffd8"},
        "enabled": true, "id": "2ab82e30d7984631874def67813dffd8", "parent_id": null,
        "domain_id": "default", "name": "service"}, {"is_domain": false, "description":
        "Monasca Monitoring Project", "links": {"self": "http://devstack.openstack.stack:35357/v3/projects/30079dd13fb1488a88e6ee32f3e0b9ac"},
        "enabled": true, "id": "30079dd13fb1488a88e6ee32f3e0b9ac", "parent_id": null,
        "domain_id": "default", "name": "monitoring"}, {"is_domain": false, "description":
        "", "links": {"self": "http://devstack.openstack.stack:35357/v3/projects/5c2f4406e91248ac9c1406b795385725"},
        "enabl[...]
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/2ab82e30d7984631874def67813dffd8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-9b7c0170-9244-415b-a2d0-f8ca7332ba36
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"project": {"is_domain": false, "description": "", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/projects/2ab82e30d7984631874def67813dffd8"},
        "enabled": true, "id": "2ab82e30d7984631874def67813dffd8", "parent_id": null,
        "domain_id": "default", "name": "service"}}'
  recorded_at: Tue, 03 May 2016 13:52:05 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects/atlantis
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-7040a0fa-295b-4590-869e-f94a753c450f
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find project: atlantis", "code": 404,
        "title": "Not Found"}}'
  recorded_at: Tue, 03 May 2016 13:52:05 GMT
recorded_with: VCR 3.0.1
