---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-9df51694-9cc3-4fdf-ada5-d2e56de7e964
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"users": [{"name": "swift", "links": {"self": "http://devstack.openstack.stack:35357/v3/users/0536d9fac63c465ebf60a2a5f87bea1f"},
        "enabled": true, "id": "0536d9fac63c465ebf60a2a5f87bea1f", "domain_id": "default"},
        {"links": {"self": "http://devstack.openstack.stack:35357/v3/users/1432886c5942446988bd6796a72bd08c"},
        "description": "Monasca Api User", "name": "monascaapi", "domain_id": "default",
        "enabled": true, "id": "1432886c5942446988bd6796a72bd08c", "default_project_id":
        "30079dd13fb1488a88e6ee32f3e0b9ac"}, {"links": {"self": "http://devstack.openstack.stack:35357/v3/users/19f57ca4000744a39da3e13611a7e8b9"},
        "description": "test user for billing", "name": "dummy4", "domain_id": "default",
        "enabled": true, "id": "19f57ca4000744a39da3e13611a7e8b9", "default_project_id":
        "a5db6ff5a6274dd589b6a05945d7f34d"}, {"name": "admin", "links": {"self": "http://devstack.openstack.stack:35357/v3/users/205e0e39a2534743b517ed0aa2fbcda7"},
       [...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/users/u-random-blah
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-46114116-48bb-4bf3-b528-8b4c66a37027
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find user: u-random-blah", "code":
        404, "title": "Not Found"}}'
  recorded_at: Tue, 03 May 2016 13:51:46 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/users?name=admin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-0aad0e62-16a2-424f-b780-461e29589f68
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"users": [{"name": "admin", "links": {"self": "http://devstack.openstack.stack:35357/v3/users/205e0e39a2534743b517ed0aa2fbcda7"},
        "enabled": true, "id": "205e0e39a2534743b517ed0aa2fbcda7", "domain_id": "default"}],
        "links": {"self": "http://devstack.openstack.stack:35357/v3/users?name=admin", "previous":
        null, "next": null}}'
  recorded_at: Tue, 03 May 2016 13:51:46 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/users?name=pimpernel
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7f72291092a647578b115b853d129693
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-c36d5c92-7fce-4300-a7d0-39dcde5a2624
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"users": [], "links": {"self": "http://devstack.openstack.stack:35357/v3/users?name=pimpernel",
        "previous": null, "next": null}}'
  recorded_at: Tue, 03 May 2016 13:51:47 GMT
recorded_with: VCR 3.0.1
