---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/policies
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 578d23579e6a4e718e2db24a0ff8cf39
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-b53f6437-485d-4323-9cc8-b3cde6763dbc
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/policies", "previous":
        null, "next": null}, "policies": []}'
  recorded_at: Fri, 15 Jul 2016 13:11:19 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:35357/v3/policies
    body:
      encoding: UTF-8
      string: '{"policy":{"type":"application/json","blob":"{\"foobar_user\":[\"role:compute-user\"]}"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 578d23579e6a4e718e2db24a0ff8cf39
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-f5d999e2-1bad-4280-a567-b7c4845a47b6
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"policy": {"type": "application/json", "id": "4578d32460ae4a08a9ad3663969a2b91",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/policies/4578d32460ae4a08a9ad3663969a2b91"},
        "blob": "{\"foobar_user\":[\"role:compute-user\"]}"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:19 GMT
[...]
- request:
    method: patch
    uri: http://devstack.openstack.stack:35357/v3/policies/4578d32460ae4a08a9ad3663969a2b91
    body:
      encoding: UTF-8
      string: '{"policy":{"blob":"{\"baz_user\":[\"role:compute-user\"]}"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 578d23579e6a4e718e2db24a0ff8cf39
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-00571113-ab35-4093-b070-558200a9a219
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"policy": {"type": "application/json", "id": "4578d32460ae4a08a9ad3663969a2b91",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/policies/4578d32460ae4a08a9ad3663969a2b91"},
        "blob": "{\"baz_user\":[\"role:compute-user\"]}"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:20 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/policies/4578d32460ae4a08a9ad3663969a2b91
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 578d23579e6a4e718e2db24a0ff8cf39
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-d69100ae-9273-4097-8dfc-e2828780313b
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find policy: 4578d32460ae4a08a9ad3663969a2b91",
        "code": 404, "title": "Not Found"}}'
  recorded_at: Fri, 15 Jul 2016 13:11:20 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/policies
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 578d23579e6a4e718e2db24a0ff8cf39
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-38b9ff7b-9e66-4b78-ad93-c9ee1d3c071e
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/policies", "previous":
        null, "next": null}, "policies": []}'
  recorded_at: Fri, 15 Jul 2016 13:11:20 GMT
recorded_with: VCR 3.0.1
