---
http_interactions:
- request:
    method: post
    uri: http://devstack.openstack.stack:5000/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["password"],"password":{"user":{"name":"admin","domain":{"name":"Default"},"password":"password"}}},"scope":{"domain":{"name":"Default"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Subject-Token:
      - 6f2b8bd469b641839f77f8101c8b19ce
      X-Openstack-Request-Id:
      - req-e86dc3c4-d41f-4402-bc03-0559ec9961be
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token": {"domain": {"id": "default", "name": "Default"}, "methods":
        ["password"], "roles": [{"id": "5929fb4077c3415c9850e66f2c2be16b", "name":
        "admin"}], "expires_at": "2016-05-03T15:17:50.468237Z", "catalog": [{"endpoints":
        [], "type": "volumev2", "id": "1766683b2f9f4ef2acf7f9e4e359fb9a", "name":
        "cinderv2"}, {"endpoints": [], "type": "metering", "id": "18dbb2f0ddeb45b99d11ed0568f153ab",
        "name": "ceilometer"}, {"endpoints": [{"region_id": "RegionOne", "url": "http://mo-edbdf14f1.mo.sap.corp:8777/",
        "region": "RegionOne", "interface": "admin", "id": "6f44eb5bf4e646f9a7afebb1f32501f1"},
        {"region_id": "RegionOne", "url": "http://mo-edbdf14f1.mo.sap.corp:8777/",
        "region": "RegionOne", "interface": "public", "id": "9bb4f1c83833484e9d53ce2b57d6308b"},
        {"region_id": "RegionOne", "url": "http://mo-edbdf14f1.mo.sap.corp:8777/",
        "region": "RegionOne", "interface": "internal", "id": "e62f1c8709554031ace717700c431635"}],
        "type": "metering", "id": "261a2c1f467c4b148f38822ae9f179a3", "name": "ceilo[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:5000/v3/users/205e0e39a2534743b517ed0aa2fbcda7/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 6f2b8bd469b641839f77f8101c8b19ce
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-b92251a4-a6a2-463c-bd19-a01635d81191
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:5000/v3/users/205e0e39a2534743b517ed0aa2fbcda7/projects",
        "previous": null, "next": null}, "projects": [{"is_domain": false, "description":
        "", "links": {"self": "http://devstack.openstack.stack:5000/v3/projects/2ab82e30d7984631874def67813dffd8"},
        "enabled": true, "id": "2ab82e30d7984631874def67813dffd8", "parent_id": null,
        "domain_id": "default", "name": "service"}, {"is_domain": false, "description":
        "Monasca self-monitoring project", "links": {"self": "http://devstack.openstack.stack:5000/v3/projects/650778a984b040d2bc7acd45d9e7940f"},
        "enabled": true, "id": "650778a984b040d2bc7acd45d9e7940f", "parent_id": null,
        "domain_id": "36ba5b83865d482296b6d0682e983d77", "name": "service"}, {"is_domain":
        false, "description": "", "links": {"self": "http://devstack.openstack.stack:5000/v3/projects/a5db6ff5a6274dd589b6a05945d7f34d"},
        "enabled": true, "id": "a5db6ff5a6274dd589b6a05945d7f34d", "parent_id": null,
        "domain_id": "default", "name": "demo"}, {"is_domain": false, "description":
        "", "links": {"self": "http://devstack.openstack.stack:5000/v3/projects/f17a4813648d4b0bb82124ca1f5f1fd0"},
        "enabled": true, "id": "f17a4813648d4b0bb82124ca1f5f1fd0", "parent_id": null,
        "domain_id": "default", "name": "admin"}]}'
  recorded_at: Tue, 03 May 2016 14:17:50 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:5000/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["token"],"token":{"id":"6f2b8bd469b641839f77f8101c8b19ce"}},"scope":{"project":{"id":"2ab82e30d7984631874def67813dffd8"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Subject-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
      X-Openstack-Request-Id:
      - req-96dc21f5-645a-4905-afca-57989b69cbeb
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token": {"methods": ["token", "password"], "roles": [{"id": "5929fb4077c3415c9850e66f2c2[...]
