---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/volumes/detail?display_name=fog-testvolume-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-dd76906d-6ad7-445a-98e7-e5d78c364836
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-dd76906d-6ad7-445a-98e7-e5d78c364836
    body:
      encoding: UTF-8
      string: '{"volumes": []}'
  recorded_at: Tue, 03 May 2016 14:18:04 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/volumes
    body:
      encoding: UTF-8
      string: '{"volume":{"display_name":"fog-testvolume-1","display_description":null,"size":1}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-3d0fa8f4-a1da-4987-b58c-69e756ce598b
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-3d0fa8f4-a1da-4987-b58c-69e756ce598b
    body:
      encoding: UTF-8
      string: '{"volume": {"status": "creating", "display_name": "fog-testvolume-1",
        "attachments": [], "availability_zone": "nova", "bootable": "false", "encrypted":
        false, "created_at": "2016-05-03T14:18:04.880668", "multiattach": "false",
        "display_description": null, "volume_type": "lvmdriver-1", "snapshot_id":
        null, "source_volid": null, "metadata": {}, "id": "24633cda-57ff-4c98-af1c-dcb1aac8c45a",
        "size": 1}}'
  recorded_at: Tue, 03 May 2016 14:18:05 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/volumes/24633cda-57ff-4c98-af1c-dcb1aac8c45a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-e0101f23-fa62-41b6-9a[...]
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/volumes/24633cda-57ff-4c98-af1c-dcb1aac8c45a/action
    body:
      encoding: UTF-8
      string: '{"os-extend":{"new_size":2}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Openstack-Request-Id:
      - req-75ef36a8-9855-4684-82e3-7fa103d88b06
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 03 May 2016 14:18:07 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/volumes/24633cda-57ff-4c98-af1c-dcb1aac8c45a/action
    body:
      encoding: UTF-8
      string: '{"os-extend":{"new_size":1}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-aca24ec3-6204-4d77-8892-ac86e1620581
      X-Openstack-Request-Id:
      - req-aca24ec3-6204-4d77-8892-ac86e1620581
    body:
      encoding: UTF-8
      string: '{"badRequest": {"message": "Invalid input received: New size for extend
        must be greater than current size. (current: 2, extended: 1).", "code": 400}}'
  recorded_at: Tue, 03 May 2016 14:18:09 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/volumes/24633cda-57ff-4c98-af1c-dcb1aac8c45a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-3ebc920c-8a18-4413-aaf1-214d22e4f0c9
      X-Openstack-Request-Id:
      - req-3ebc920c-8a18-4413-aaf1-214d22e4f0c9
    body:
      encoding: UTF-8
      string: '{"itemNotFound": {"message": "The resource could not be found.", "code":
        404}}'
  recorded_at: Tue, 03 May 2016 14:18:27 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/volumes/24633cda-57ff-4c98-af1c-dcb1aac8c45a/action
    body:
      encoding: UTF-8
      string: '{"os-extend":{"new_size":1}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-f3f31ed4-2b41-4bce-8e14-e3c64e3dcbb6
      X-Openstack-Request-Id:
      - req-f3f31ed4-2b41-4bce-8e14-e3c64e3dcbb6
    body:
      encoding: UTF-8
      string: '{"itemNotFound": {"message": "Volume 24633cda-57ff-4c98-af1c-dcb1aac8c45a
        could not be found.", "code": 404}}'
  recorded_at: Tue, 03 May 2016 14:18:27 GMT
recorded_with: VCR 3.0.1
