---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/volumes/detail?display_name=fog-testvolume-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-555a8892-35e0-4546-a2df-4767955acfe0
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-555a8892-35e0-4546-a2df-4767955acfe0
    body:
      encoding: UTF-8
      string: '{"volumes": []}'
  recorded_at: Tue, 03 May 2016 14:18:38 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/volumes
    body:
      encoding: UTF-8
      string: '{"volume":{"display_name":"fog-testvolume-1","display_description":null,"size":1}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-de79c95f-5cb8-4fd9-a2fe-9dfe29fad88a
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-de79c95f-5cb8-4fd9-a2fe-9dfe29fad88a
    body:
      encoding: UTF-8
      string: '{"volume": {"status": "creating", "display_name": "fog-testvolume-1",
        "attachments": [], "availability_zone": "nova", "bootable": "false", "encrypted":
        false, "created_at": "2016-05-03T14:18:39.047751", "multiattach": "false",
        "display_description": null, "volume_type": "lvmdriver-1", "snapshot_id":
        null, "source_volid": null, "metadata": {}, "id": "9b4fe9d7-37f0-4cc4-8a79-b0dad9c9b512",
        "size": 1}}'
  recorded_at: Tue, 03 May 2016 14:18:39 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/volumes/9b4fe9d7-37f0-4cc4-8a79-b0dad9c9b512
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-ad4280f6-eb74-4f93-b9[...]
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/snapshots/detail?display_name=fog-testsnapshot-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-324fdf83-3254-433c-8b56-2858ecca766b
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-324fdf83-3254-433c-8b56-2858ecca766b
    body:
      encoding: UTF-8
      string: '{"snapshots": []}'
  recorded_at: Tue, 03 May 2016 14:18:41 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/snapshots
    body:
      encoding: UTF-8
      string: '{"snapshot":{"volume_id":"9b4fe9d7-37f0-4cc4-8a79-b0dad9c9b512","display_name":"fog-testsnapshot-1","display_description":"Test
        snapshot","force":false}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-d2c926cb-5229-48d7-a575-6f015023feb3
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-d2c926cb-5229-48d7-a575-6f015023feb3
    body:
      encoding: UTF-8
      string: '{"snapshot": {"status": "creating", "display_name": "fog-testsnapshot-1",
        "created_at": "2016-05-03T14:18:41.691045", "display_description": "Test snapshot",
        "volume_id": "9b4fe9d7-37f0-4cc4-8a79-b0dad9c9b512", "metadata": {}, "id":
        "983754a7-c4e7-4cfa-97db-fe0c147a2978", "size": 1}}'
  recorded_at: Tue, 03 May 2016 14:18:41 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/snapshots/983754a7-c4e7-4cfa-97db-fe0c147a2978
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-1090b170-5968-4f2f-8598-1f34eb473567
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-1090b170-5968-4f2f-8598-1f34eb473567
    body:
      encoding: UTF-8
      string: '{"snapshot": {"status": "creating", "display_name": "fog-testsnapshot-1",
        "created_at": "2016-05-03T14:18:41.000000", "display_description": "Test snapshot",
        "os-extended-snapshot-attributes:progress": "0%", "volume_id": "9b4fe9d7-37f0-4cc4-8a79-b0dad9c9b512",
        "os-extended-snapshot-attributes:project_id": "2ab82e30d7984631874def67813dffd8",
        "metadata": {}, "id": "983754a7-c4e7-4cfa-97db-fe0c147a2978", "size": 1}}'
  recorded_at: Tue, 03 May 2016 14:18:41 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/snapshots/983754a7-c4e7-4cfa-97db-fe0c147a2978
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-c72dddb4-6b77-40f5-8c32-cb3dc6bc2ec6
      X-Openstack-Request-Id:
      - req-c72dddb4-6b77-40f5-8c32-cb3dc6bc2ec6
    body:
      encoding: UTF-8
      string: '{"itemNotFound": {"message": "The resource could not be found.", "code":
        404}}'
  recorded_at: Tue, 03 May 2016 14:18:51 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/volumes/9b4fe9d7-37f0-4cc4-8a79-b0dad9c9b512
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-50405d14-31fc-4abf-b9d2-c26204918c08
      X-Openstack-Request-Id:
      - req-50405d14-31fc-4abf-b9d2-c26204918c08
    body:
      encoding: UTF-8
      string: '{"itemNotFound": {"message": "The resource could not be found.", "code":
        404}}'
  recorded_at: Tue, 03 May 2016 14:18:56 GMT
recorded_with: VCR 3.0.1
