---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/volumes/detail?display_name=fog-testvolume-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-03c9df4b-f039-4d48-9dc2-5e9f28ab5fec
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-03c9df4b-f039-4d48-9dc2-5e9f28ab5fec
    body:
      encoding: UTF-8
      string: '{"volumes": []}'
  recorded_at: Tue, 03 May 2016 14:17:51 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/volumes
    body:
      encoding: UTF-8
      string: '{"volume":{"display_name":"fog-testvolume-1","display_description":"This
        is the volume description.","size":1}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-9a2c62f4-7a5a-4b17-b3d7-c6170462aab9
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-9a2c62f4-7a5a-4b17-b3d7-c6170462aab9
    body:
      encoding: UTF-8
      string: '{"volume": {"status": "creating", "display_name": "fog-testvolume-1",
        "attachments": [], "availability_zone": "nova", "bootable": "false", "encrypted":
        false, "created_at": "2016-05-03T14:17:51.483491", "multiattach": "false",
        "display_description": "This is the volume description.", "volume_type": "lvmdriver-1",
        "snapshot_id": null, "source_volid": null, "metadata": {}, "id": "3b59e23e-d5b5-42be-b297-f4880c1bbb5f",
        "size": 1}}'
  recorded_at: Tue, 03 May 2016 14:17:51 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/volumes/3b59e23e-d5b5-42be-b297-f4880c1bbb5f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-bf0cb0f0-9b84-4da8-a7[...]
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/volumes/detail?display_name=fog-updated-testvolume-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-3c5548a2-7ef7[...]
- request:
    method: put
    uri: http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/volumes/3b59e23e-d5b5-42be-b297-f4880c1bbb5f
    body:
      encoding: UTF-8
      string: '{"volume":{"status":"available","display_name":"fog-updated-testvolume-1","attachments":[],"availability_zone":"nova","bootable":"false","encrypted":false,"created_at":"2016-05-03T14:17:51.000000","multiattach":"false","tenant_id":"2ab82e30d7984631874def67813dffd8","os-volume-replication:driver_data":null,"display_description":"This
        is the updated volume description.","os-volume-replication:extended_status":null,"os-vol-host-attr:host":"mo-0e4c34476@lvmdriver-1#lvmdriver-1","volume_type":"lvmdriver-1","snapshot_id":null,"source_volid":null,"os-vol-mig-status-attr:name_id":null,"metadata":{},"os-vol-mig-status-attr:migstat":null,"size":1}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-60c2df03-21c8-4d86-8881-2ef79f3c6ed4
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-60c2df03-21c8-4d86-8881-2ef79f3c6ed4
    body:
      encoding: UTF-8
      string: '{"volume": {"status": "available", "display_name": "fog-updated-testvolume-1",
        "attachments": [], "availability_zone": "nova", "bootable": "false", "encrypted":
        false, "created_at": "2016-05-03T14:17:51.000000", "multiattach": "false",
        "display_description": "This is the updated volume description.", "volume_type":
        "lvmdriver-1", "snapshot_id": null, "source_volid": null, "metadata": {},
        "id": "3b59e23e-d5b5-42be-b297-f4880c1bbb5f", "size": 1}}'
  recorded_at: Tue, 03 May 2016 14:17:54 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/volumes/3b59e23e-d5b5-42be-b297-f4880c1bbb5f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-51cdd343-9d75-4a56-8340-fbe1dd51e757
      X-Openstack-Request-Id:
      - req-51cdd343-9d75-4a56-8340-fbe1dd51e757
    body:
      encoding: UTF-8
      string: '{"itemNotFound": {"message": "The resource could not be found.", "code":
        404}}'
  recorded_at: Tue, 03 May 2016 14:18:04 GMT
recorded_with: VCR 3.0.1
