---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/volumes/detail?display_name=fog-testvolume-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-708c433e-0f68-4433-9221-86b60930e34b
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-708c433e-0f68-4433-9221-86b60930e34b
    body:
      encoding: UTF-8
      string: '{"volumes": []}'
  recorded_at: Tue, 03 May 2016 14:18:27 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/volumes
    body:
      encoding: UTF-8
      string: '{"volume":{"display_name":"fog-testvolume-1","display_description":null,"size":1}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-0861107a-281d-430c-b634-a3ecec7ab62e
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-0861107a-281d-430c-b634-a3ecec7ab62e
    body:
      encoding: UTF-8
      string: '{"volume": {"status": "creating", "display_name": "fog-testvolume-1",
        "attachments": [], "availability_zone": "nova", "bootable": "false", "encrypted":
        false, "created_at": "2016-05-03T14:18:28.147097", "multiattach": "false",
        "display_description": null, "volume_type": "lvmdriver-1", "snapshot_id":
        null, "source_volid": null, "metadata": {}, "id": "42a23191-d56f-4235-8d95-3d3f69de3d67",
        "size": 1}}'
  recorded_at: Tue, 03 May 2016 14:18:28 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/volumes/42a23191-d56f-4235-8d95-3d3f69de3d67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-087fdc11-61aa-4440-90[...]
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/os-volume-transfer/detail?name=fog-testtransfer-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-1a837bb2-a72b-4088-bd46-03ef35258980
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-1a837bb2-a72b-4088-bd46-03ef35258980
    body:
      encoding: UTF-8
      string: '{"transfers": []}'
  recorded_at: Tue, 03 May 2016 14:18:30 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/os-volume-transfer
    body:
      encoding: UTF-8
      string: '{"transfer":{"volume_id":"42a23191-d56f-4235-8d95-3d3f69de3d67","name":"fog-testtransfer-1"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
  response:
    status:
      code: 202
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-e9b12a6b-dd64-46a0-a64c-fdcf0ed70b0d
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-e9b12a6b-dd64-46a0-a64c-fdcf0ed70b0d
    body:
      encoding: UTF-8
      string: '{"transfer": {"auth_key": "764296b37245658d", "links": [{"href": "http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/os-volume-transfer/6e60dc20-a85d-439a-80c8-fda70774c69a",
        "rel": "self"}, {"href": "http://devstack.openstack.stack:8776/2ab82e30d7984631874def67813dffd8/os-volume-transfer/6e60dc20-a85d-439a-80c8-fda70774c69a",
        "rel": "bookmark"}], "created_at": "2016-05-03T14:18:30.668765", "volume_id":
        "42a23191-d56f-4235-8d95-3d3f69de3d67", "id": "6e60dc20-a85d-439a-80c8-fda70774c69a",
        "name": "fog-testtransfer-1"}}'
  recorded_at: Tue, 03 May 2016 14:18:31 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/os-volume-transfer/6e60dc20-a85d-439a-80c8-fda70774c69a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-ffe41813-ea8d-4b03-82f2-f12d7dbd5c31
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-ffe41813-ea8d-4b03-82f2-f12d7dbd5c31
    body:
      encoding: UTF-8
      string: '{"transfer": {"created_at": "2016-05-03T14:18:30.000000", "volume_id":
        "42a23191-d56f-4235-8d95-3d3f69de3d67", "id": "6e60dc20-a85d-439a-80c8-fda70774c69a",
        "links": [{"href": "http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/os-volume-transfer/6e60dc20-a85d-439a-80c8-fda70774c69a",
        "rel": "self"}, {"href": "http://devstack.openstack.stack:8776/2ab82e30d7984631874def67813dffd8/os-volume-transfer/6e60dc20-a85d-439a-80c8-fda70774c69a",
        "rel": "bookmark"}], "name": "fog-testtransfer-1"}}'
  recorded_at: Tue, 03 May 2016 14:18:31 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:5000/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["password"],"password":{"user":{"password":"password","domain":{"name":"Default"},"name":"demo"}}},"scope":{"project":{"name":"demo","domain":{"name":"Default"}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Subject-Token:
      - afdc13ad24984611903ea1bb613f5677
      X-Openstack-Request-Id:
      - req-4437c1ae-88fe-4b6b-8d80-8f73473eb13b
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token": {"methods": ["password"], "roles": [{"id": "d97660751404495ab8c405826d547c16",
        "name": "Member"}, {"id": "eb9f0f3b348042ffa65f9d33e5d72014", "name": "anotherrole"}],
        "expires_at": "2016-05-03T15:18:31.429111Z", "project": {"domain": {"id":
        "default", "name": "Default"}, "id": "a5db6ff5a6274dd589b6a05945d7f34d", "name":
        "demo"}, "catalog": [{"endpoints": [{"region_id": "RegionOne", "url": "http://devstack.openstack.stack:8776/v2/a5db6ff5a6274dd589b6a05945d7f34d",
        "region": "RegionOne", "interface": "public", "id": "0e40a16fd8ad4045ae738b749818818e"},
        {"region_id": "RegionOne", "url": "http://devstack.openstack.stack:8776/v2/a5db6ff5a6274dd589b6a05945d7f34d",
        "region": "RegionOne", "interface": "internal", "id": "1ebe166449b34147ac4df07e492571d9"},
        {"region_id": "RegionOne", "url": "http://devstack.openstack.stack:8776/v2/a5db6ff5a6274dd589b6a05945d7f34d",
        "region": "RegionOne", "interface": "admin", "id": "b2ae2902e8104f05b5fd2def27a4537a"}],
        "type": "volumev2", "id": "1766683b2f9f4ef2acf7f9e4e359fb9a", "name": "cinderv2"},
        {"endpoints": [], "type": "metering", "id": "18dbb2f0ddeb45b99d11ed0568f153ab",
        "name": "ceilometer"}, {"endpoints": [{"region_id": "RegionOne", "url": "http://mo-edbdf14f1.mo.sap.corp:8777/",
        "region": "RegionOne", "interface": "admin", "id": "6f44eb5bf4e646f9a7afebb1f32501f1"},
        {"region_id": "RegionOne", "url": "http://mo-edbdf14f1.mo.sap.corp:8777/",
        "region": "RegionOne", "inte[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v1/a5db6ff5a6274dd589b6a05945d7f34d/os-volume-transfer/6e60dc20-a85d-439a-80c8-fda70774c69a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - afdc13ad24984611903ea1bb613f5677
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-772e5eb8-9161-45cf-8de1-f6555663014e
      X-Openstack-Request-Id:
      - req-772e5eb8-9161-45cf-8de1-f6555663014e
    body:
      encoding: UTF-8
      string: '{"itemNotFound": {"message": "Transfer 6e60dc20-a85d-439a-80c8-fda70774c69a
        could not be found.", "code": 404}}'
  recorded_at: Tue, 03 May 2016 14:18:31 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v1/a5db6ff5a6274dd589b6a05945d7f34d/os-volume-transfer/ec8ff7e8-81e2-4e12-b9fb-3e8890612c2d/accept
    body:
      encoding: UTF-8
      string: '{"accept":{"auth_key":"764296b37245658d"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - afdc13ad24984611903ea1bb613f5677
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-996e21d2-1d03-4a3e-8ff0-169ff84b0062
      X-Openstack-Request-Id:
      - req-996e21d2-1d03-4a3e-8ff0-169ff84b0062
    body:
      encoding: UTF-8
      string: '{"itemNotFound": {"message": "TransferNotFound: Transfer ec8ff7e8-81e2-4e12-b9fb-3e8890612c2d
        could not be found.", "code": 404}}'
  recorded_at: Tue, 03 May 2016 14:18:32 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v1/a5db6ff5a6274dd589b6a05945d7f34d/os-volume-transfer/6e60dc20-a85d-439a-80c8-fda70774c69a/accept
    body:
      encoding: UTF-8
      string: '{"accept":{"auth_key":"invalidauthkey"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - afdc13ad24984611903ea1bb613f5677
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-076e70db-0b62-48af-acbf-1d058cb0044b
      X-Openstack-Request-Id:
      - req-076e70db-0b62-48af-acbf-1d058cb0044b
    body:
      encoding: UTF-8
      string: '{"badRequest": {"message": "Invalid auth key: Attempt to transfer 6e60dc20-a85d-439a-80c8-fda70774c69a
        with invalid auth key.", "code": 400}}'
  recorded_at: Tue, 03 May 2016 14:18:32 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v1/a5db6ff5a6274dd589b6a05945d7f34d/volumes/42a23191-d56f-4235-8d95-3d3f69de3d67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - afdc13ad24984611903ea1bb613f5677
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-3679fd45-3fc3-4f3f-86c9-9bf1cd2ec94f
      X-Openstack-Request-Id:
      - req-3679fd45-3fc3-4f3f-86c9-9bf1cd2ec94f
    body:
      encoding: UTF-8
      string: '{"itemNotFound": {"message": "The resource could not be found.", "code":
        404}}'
  recorded_at: Tue, 03 May 2016 14:18:38 GMT
recorded_with: VCR 3.0.1
