---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-947889ad-c72e-4a9b-9107-3c00cc7ab5e6
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-947889ad-c72e-4a9b-9107-3c00cc7ab5e6
    body:
      encoding: UTF-8
      string: '{"volume_types": [{"name": "lvmdriver-1", "extra_specs": {"volume_backend_name":
        "lvmdriver-1"}, "os-volume-type-access:is_public": true, "is_public": true,
        "id": "326e2b0b-3776-49a5-b26d-4de79ac659ed", "description": null}]}'
  recorded_at: Tue, 03 May 2016 14:18:04 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/types/326e2b0b-3776-49a5-b26d-4de79ac659ed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-0341eae8-b4a3-4989-8113-4ead95720435
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-0341eae8-b4a3-4989-8113-4ead95720435
    body:
      encoding: UTF-8
      string: '{"volume_type": {"name": "lvmdriver-1", "extra_specs": {"volume_backend_name":
        "lvmdriver-1"}, "os-volume-type-access:is_public": true, "is_public": true,
        "id": "326e2b0b-3776-49a5-b26d-4de79ac659ed", "description": null}}'
  recorded_at: Tue, 03 May 2016 14:18:04 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v1/2ab82e30d7984631874def67813dffd8/types?lvmdriver-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ad21ad4ecd84202a848cb0f6e3b85f2
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-08710539-db12-4ea1-a6e5-94335b84ddee
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-08710539-db12-4ea1-a6e5-94335b84ddee
    body:
      encoding: UTF-8
      string: '{"volume_types": [{"name": "lvmdriver-1", "extra_specs": {"volume_backend_name":
        "lvmdriver-1"}, "os-volume-type-access:is_public": true, "is_public": true,
        "id": "326e2b0b-3776-49a5-b26d-4de79ac659ed", "description": null}]}'
  recorded_at: Tue, 03 May 2016 14:18:04 GMT
recorded_with: VCR 3.0.1
