---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - c55ca96ce13749d2b748be95792c4c8f
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-25167108-6995-42e5-a4c6-fa124af3eb6f
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects", "previous":
        null, "next": null}, "projects": [{"is_domain": false, "description": "",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/projects/2ab82e30d7984631874def67813dffd8"},
        "enabled": true, "id": "2ab82e30d7984631874def67813dffd8", "parent_id": null,
        "domain_id": "default", "name": "service"}, {"is_domain": false, "description":
        "Monasca Monitoring Project", "links": {"self": "http://devstack.openstack.stack:35357/v3/projects/30079dd13fb1488a88e6ee32f3e0b9ac"},
        "enabled": true, "id": "30079dd13fb1488a88e6ee32f3e0b9ac", "parent_id": null,
        "domain_id": "default", "name": "monitoring"}, {"is_domain": false, "description":
        "", "links": {"self": "http://devstack.openstack.stack:35357/v3/projects/5c2f4406e91248ac9c1406b795385725"},
        "enabl[...]
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:9696/v2.0/networks
    body:
      encoding: UTF-8
      string: '{"network":{"name":"foo-net23","tenant_id":"f17a4813648d4b0bb82124ca1f5f1fd0"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0a180393f3b34110be26cf1624a4a470
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-164ab980-24d9-46a4-8d2b-959980bc43d1
    body:
      encoding: UTF-8
      string: '{"network": {"status": "ACTIVE", "subnets": [], "name": "foo-net23",
        "provider:physical_network": null, "admin_state_up": true, "tenant_id": "f17a4813648d4b0bb82124ca1f5f1fd0",
        "mtu": 1450, "router:external": false, "shared": false, "port_security_enabled":
        true, "provider:network_type": "vxlan", "id": "0504a96b-f5fa-4a8f-bdd0-8a3f75819284",
        "provider:segmentation_id": 1014}}'
  recorded_at: Fri, 15 Jul 2016 11:17:27 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:9696/v2.0/rbac-policies
    body:
      encoding: UTF-8
      string: '{"rbac_policy":{"object_type":"network","object_id":"0504a96b-f5fa-4a8f-bdd0-8a3f75819284","tenant_id":"f17a4813648d4b0bb82124ca1f5f1fd0","target_tenant":"2ab82e30d7984631874def67813dffd8","action":"access_as_shared"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0a180393f3b34110be26cf1624a4a470
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-8d8ababd-441c-4e85-91cd-382b5ee416c1
    body:
      encoding: UTF-8
      string: '{"rbac_policy": {"target_tenant": "2ab82e30d7984631874def67813dffd8",
        "tenant_id": "f17a4813648d4b0bb82124ca1f5f1fd0", "object_type": "network",
        "object_id": "0504a96b-f5fa-4a8f-bdd0-8a3f75819284", "action": "access_as_shared",
        "id": "9dd76b84-2c27-4d43-a666-6ba203b76cc9"}}'
  recorded_at: Fri, 15 Jul 2016 11:17:27 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:9696/v2.0/networks/0504a96b-f5fa-4a8f-bdd0-8a3f75819284
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0a180393f3b34110be26cf1624a4a470
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-2e7aedbb-37b1-4d1d-aeed-9ba66e37e7d7
    body:
      encoding: UTF-8
      string: '{"network": {"status": "ACTIVE", "subnets": [], "name": "foo-net23",
        "provider:physical_network": null, "admin_state_up": true, "tenant_id": "f17a4813648d4b0bb82124ca1f5f1fd0",
        "mtu": 1450, "router:external": false, "shared": false, "port_security_enabled":
        true, "provider:network_type": "vxlan", "id": "0504a96b-f5fa-4a8f-bdd0-8a3f75819284",
        "provider:segmentation_id": 1014}}'
  recorded_at: Fri, 15 Jul 2016 11:17:27 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:9696/v2.0/rbac-policies?object_id=0504a96b-f5fa-4a8f-bdd0-8a3f75819284
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0a180393f3b34110be26cf1624a4a470
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-516753dc-c2c0-403c-92c5-742e12e6a6aa
    body:
      encoding: UTF-8
      string: '{"rbac_policies": [{"target_tenant": "2ab82e30d7984631874def67813dffd8",
        "tenant_id": "f17a4813648d4b0bb82124ca1f5f1fd0", "object_type": "network",
        "object_id": "0504a96b-f5fa-4a8f-bdd0-8a3f75819284", "action": "access_as_shared",
        "id": "9dd76b84-2c27-4d43-a666-6ba203b76cc9"}]}'
  recorded_at: Fri, 15 Jul 2016 11:17:27 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:9696/v2.0/rbac-policies/9dd76b84-2c27-4d43-a666-6ba203b76cc9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0a180393f3b34110be26cf1624a4a470
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-f5e7d517-553c-444c-873c-716130352099
    body:
      encoding: UTF-8
      string: '{"rbac_policy": {"target_tenant": "2ab82e30d7984631874def67813dffd8",
        "tenant_id": "f17a4813648d4b0bb82124ca1f5f1fd0", "object_type": "network",
        "object_id": "0504a96b-f5fa-4a8f-bdd0-8a3f75819284", "action": "access_as_shared",
        "id": "9dd76b84-2c27-4d43-a666-6ba203b76cc9"}}'
  recorded_at: Fri, 15 Jul 2016 11:17:27 GMT
[...]
- request:
    method: delete
    uri: http://devstack.openstack.stack:9696/v2.0/networks/0504a96b-f5fa-4a8f-bdd0-8a3f75819284
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0a180393f3b34110be26cf1624a4a470
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-584f24c1-512e-4db5-b6db-291236fa3734
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Jul 2016 11:17:29 GMT
recorded_with: VCR 3.0.1
