---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:9696/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1cc71e8d89934d00a84d4ef13a048da3
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"versions": [{"status": "CURRENT", "id": "v2.0", "links": [{"href":
        "http://devstack.openstack.stack:9696/v2.0", "rel": "self"}]}]}'
  recorded_at: Wed, 11 May 2016 11:30:12 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:5000/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["password"],"password":{"user":{"password":"password","domain":{"name":"Default"},"name":"admin"}}},"scope":{"domain":{"name":"Default"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Subject-Token:
      - 3b58d1663a9a49b2af240e68bfb08081
      X-Openstack-Request-Id:
      - req-61615d9a-8f2c-4642-9171-6e83b674fef8
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token": {"domain": {"id": "default", "name": "Default"}, "methods":
        ["password"], "roles": [{"id": "289a88fea19045b0a042d0026ac5ee6d", "name":
        "admin"}], "expires_at": "2016-05-11T12:30:07.699816Z", "catalog": [{"endpoints":
        [{"region_id": "RegionOne", "url": "http://devstack.openstack.stack:9292", "region": "RegionOne",
        "interface": "internal", "id": "10d69506a8f3408482090ef461813e6f"}, {"region_id":
        "RegionOne", "url": "http://devstack.openstack.stack:9292", "region": "RegionOne", "interface":
        "public", "id": "9f04f53d3f7147db9d7524838496a9c9"}, {"region_id": "RegionOne",
        "url": "http://devstack.openstack.stack:9292", "region": "RegionOne", "interface": "admin",
        "id": "e5b2006675454d7bab41e6e307a3526b"}], "type": "image", "id": "07c0289b6ed24ab2ad9ab251d69bc360",
        "name": "glance"}, {"endpoints": [{"region_id": "RegionOne", "url": "http://devstack.openstack.stack:9696/",
        "region": "RegionOne", "interface": "internal", "id": "63baac6b30244e39982163edb3eea7a1"},
        {"region_id": "RegionOne", "url": "http://devstack.openstack.stack:9696/", "region": "RegionOne",
        "interface": "admin", "id": "7cbbd12dfc7d498a8e4be71b93e26ba4"}, {"region_id":
        "RegionOne", "url": "http://dev[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:5000/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["password"],"password":{"user":{"password":"password","domain":{"name":"Default"},"name":"admin"}}},"scope":{"project":{"name":"admin","domain":{"name":"Default"}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Subject-Token:
      - 3529b569335f4a43a40be0cfb0b4e635
      X-Openstack-Request-Id:
      - req-3673b227-2e41-408c-8292-29ef86eb95b9
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token": {"methods": ["password"], "roles": [{"id": "289a88fea19045b0a042d0026ac5ee6d",
        "name": "admin"}], "is_admin_project": true, "project": {"domain": {"id":
        "default", "name": "Default"}, "id": "dc4b3b173ee8467e9e2ae99e5c321d0c", "name":
        "admin"}, "catalog": [{"endpoints": [{"region_id": "RegionOne", "url": "http://devstack.openstack.stack:9292",
        "region": "RegionOne", "interface": "internal", "id": "10d69506a8f3408482090ef461813e6f"},
        {"region_id": "RegionOne", "url": "http://devstack.openstack.stack:9292", "region": "RegionOne",
        "interface": "public", "id": "9f04f53d3f7147[...]
[...]
