---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:35357/v3/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 3529b569335f4a43a40be0cfb0b4e635
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-03b8aa7b-9e49-4af8-98a8-0f68d9ee0c61
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links": {"self": "http://devstack.openstack.stack:35357/v3/projects", "previous":
        null, "next": null}, "projects": [{"is_domain": false, "description": "",
        "links": {"self": "http://devstack.openstack.stack:35357/v3/projects/6df7cf36158a47e8a7736fd0c7693b06"},
        "enabled": true, "id": "6df7cf36158a47e8a7736fd0c7693b06", "parent_id": "default",
        "domain_id": "default", "name": "alt_demo"}, {"is_domain": false, "description":
        "", "links": {"self": "http://devstack.openstack.stack:35357/v3/projects/d1e053cab7a649c78c81739a189e1fd0"},
        "enabled": true, "id": "d1e053cab7a649c78c81739a189e1fd0", "parent_id": "default",
        "domain_id": "default", "name": "invisible_to_admin"}, {"is_domain": false,
        "description": "Bootstrap project for initializing the cloud.", "links": {"self":
        "http://devstack.openstack.stack:35357/v3/projects/dc4b3b173ee8467e9e2ae99e5c321d0c"},
        "enabled": true, "id": "dc4b3b173ee8467e9e2ae99e5c321d0c", "parent_id": "default",
        "domain_id": "default", "name": "admin"}, {"is_domain": false, "description":
        "", "links": {"self": "http://devstack.openstack.stack:35357/v3/projects/e02755e20b3942e9b68ead0c0d5fa291"},
        "enabled": true, "id": "e02755e20b3942e9b68ead0c0d5fa291", "parent_id": "default",
        "domain_id": "default", "name": "demo"}, {"is_domain": false, "description":
        "", "links": {"self": "http://devstack.openstack.stack:35357/v3/projects/fec49ae8596c465ab05895afaed75ff1"},
        "enabled": true, "id": "fec49ae8596c465ab05895afaed75ff1", "parent_id": "default",
        "domain_id": "default", "name": "service"}]}'
  recorded_at: Wed, 11 May 2016 12:05:22 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:9696/v2.0/networks
    body:
      encoding: UTF-8
      string: '{"network":{"name":"foo-net23","tenant_id":"dc4b3b173ee8467e9e2ae99e5c321d0c"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 2488d4b6fc95451192247b282c89937c
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-dc14a78d-ede6-4249-a0ed-67833d84a778
    body:
      encoding: UTF-8
      string: '{"network": {"status": "ACTIVE", "router:external": false, "availability_zone_hints":
        [], "availability_zones": [], "description": "", "provider:physical_network":
        null, "subnets": [], "shared": false, "name": "foo-net23", "created_at": "2016-05-11T12:05:18",
        "tags": [], "updated_at": "2016-05-11T12:05:18", "provider:network_type":
        "vxlan", "ipv6_address_scope": null, "tenant_id": "dc4b3b173ee8467e9e2ae99e5c321d0c",
        "admin_state_up": true, "ipv4_address_scope": null, "port_security_enabled":
        true, "mtu": 1450, "id": "9bd99e12-499e-4f66-80c8-3239d03849bc", "provider:segmentation_id":
        1087}}'
  recorded_at: Wed, 11 May 2016 12:05:22 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:9696/v2.0/rbac-policies
    body:
      encoding: UTF-8
      string: '{"rbac_policy":{"object_type":"network","object_id":"9bd99e12-499e-4f66-80c8-3239d03849bc","tenant_id":"dc4b3b173ee8467e9e2ae99e5c321d0c","target_tenant":"6df7cf36158a47e8a7736fd0c7693b06","action":"access_as_shared"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 2488d4b6fc95451192247b282c89937c
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-2b133cf6-a8d0-4584-8eeb-519ae364c2f6
    body:
      encoding: UTF-8
      string: '{"rbac_policy": {"target_tenant": "6df7cf36158a47e8a7736fd0c7693b06",
        "tenant_id": "dc4b3b173ee8467e9e2ae99e5c321d0c", "object_type": "network",
        "object_id": "9bd99e12-499e-4f66-80c8-3239d03849bc", "action": "access_as_shared",
        "id": "bc8255ca-0511-469f-87de-042bff269896"}}'
  recorded_at: Wed, 11 May 2016 12:05:23 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:9696/v2.0/networks/9bd99e12-499e-4f66-80c8-3239d03849bc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 2488d4b6fc95451192247b282c89937c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-ec1a5f90-34b7-47e0-89ae-7086eee4d021
    body:
      encoding: UTF-8
      string: '{"network": {"status": "ACTIVE", "router:external": false, "availability_zone_hints":
        [], "availability_zones": [], "description": "", "provider:physical_network":
        null, "subnets": [], "shared": false, "name": "foo-net23", "created_at": "2016-05-11T12:05:18",
        "tags": [], "ipv6_address_scope": null, "provider:network_type": "vxlan",
        "updated_at": "2016-05-11T12:05:18", "tenant_id": "dc4b3b173ee8467e9e2ae99e5c321d0c",
        "admin_state_up": true, "ipv4_address_scope": null, "port_security_enabled":
        true, "mtu": 1450, "id": "9bd99e12-499e-4f66-80c8-3239d03849bc", "provider:segmentation_id":
        1087}}'
  recorded_at: Wed, 11 May 2016 12:05:23 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:9696/v2.0/rbac-policies?object_id=9bd99e12-499e-4f66-80c8-3239d03849bc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 2488d4b6fc95451192247b282c89937c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-5fad5792-88f3-4331-9221-a409535966dc
    body:
      encoding: UTF-8
      string: '{"rbac_policies": [{"target_tenant": "6df7cf36158a47e8a7736fd0c7693b06",
        "tenant_id": "dc4b3b173ee8467e9e2ae99e5c321d0c", "object_type": "network",
        "object_id": "9bd99e12-499e-4f66-80c8-3239d03849bc", "action": "access_as_shared",
        "id": "bc8255ca-0511-469f-87de-042bff269896"}]}'
  recorded_at: Wed, 11 May 2016 12:05:23 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:9696/v2.0/rbac-policies/bc8255ca-0511-469f-87de-042bff269896
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 2488d4b6fc95451192247b282c89937c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-24cae1c8-405b-41fa-9141-9f8692c8f12f
    body:
      encoding: UTF-8
      string: '{"rbac_policy": {"target_tenant": "6df7cf36158a47e8a7736fd0c7693b06",
        "tenant_id": "dc4b3b173ee8467e9e2ae99e5c321d0c", "object_type": "network",
        "object_id": "9bd99e12-499e-4f66-80c8-3239d03849bc", "action": "access_as_shared",
        "id": "bc8255ca-0511-469f-87de-042bff269896"}}'
  recorded_at: Wed, 11 May 2016 12:05:23 GMT
[...]
- request:
    method: delete
    uri: http://devstack.openstack.stack:9696/v2.0/networks/9bd99e12-499e-4f66-80c8-3239d03849bc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 2488d4b6fc95451192247b282c89937c
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-0c68b400-4531-4523-8ac0-4f1c1c4fd67d
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 11 May 2016 12:05:24 GMT
recorded_with: VCR 3.0.1
