---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:9696/v2.0/security-groups?limit=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 364aa24bffe44e4d95775e498bbd3654
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-469eb90d-5ae4-4b5f-9bb0-24b03530342f
    body:
      encoding: UTF-8
      string: '{"security_groups_links": [{"href": "http://devstack.openstack.stack:9696/v2.0/security-groups?limit=2&marker=6574f534-edcd-47f0-b5aa-42461ebfce61",
        "rel": "next"}, {"href": "http://devstack.openstack.stack:9696/v2.0/security-groups?limit=2&marker=0b8d1641-a608-4505-9b79-c79287f647cf&page_reverse=True",
        "rel": "previous"}], "security_groups": [{"tenant_id": "f17a4813648d4b0bb82124ca1f5f1fd0",
        "description": "Default security group", "id": "0b8d1641-a608-4505-9b79-c79287f647cf",
        "security_group_rules": [{"remote_group_id": "0b8d1641-a608-4505-9b79-c79287f647cf",
        "direction": "ingress", "remote_ip_prefix": null, "protocol": null, "ethertype":
        "IPv6", "tenant_id": "f17a4813648d4b0bb82124ca1f5f1fd0", "port_range_max":
        null, "port_range_min": null, "id": "512f6dac-b967-4b96-a4af-56d6ac2fdaca",
        "security_group_id": "0b8d1641-a608-4505-9b79-c79287f647cf"}, {"remote_group_id":
        null, "direction": "egress", "remote_ip_prefix": null, "protocol": null, "ethertype":
        "IPv6", "tenant_id": "f17a4813648d4b0bb82124ca1f5f1fd0", "port_range_max":
        null, "port_range_min": null, "id": "5a66e0d3-b6b5-446a-a4ed-d731999ab492",
        "security_group_id": "0b8d1641-a608-4505-9b79-c79287f647cf"}, {"remote_group_id":
        "0b8d1641-a608-4505-9b79-c79287f647cf", "direction": "ingress", "remote_ip_prefix":
        null, "protocol": null, "ethertype": "IPv4", "tenant_id": "f17a4813648d4b0bb82124ca1f5f1fd0",
        "port_range_max": null, "port_range_min": null, "id": "73f076fb-87cf-475c-a7aa-eb200b5d0ff2",
        "security_group_id": "0b8d1641-a608-4505-9b79-c79287f647cf"}, {"remote_group_id":
        null, "direction": "egress", "remote_ip_prefix": null, "protocol": null, "ethertype":
        "IPv4", "tenant_id": "f17a4813648d4b0bb82124ca1f5f1fd0", "port_range_max":
        null, "port_range_min": null, "id": "d0562e4b-d038-42ff-9f53-e49360e20a0a",
        "security_group_id": "0b8d1641-a608-4505-9b79-c79287f647cf"}], "name": "default"},
        {"tenant_id": "2ab82e30d7984631874def67813dffd8", "description": "Default
        security group", "id": "6574f534-edcd-47f0-b5aa-42461ebfce61", "security_group_rules":
        [{"remote_group_id": null, "direction": "egress", "remote_ip_prefix": null,
        "protocol": null, "ethertype": "IPv6", "tenant_id": "2ab82e30d7984631874def67813dffd8",
        "port_range_max": null, "port_range_min": null, "id": "991b52ab-7f96-4fd2-9b90-56b8a5b6719a",
        "security_group_id":[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:9696/v2.0/security-groups?limit=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4563dbb894e57759d4e44effb42aa463
  response:
    status:
      code: 401
      message: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Www-Authenticate:
      - Keystone uri='http://devstack.openstack.stack:5000'
      X-Openstack-Request-Id:
      - req-89a495cb-7972-4d2f-9a3c-eccd6200ac77
    body:
      encoding: UTF-8
      string: Authentication required
  recorded_at: Fri, 15 Jul 2016 11:17:32 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:5000/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["password"],"password":{"user":{"password":"password","domain":{"name":"Default"},"name":"admin"}}},"scope":{"project":{"name":"admin","domain":{"name":"Default"}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Subject-Token:
      - 55d9e5b52b5e44ff9ff24f1672f66662
      X-Openstack-Request-Id:
      - req-3d27c906-6c50-4ac4-bde6-873fb83c3ce9
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token": {"methods": ["password"], "roles": [{"id": "5929fb4077c3415c9850e66f2c2be16b",
        "name": "admin"}, {"id": "13c811edcd2a46dca5fed6252fd50cd2", "name": "service"},
        {"id": "d46ad249d4dd40eb840d20ec917d682e", "name": "ResellerAdmin"}], "expires_at":
        "2016-07-15T12:18:02.655028Z", "project": {"domain": {"id": "default", "name":
        "Default"}, "id": "f17a4813648d4b0bb82124ca1f5f1fd0", "name": "admin"}, "catalog":
        [{"endpoints": [{"region_id": "RegionOne", "url": "http://devstack.openstack.stack:8776/v2/f17a4813648d4b0bb82124ca1f5f1fd0",
        "region": "RegionOne", "interface": "public", "id": "0e40a16fd8ad4045ae738b749818818e"},
        {"region_id": "RegionOne", "url": "http://devstack.openstack.stack:8776/v2/f17a4813648d4b0bb82124ca1f5f1fd0",
        "region": "RegionOne", "interface": "internal", "id": "1ebe166449b34147ac4df07e492571d9"},
        {"region_id": "RegionOne", "url": "http://devstack.openstack.stack:8776/v2/f17a4813648d4b0bb82124ca1f5f1fd0",
        "region": "RegionOne", "interface": "admin", "id": "b2ae2902e8104f05b5fd2def27a4537a"}],
        "type": "volumev2", "id": "1766683b2f9f4ef2acf7f9e4e359fb9a", "name": "cinderv2"},
        {"endpoints": [], "type": "metering", "id": "18dbb2f0ddeb45b99d11ed0568f153ab",
        "name": "ceilometer"}, {"endpoints": [{"region_id": "RegionOne", "url": "http://mo-edbdf14f1.mo.sap.corp:8777/",
        "region": "RegionOne", "interface": "admin", "id": "6f44eb5bf4e646f9a7afebb1f32501f1"},
        {"region_id": "RegionOne", "url": "http://mo-edbdf14f1.mo.sap.corp:8777/",
        "region": "RegionOne", "inte[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:9696/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 55d9e5b52b5e44ff9ff24f1672f66662
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"versions": [{"status": "CURRENT", "id": "v2.0", "links": [{"href":
        "http://devstack.openstack.stack:9696/v2.0", "rel": "self"}]}]}'
  recorded_at: Fri, 15 Jul 2016 11:17:34 GMT
[...]
