---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:9696/v2.0/security-groups?limit=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 20fe8b89d90f4549b401b4cb2ba2b576
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-f70a6dde-2415-42db-9272-270906e7ea27
    body:
      encoding: UTF-8
      string: '{"security_groups_links": [{"href": "http://devstack.openstack.stack:9696/v2.0/security-groups?limit=2&marker=17c0d169-c9b8-4a5f-9818-1f0bb7286cf4",
        "rel": "next"}, {"href": "http://devstack.openstack.stack:9696/v2.0/security-groups?limit=2&marker=13f64083-2941-42f7-ae85-6526623f9132&page_reverse=True",
        "rel": "previous"}], "security_groups": [{"tenant_id": "dc4b3b173ee8467e9e2ae99e5c321d0c",
        "description": "Default security group", "id": "13f64083-2941-42f7-ae85-6526623f9132",
        "security_group_rules": [{"direction": "ingress", "protocol": null, "description":
        "", "port_range_max": null, "id": "2e6d2aa4-b13d-4c77-9585-ad0f80c686b7",
        "remote_group_id": "13f64083-2941-42f7-ae85-6526623f9132", "remote_ip_prefix":
        null, "security_group_id": "13f64083-2941-42f7-ae85-6526623f9132", "tenant_id":
        "dc4b3b173ee8467e9e2ae99e5c321d0c", "port_range_min": null, "ethertype": "IPv4"},
        {"direction": "ingress", "protocol": null, "description": "", "port_range_max":
        null, "id": "737368bc-ec65-471f-aae2-a7811da2deb4", "remote_group_id": "13f64083-2941-42f7-ae85-6526623f9132",
        "remote_ip_prefix": null, "security_group_id": "13f64083-2941-42f7-ae85-6526623f9132",
        "tenant_id": "dc4b3b173ee8467e9e2ae99e5c321d0c", "port_range_min": null, "ethertype":
        "IPv6"}, {"direction": "egress", "protocol": null, "description": "", "port_range_max":
        null, "id": "9f3418fd-36af-4308-8b77-e118ab71a994", "remote_group_id": null,
        "remote_ip_prefix": null, "security_group_id": "13f64083-2941-42f7-ae85-6526623f9132",
        "tenant_id": "dc4b3b173ee8467e9e2ae99e5c321d0c", "port_range_min": null, "ethertype":
        "IPv6"}, {"direction": "egress", "protocol": null, "description": "", "port_range_max":
        null, "id": "edd588d0-dcf5-433b-9299-1aa5d3ac79c4", "remote_group_id": null,
        "remote_ip_prefix": null, "security_group_id": "13f64083-2941-42f7-ae85-6526623f9132",
        "tenant_id": "dc4b3b173ee8467e9e2ae99e5c321d0c", "port_range_min": null, "ethertype":
        "IPv4"}], "name": "default"}, {"tenant_id": "b182d5350a95499eb5f42d8c8b65c346",
        "description": "Default security group", "id": "17c0d169-c9b8-4a5f-9818-1f0bb7286cf4",
        "security_group_rules": [{"direction": "ingress", "protocol": null, "description":
        "", "port_range_max": null, "id": "4c6e4076-39cb-413d-8b44-fc4a82e8ec22",
        "remote_group_id": "17c0d169-c9b8-4a5f-9818-1f0bb7286cf4", "remote_ip_prefix":
        null, "security_group_id": "17c0d169-c9b8-4a5f-9818-1f0bb7286cf4", "tenant[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:9696/v2.0/security-groups?limit=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 675b2ab2bc4b104b9454f09d98b8ef02
  response:
    status:
      code: 401
      message: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Www-Authenticate:
      - Keystone uri='http://devstack.openstack.stack:5000'
      X-Openstack-Request-Id:
      - req-36a3a38c-f399-4d05-b628-78476569218e
    body:
      encoding: UTF-8
      string: Authentication required
  recorded_at: Wed, 22 Jun 2016 13:10:59 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:5000/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["password"],"password":{"user":{"name":"admin","domain":{"name":"Default"},"password":"password"}}},"scope":{"project":{"name":"admin","domain":{"name":"Default"}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Subject-Token:
      - e5bc71f01dd642818f02b313744a6a4a
      X-Openstack-Request-Id:
      - req-c2bb300f-04ab-4ae4-8b9b-b489d1e125da
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token": {"methods": ["password"], "roles": [{"id": "8126832e336f4232bd8519bda81348db",
        "name": "neutron_admin"}], "is_admin_project": true, "project": {"domain":
        {"id": "default", "name": "Default"}, "id": "dc4b3b173ee8467e9e2ae99e5c321d0c",
        "name": "admin"}, "catalog": [{"endpoints": [{"region_id": "RegionOne", "url":
        "http://devstack.openstack.stack:9292", "region": "RegionOne", "interface": "internal",
        "id": "10d69506a8f3408482090ef461813e6f"}, {"region_id": "RegionOne", "url":
        "http://devstack.openstack.stack:9292", "region": "RegionOne", "interface": "public",
        "id": "9f04f53d3f7147db9d7524838496a9c9"}, {"region_id": "RegionOne", "url":
        "http://devstack.openstack.stack:9292", "region": "RegionOne", "interface": "admin", "id":
        "e5b2006675454d7bab41e6e307a3526b"}], "type": "image", "id": "07c0289b6ed24ab2ad9ab251d69bc360",
        "name": "glance"}, {"endpoints": [{"region_id": "RegionOne", "url": "http://devstack.openstack.stack:9696/",
        "region": "RegionOne", "interface": "internal", "id": "63baac6b30244e39982163edb3eea7a1"},
        {"region_id": "RegionOne", "url": "http://devstack.openstack.stack:9696/", "region": "RegionOne",
        "interface": "admin", "id": "7cbbd12dfc7d498a8e4be71b93e26ba4"}, {"region_id":
        "RegionOne", "url": "http://dev[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:9696/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e5bc71f01dd642818f02b313744a6a4a
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"versions": [{"status": "CURRENT", "id": "v2.0", "links": [{"href":
        "http://devstack.openstack.stack:9696/v2.0", "rel": "self"}]}]}'
  recorded_at: Wed, 22 Jun 2016 13:11:00 GMT
[...]
