---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-fbc24ba6-40d1-4d09-96db-53d8c03c1f17
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-fbc24ba6-40d1-4d09-96db-53d8c03c1f17
    body:
      encoding: UTF-8
      string: '{"volume_types": [{"name": "lvmdriver-1", "extra_specs": {"volume_backend_name":
        "lvmdriver-1"}, "os-volume-type-access:is_public": true, "is_public": true,
        "id": "326e2b0b-3776-49a5-b26d-4de79ac659ed", "description": null}]}'
  recorded_at: Tue, 03 May 2016 14:21:32 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/types/326e2b0b-3776-49a5-b26d-4de79ac659ed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-5ea17620-5bae-44cc-a8c6-b2fe314d02b2
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-5ea17620-5bae-44cc-a8c6-b2fe314d02b2
    body:
      encoding: UTF-8
      string: '{"volume_type": {"name": "lvmdriver-1", "extra_specs": {"volume_backend_name":
        "lvmdriver-1"}, "os-volume-type-access:is_public": true, "is_public": true,
        "id": "326e2b0b-3776-49a5-b26d-4de79ac659ed", "description": null}}'
  recorded_at: Tue, 03 May 2016 14:21:32 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/types?lvmdriver-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-6c243578-6883-43a3-bcf6-85327081db6b
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-6c243578-6883-43a3-bcf6-85327081db6b
    body:
      encoding: UTF-8
      string: '{"volume_types": [{"name": "lvmdriver-1", "extra_specs": {"volume_backend_name":
        "lvmdriver-1"}, "os-volume-type-access:is_public": true, "is_public": true,
        "id": "326e2b0b-3776-49a5-b26d-4de79ac659ed", "description": null}]}'
  recorded_at: Tue, 03 May 2016 14:21:32 GMT
recorded_with: VCR 3.0.1
