---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/detail?name=fog-testvolume-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-d4421614-4026-47fa-8faf-cc030f607183
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-d4421614-4026-47fa-8faf-cc030f607183
    body:
      encoding: UTF-8
      string: '{"volumes": []}'
  recorded_at: Tue, 03 May 2016 14:21:21 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes
    body:
      encoding: UTF-8
      string: '{"volume":{"name":"fog-testvolume-1","description":"This is the volume
        description.","size":1}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 202
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-49e779a0-edf6-4788-b5ef-f455861b919c
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-49e779a0-edf6-4788-b5ef-f455861b919c
    body:
      encoding: UTF-8
      string: '{"volume": {"status": "creating", "migration_status": null, "user_id":
        "205e0e39a2534743b517ed0aa2fbcda7", "attachments": [], "links": [{"href":
        "http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/b1c8ab26-71c4-4ccc-a06c-99e94d6c7b11",
        "rel": "self"}, {"href": "http://devstack.openstack.stack:8776/2ab82e30d7984631874def67813dffd8/volumes/b1c8ab26-71c4-4ccc-a06c-99e94d6c7b11",
        "rel": "bookmark"}], "availability_zone": "nova", "bootable": "false", "encrypted":
        false, "created_at": "2016-05-03T14:21:22.267212", "description": "This is
        the volume description.", "volume_type": "lvmdriver-1", "name": "fog-testvolume-1",
        "replication_status": "disabled", "consistencygroup_id": null, "source_volid":
        null, "snapshot_id": null, "multiattach": false, "metadata": {}, "id": "b1c8ab26-71c4-4ccc-a06c-99e94d6c7b11",
        "size": 1}}'
  recorded_at: Tue, 03 May 2016 14:21:22 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/b1c8ab26-71c4-4ccc-a06c-99e94d6c7b11
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-38adee17-87c5-4941-8d[...]
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/detail?name=fog-updated-testvolume-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-07a185c8-4e99-4eea-98[...]
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/b1c8ab26-71c4-4ccc-a06c-99e94d6c7b11
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-7874dfc6-2eb3-4f99-a1e3-fcf286110f9b
      X-Openstack-Request-Id:
      - req-7874dfc6-2eb3-4f99-a1e3-fcf286110f9b
    body:
      encoding: UTF-8
      string: '{"itemNotFound": {"message": "Volume b1c8ab26-71c4-4ccc-a06c-99e94d6c7b11
        could not be found.", "code": 404}}'
  recorded_at: Tue, 03 May 2016 14:21:32 GMT
recorded_with: VCR 3.0.1
