---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/detail?name=fog-testvolume-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-a44fee1f-b0f6-44f4-8d25-87f02924cbe2
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-a44fee1f-b0f6-44f4-8d25-87f02924cbe2
    body:
      encoding: UTF-8
      string: '{"volumes": []}'
  recorded_at: Tue, 03 May 2016 14:22:29 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes
    body:
      encoding: UTF-8
      string: '{"volume":{"name":"fog-testvolume-1","description":null,"size":1,"metadata":{"some_metadata":"this
        is meta","more_metadata":"even more meta"}}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 202
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-142c6e39-2cc4-4d0b-97b5-d8b58f18230b
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-142c6e39-2cc4-4d0b-97b5-d8b58f18230b
    body:
      encoding: UTF-8
      string: '{"volume": {"status": "creating", "migration_status": null, "user_id":
        "205e0e39a2534743b517ed0aa2fbcda7", "attachments": [], "links": [{"href":
        "http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/5c464852-2c68-47a4-9641-bcf53cf2f854",
        "rel": "self"}, {"href": "http://devstack.openstack.stack:8776/2ab82e30d7984631874def67813dffd8/volumes/5c464852-2c68-47a4-9641-bcf53cf2f854",
        "rel": "bookmark"}], "availability_zone": "nova", "bootable": "false", "encrypted":
        false, "created_at": "2016-05-03T14:22:29.609069", "description": null, "volume_type":
        "lvmdriver-1", "name": "fog-testvolume-1", "replication_status": "disabled",
        "consistencygroup_id": null, "source_volid": null, "snapshot_id": null, "multiattach":
        false, "metadata": {"more_metadata": "even more meta", "some_metadata": "this
        is meta"}, "id": "5c464852-2c68-47a4-9641-bcf53cf2f854", "size": 1}}'
  recorded_at: Tue, 03 May 2016 14:22:29 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/5c464852-2c68-47a4-9641-bcf53cf2f854
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-2ee22359-d5bf-4609-a9[...]
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/5c464852-2c68-47a4-9641-bcf53cf2f854/metadata
    body:
      encoding: UTF-8
      string: '{"metadata":{"some_metadata":"this is updated","new_metadata":"this
        is new"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-84e6fc41-eddd-4fa7-b834-fa4c2d26b791
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-84e6fc41-eddd-4fa7-b834-fa4c2d26b791
    body:
      encoding: UTF-8
      string: '{"metadata": {"more_metadata": "even more meta", "some_metadata": "this
        is updated", "new_metadata": "this is new"}}'
  recorded_at: Tue, 03 May 2016 14:22:32 GMT
[...]
- request:
    method: put
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/5c464852-2c68-47a4-9641-bcf53cf2f854/metadata
    body:
      encoding: UTF-8
      string: '{"metadata":{"some_metadata":"this is updated again","newer_metadata":"this
        is newer"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-e75d072e-dcdf-4dfc-b27e-a234964f1f58
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-e75d072e-dcdf-4dfc-b27e-a234964f1f58
    body:
      encoding: UTF-8
      string: '{"metadata": {"newer_metadata": "this is newer", "some_metadata": "this
        is updated again"}}'
  recorded_at: Tue, 03 May 2016 14:22:33 GMT
[...]
- request:
    method: delete
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/5c464852-2c68-47a4-9641-bcf53cf2f854/metadata/some_metadata
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Openstack-Request-Id:
      - req-397a1e72-f965-413f-85b4-c841c2a0f0a0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 03 May 2016 14:22:34 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/5c464852-2c68-47a4-9641-bcf53cf2f854
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-dda654cf-0a35-43bc-bd7f-524e6eb58107
      X-Openstack-Request-Id:
      - req-dda654cf-0a35-43bc-bd7f-524e6eb58107
    body:
      encoding: UTF-8
      string: '{"itemNotFound": {"message": "Volume 5c464852-2c68-47a4-9641-bcf53cf2f854
        could not be found.", "code": 404}}'
  recorded_at: Tue, 03 May 2016 14:22:44 GMT
recorded_with: VCR 3.0.1
