---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/detail?name=fog-testvolume-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-fbe427ce-0358-40b5-9a00-bec60374df75
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-fbe427ce-0358-40b5-9a00-bec60374df75
    body:
      encoding: UTF-8
      string: '{"volumes": []}'
  recorded_at: Tue, 03 May 2016 14:22:02 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes
    body:
      encoding: UTF-8
      string: '{"volume":{"name":"fog-testvolume-1","description":null,"size":1}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 202
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-5eebb3f5-9a52-4acd-8a11-e5cc504db3d9
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-5eebb3f5-9a52-4acd-8a11-e5cc504db3d9
    body:
      encoding: UTF-8
      string: '{"volume": {"status": "creating", "migration_status": null, "user_id":
        "205e0e39a2534743b517ed0aa2fbcda7", "attachments": [], "links": [{"href":
        "http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/ba81402e-55ff-42cd-ba12-3bce34c1dbcd",
        "rel": "self"}, {"href": "http://devstack.openstack.stack:8776/2ab82e30d7984631874def67813dffd8/volumes/ba81402e-55ff-42cd-ba12-3bce34c1dbcd",
        "rel": "bookmark"}], "availability_zone": "nova", "bootable": "false", "encrypted":
        false, "created_at": "2016-05-03T14:22:02.490622", "description": null, "volume_type":
        "lvmdriver-1", "name": "fog-testvolume-1", "replication_status": "disabled",
        "consistencygroup_id": null, "source_volid": null, "snapshot_id": null, "multiattach":
        false, "metadata": {}, "id": "ba81402e-55ff-42cd-ba12-3bce34c1dbcd", "size":
        1}}'
  recorded_at: Tue, 03 May 2016 14:22:02 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/ba81402e-55ff-42cd-ba12-3bce34c1dbcd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-43d756fb-187a-426a-9b[...]
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/os-volume-transfer/detail?name=fog-testtransfer-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-6bad71aa-65fb-4b38-8d6d-4d7c72eeff6e
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-6bad71aa-65fb-4b38-8d6d-4d7c72eeff6e
    body:
      encoding: UTF-8
      string: '{"transfers": []}'
  recorded_at: Tue, 03 May 2016 14:22:04 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/os-volume-transfer
    body:
      encoding: UTF-8
      string: '{"transfer":{"volume_id":"ba81402e-55ff-42cd-ba12-3bce34c1dbcd","name":"fog-testtransfer-1"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 202
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-293c5efb-deae-4221-a608-e0a920e3c471
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-293c5efb-deae-4221-a608-e0a920e3c471
    body:
      encoding: UTF-8
      string: '{"transfer": {"auth_key": "912bdfd291af1d32", "links": [{"href": "http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/os-volume-transfer/6d55169a-e4dc-45d8-99c9-6a640105f7af",
        "rel": "self"}, {"href": "http://devstack.openstack.stack:8776/2ab82e30d7984631874def67813dffd8/os-volume-transfer/6d55169a-e4dc-45d8-99c9-6a640105f7af",
        "rel": "bookmark"}], "created_at": "2016-05-03T14:22:04.917297", "volume_id":
        "ba81402e-55ff-42cd-ba12-3bce34c1dbcd", "id": "6d55169a-e4dc-45d8-99c9-6a640105f7af",
        "name": "fog-testtransfer-1"}}'
  recorded_at: Tue, 03 May 2016 14:22:05 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:5000/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["password"],"password":{"user":{"password":"password","domain":{"name":"Default"},"name":"demo"}}},"scope":{"project":{"name":"demo","domain":{"name":"Default"}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Subject-Token:
      - b0c103f4e5cd4b1f94efaa1533d0cdf2
      X-Openstack-Request-Id:
      - req-11e31d96-1a66-4ac2-994c-2db3c512a52b
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token": {"methods": ["password"], "roles": [{"id": "d97660751404495ab8c405826d547c16",
        "name": "Member"}, {"id": "eb9f0f3b348042ffa65f9d33e5d72014", "name": "anotherrole"}],
        "expires_at": "2016-05-03T15:22:05.363286Z", "project": {"domain": {"id":
        "default", "name": "Default"}, "id": "a5db6ff5a6274dd589b6a05945d7f34d", "name":
        "demo"}, "catalog": [{"endpoints": [{"region_id": "RegionOne", "url": "http://devstack.openstack.stack:8776/v2/a5db6ff5a6274dd589b6a05945d7f34d",
        "region": "RegionOne", "interface": "public", "id": "0e40a16fd8ad4045ae738b749818818e"},
        {"region_id": "RegionOne", "url": "http://devstack.openstack.stack:8776/v2/a5db6ff5a6274dd589b6a05945d7f34d",
        "region": "RegionOne", "interface": "internal", "id": "1ebe166449b34147ac4df07e492571d9"},
        {"region_id": "RegionOne", "url": "http://devstack.openstack.stack:8776/v2/a5db6ff5a6274dd589b6a05945d7f34d",
        "region": "RegionOne", "interface": "admin", "id": "b2ae2902e8104f05b5fd2def27a4537a"}],
        "type": "volumev2", "id": "1766683b2f9f4ef2acf7f9e4e359fb9a", "name": "cinderv2"},
        {"endpoints": [], "type": "metering", "id": "18dbb2f0ddeb45b99d11ed0568f153ab",
        "name": "ceilometer"}, {"endpoints": [{"region_id": "RegionOne", "url": "http://mo-edbdf14f1.mo.sap.corp:8777/",
        "region": "RegionOne", "interface": "admin", "id": "6f44eb5bf4e646f9a7afebb1f32501f1"},
        {"region_id": "RegionOne", "url": "http://mo-edbdf14f1.mo.sap.corp:8777/",
        "region": "RegionOne", "inte[...]
- request:
    method: delete
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/os-volume-transfer/6d55169a-e4dc-45d8-99c9-6a640105f7af
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Openstack-Request-Id:
      - req-8e64740f-0359-43bd-af66-fffb36845904
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 03 May 2016 14:22:05 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/a5db6ff5a6274dd589b6a05945d7f34d/os-volume-transfer/6d55169a-e4dc-45d8-99c9-6a640105f7af/accept
    body:
      encoding: UTF-8
      string: '{"accept":{"auth_key":"912bdfd291af1d32"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - b0c103f4e5cd4b1f94efaa1533d0cdf2
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-b99d2281-a59b-4493-8c95-23f72b542d9c
      X-Openstack-Request-Id:
      - req-b99d2281-a59b-4493-8c95-23f72b542d9c
    body:
      encoding: UTF-8
      string: '{"itemNotFound": {"message": "TransferNotFound: Transfer 6d55169a-e4dc-45d8-99c9-6a640105f7af
        could not be found.", "code": 404}}'
  recorded_at: Tue, 03 May 2016 14:22:06 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/ba81402e-55ff-42cd-ba12-3bce34c1dbcd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-2fb2a454-f704-4770-9564-95ce28bb24cd
      X-Openstack-Request-Id:
      - req-2fb2a454-f704-4770-9564-95ce28bb24cd
    body:
      encoding: UTF-8
      string: '{"itemNotFound": {"message": "Volume ba81402e-55ff-42cd-ba12-3bce34c1dbcd
        could not be found.", "code": 404}}'
  recorded_at: Tue, 03 May 2016 14:22:11 GMT
recorded_with: VCR 3.0.1
