---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/detail?name=fog-testvolume-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-cc87cab5-6a7b-4a3d-9505-f8a87f3028fe
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-cc87cab5-6a7b-4a3d-9505-f8a87f3028fe
    body:
      encoding: UTF-8
      string: '{"volumes": []}'
  recorded_at: Tue, 03 May 2016 14:22:44 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes
    body:
      encoding: UTF-8
      string: '{"volume":{"name":"fog-testvolume-1","description":null,"size":1,"metadata":{"some_metadata":"this
        is meta","more_metadata":"even more meta"}}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 202
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-08318ec9-58cf-4e0c-b199-6f7b6333ab8d
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-08318ec9-58cf-4e0c-b199-6f7b6333ab8d
    body:
      encoding: UTF-8
      string: '{"volume": {"status": "creating", "migration_status": null, "user_id":
        "205e0e39a2534743b517ed0aa2fbcda7", "attachments": [], "links": [{"href":
        "http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/f13a94bf-f4ac-4cb1-ac1d-920ba646d7b9",
        "rel": "self"}, {"href": "http://devstack.openstack.stack:8776/2ab82e30d7984631874def67813dffd8/volumes/f13a94bf-f4ac-4cb1-ac1d-920ba646d7b9",
        "rel": "bookmark"}], "availability_zone": "nova", "bootable": "false", "encrypted":
        false, "created_at": "2016-05-03T14:22:44.439613", "description": null, "volume_type":
        "lvmdriver-1", "name": "fog-testvolume-1", "replication_status": "disabled",
        "consistencygroup_id": null, "source_volid": null, "snapshot_id": null, "multiattach":
        false, "metadata": {"more_metadata": "even more meta", "some_metadata": "this
        is meta"}, "id": "f13a94bf-f4ac-4cb1-ac1d-920ba646d7b9", "size": 1}}'
  recorded_at: Tue, 03 May 2016 14:22:44 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/f13a94bf-f4ac-4cb1-ac1d-920ba646d7b9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-0b416990-f873-4215-89[...]
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/snapshots/detail?name=fog-testsnapshot-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-dfe80cf7-3a0a-40f8-83df-f81c62acebbe
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-dfe80cf7-3a0a-40f8-83df-f81c62acebbe
    body:
      encoding: UTF-8
      string: '{"snapshots": []}'
  recorded_at: Tue, 03 May 2016 14:22:46 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/snapshots
    body:
      encoding: UTF-8
      string: '{"snapshot":{"volume_id":"f13a94bf-f4ac-4cb1-ac1d-920ba646d7b9","name":"fog-testsnapshot-1","description":"Test
        snapshot","force":false}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 202
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-196d1812-acaf-4264-91fc-71abe5b0123d
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-196d1812-acaf-4264-91fc-71abe5b0123d
    body:
      encoding: UTF-8
      string: '{"snapshot": {"status": "creating", "metadata": {}, "name": "fog-testsnapshot-1",
        "volume_id": "f13a94bf-f4ac-4cb1-ac1d-920ba646d7b9", "created_at": "2016-05-03T14:22:46.684286",
        "size": 1, "id": "9f5ab74d-b2b1-42ec-ab51-6981f9ebd40c", "description": "Test
        snapshot"}}'
  recorded_at: Tue, 03 May 2016 14:22:46 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/snapshots/9f5ab74d-b2b1-42ec-ab51-6981f9ebd40c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-7f1174de-74bf-49b6-8c90-dcad2d5779a8
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-7f1174de-74bf-49b6-8c90-dcad2d5779a8
    body:
      encoding: UTF-8
      string: '{"snapshot": {"status": "creating", "metadata": {}, "os-extended-snapshot-attributes:progress":
        "0%", "name": "fog-testsnapshot-1", "volume_id": "f13a94bf-f4ac-4cb1-ac1d-920ba646d7b9",
        "os-extended-snapshot-attributes:project_id": "2ab82e30d7984631874def67813dffd8",
        "created_at": "2016-05-03T14:22:46.000000", "size": 1, "id": "9f5ab74d-b2b1-42ec-ab51-6981f9ebd40c",
        "description": "Test snapshot"}}'
  recorded_at: Tue, 03 May 2016 14:22:46 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/snapshots/9f5ab74d-b2b1-42ec-ab51-6981f9ebd40c/metadata
    body:
      encoding: UTF-8
      string: '{"metadata":{"some_snapshot_metadata":"this is data","new_snapshot_metadata":"this
        is new"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-15b6addd-d3ad-46c3-a135-e7e124e433cd
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-15b6addd-d3ad-46c3-a135-e7e124e433cd
    body:
      encoding: UTF-8
      string: '{"metadata": {"new_snapshot_metadata": "this is new", "some_snapshot_metadata":
        "this is data"}}'
  recorded_at: Tue, 03 May 2016 14:22:48 GMT
[...]
- request:
    method: delete
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/snapshots/9f5ab74d-b2b1-42ec-ab51-6981f9ebd40c/metadata/some_snapshot_metadata
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Openstack-Request-Id:
      - req-5191f3c5-bf97-4a0f-880e-9a48246273a9
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 03 May 2016 14:22:48 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/snapshots/9f5ab74d-b2b1-42ec-ab51-6981f9ebd40c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-7ec26090-7d91-4d9b-9425-f944815f73c1
      X-Openstack-Request-Id:
      - req-7ec26090-7d91-4d9b-9425-f944815f73c1
    body:
      encoding: UTF-8
      string: '{"itemNotFound": {"message": "Snapshot 9f5ab74d-b2b1-42ec-ab51-6981f9ebd40c
        could not be found.", "code": 404}}'
  recorded_at: Tue, 03 May 2016 14:22:57 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/f13a94bf-f4ac-4cb1-ac1d-920ba646d7b9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-4d4b759f-c662-4fff-9741-8b6fd0c22326
      X-Openstack-Request-Id:
      - req-4d4b759f-c662-4fff-9741-8b6fd0c22326
    body:
      encoding: UTF-8
      string: '{"itemNotFound": {"message": "Volume f13a94bf-f4ac-4cb1-ac1d-920ba646d7b9
        could not be found.", "code": 404}}'
  recorded_at: Tue, 03 May 2016 14:23:02 GMT
recorded_with: VCR 3.0.1
