---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/detail?name=fog-testvolume-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-aa846d05-dedd-4cc2-a4b0-9fe239c8cf1b
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-aa846d05-dedd-4cc2-a4b0-9fe239c8cf1b
    body:
      encoding: UTF-8
      string: '{"volumes": []}'
  recorded_at: Tue, 03 May 2016 14:21:32 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes
    body:
      encoding: UTF-8
      string: '{"volume":{"name":"fog-testvolume-1","description":null,"size":1}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 202
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-9179a375-321b-47aa-9022-7bd27c0e888a
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-9179a375-321b-47aa-9022-7bd27c0e888a
    body:
      encoding: UTF-8
      string: '{"volume": {"status": "creating", "migration_status": null, "user_id":
        "205e0e39a2534743b517ed0aa2fbcda7", "attachments": [], "links": [{"href":
        "http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/fdca4a18-01c4-4482-b85e-d74e8350b53c",
        "rel": "self"}, {"href": "http://devstack.openstack.stack:8776/2ab82e30d7984631874def67813dffd8/volumes/fdca4a18-01c4-4482-b85e-d74e8350b53c",
        "rel": "bookmark"}], "availability_zone": "nova", "bootable": "false", "encrypted":
        false, "created_at": "2016-05-03T14:21:32.751257", "description": null, "volume_type":
        "lvmdriver-1", "name": "fog-testvolume-1", "replication_status": "disabled",
        "consistencygroup_id": null, "source_volid": null, "snapshot_id": null, "multiattach":
        false, "metadata": {}, "id": "fdca4a18-01c4-4482-b85e-d74e8350b53c", "size":
        1}}'
  recorded_at: Tue, 03 May 2016 14:21:32 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/fdca4a18-01c4-4482-b85e-d74e8350b53c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-991b63dd-9131-443d-97[...]
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/fdca4a18-01c4-4482-b85e-d74e8350b53c/action
    body:
      encoding: UTF-8
      string: '{"os-extend":{"new_size":2}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Openstack-Request-Id:
      - req-9c58a0ad-fede-4e06-b916-ad1a1839fac5
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 03 May 2016 14:21:35 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/fdca4a18-01c4-4482-b85e-d74e8350b53c/action
    body:
      encoding: UTF-8
      string: '{"os-extend":{"new_size":1}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-da5df831-ee3a-4ce0-8d25-328f11e9b762
      X-Openstack-Request-Id:
      - req-da5df831-ee3a-4ce0-8d25-328f11e9b762
    body:
      encoding: UTF-8
      string: '{"badRequest": {"message": "Invalid input received: New size for extend
        must be greater than current size. (current: 2, extended: 1).", "code": 400}}'
  recorded_at: Tue, 03 May 2016 14:21:37 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/fdca4a18-01c4-4482-b85e-d74e8350b53c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-a7f2fa30-b004-4fd7-8057-d11c7495daeb
      X-Openstack-Request-Id:
      - req-a7f2fa30-b004-4fd7-8057-d11c7495daeb
    body:
      encoding: UTF-8
      string: '{"itemNotFound": {"message": "Volume fdca4a18-01c4-4482-b85e-d74e8350b53c
        could not be found.", "code": 404}}'
  recorded_at: Tue, 03 May 2016 14:21:46 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/fdca4a18-01c4-4482-b85e-d74e8350b53c/action
    body:
      encoding: UTF-8
      string: '{"os-extend":{"new_size":1}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-a7275c23-8afd-45a7-8e7d-5a592c53d02e
      X-Openstack-Request-Id:
      - req-a7275c23-8afd-45a7-8e7d-5a592c53d02e
    body:
      encoding: UTF-8
      string: '{"itemNotFound": {"message": "Volume fdca4a18-01c4-4482-b85e-d74e8350b53c
        could not be found.", "code": 404}}'
  recorded_at: Tue, 03 May 2016 14:21:47 GMT
recorded_with: VCR 3.0.1
