---
http_interactions:
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/detail?name=fog-testvolume-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-ad510add-1109-4353-83d7-b20e73c050da
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-ad510add-1109-4353-83d7-b20e73c050da
    body:
      encoding: UTF-8
      string: '{"volumes": []}'
  recorded_at: Tue, 03 May 2016 14:21:47 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes
    body:
      encoding: UTF-8
      string: '{"volume":{"name":"fog-testvolume-1","description":null,"size":1}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 202
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-7874ee3a-f4f1-48a7-9851-c849a109fc0d
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-7874ee3a-f4f1-48a7-9851-c849a109fc0d
    body:
      encoding: UTF-8
      string: '{"volume": {"status": "creating", "migration_status": null, "user_id":
        "205e0e39a2534743b517ed0aa2fbcda7", "attachments": [], "links": [{"href":
        "http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/ba63f1f8-39b6-4207-a605-4d4cfcd7ae75",
        "rel": "self"}, {"href": "http://devstack.openstack.stack:8776/2ab82e30d7984631874def67813dffd8/volumes/ba63f1f8-39b6-4207-a605-4d4cfcd7ae75",
        "rel": "bookmark"}], "availability_zone": "nova", "bootable": "false", "encrypted":
        false, "created_at": "2016-05-03T14:21:47.512411", "description": null, "volume_type":
        "lvmdriver-1", "name": "fog-testvolume-1", "replication_status": "disabled",
        "consistencygroup_id": null, "source_volid": null, "snapshot_id": null, "multiattach":
        false, "metadata": {}, "id": "ba63f1f8-39b6-4207-a605-4d4cfcd7ae75", "size":
        1}}'
  recorded_at: Tue, 03 May 2016 14:21:47 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/volumes/ba63f1f8-39b6-4207-a605-4d4cfcd7ae75
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-57c40bae-67fe-4a16-bf[...]
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/os-volume-transfer/detail?name=fog-testtransfer-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-d1b6cc91-4169-4b3f-9f14-11c12bf90c1c
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-d1b6cc91-4169-4b3f-9f14-11c12bf90c1c
    body:
      encoding: UTF-8
      string: '{"transfers": []}'
  recorded_at: Tue, 03 May 2016 14:21:49 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/os-volume-transfer
    body:
      encoding: UTF-8
      string: '{"transfer":{"volume_id":"ba63f1f8-39b6-4207-a605-4d4cfcd7ae75","name":"fog-testtransfer-1"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 202
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-fbe13348-2986-4750-900a-ca0b1320c693
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-fbe13348-2986-4750-900a-ca0b1320c693
    body:
      encoding: UTF-8
      string: '{"transfer": {"auth_key": "a8faf3cf9a1437b1", "links": [{"href": "http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/os-volume-transfer/25ce8e00-36e5-447d-9a5c-93b778e855fe",
        "rel": "self"}, {"href": "http://devstack.openstack.stack:8776/2ab82e30d7984631874def67813dffd8/os-volume-transfer/25ce8e00-36e5-447d-9a5c-93b778e855fe",
        "rel": "bookmark"}], "created_at": "2016-05-03T14:21:49.945270", "volume_id":
        "ba63f1f8-39b6-4207-a605-4d4cfcd7ae75", "id": "25ce8e00-36e5-447d-9a5c-93b778e855fe",
        "name": "fog-testtransfer-1"}}'
  recorded_at: Tue, 03 May 2016 14:21:50 GMT
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/os-volume-transfer/25ce8e00-36e5-447d-9a5c-93b778e855fe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - db432efab394459183de8a37e7b67939
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-6eb57875-4cb8-41bf-bdad-5acbdffe391d
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-6eb57875-4cb8-41bf-bdad-5acbdffe391d
    body:
      encoding: UTF-8
      string: '{"transfer": {"created_at": "2016-05-03T14:21:49.000000", "volume_id":
        "ba63f1f8-39b6-4207-a605-4d4cfcd7ae75", "id": "25ce8e00-36e5-447d-9a5c-93b778e855fe",
        "links": [{"href": "http://devstack.openstack.stack:8776/v2/2ab82e30d7984631874def67813dffd8/os-volume-transfer/25ce8e00-36e5-447d-9a5c-93b778e855fe",
        "rel": "self"}, {"href": "http://devstack.openstack.stack:8776/2ab82e30d7984631874def67813dffd8/os-volume-transfer/25ce8e00-36e5-447d-9a5c-93b778e855fe",
        "rel": "bookmark"}], "name": "fog-testtransfer-1"}}'
  recorded_at: Tue, 03 May 2016 14:21:50 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:5000/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["password"],"password":{"user":{"password":"password","domain":{"name":"Default"},"name":"demo"}}},"scope":{"project":{"name":"demo","domain":{"name":"Default"}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Subject-Token:
      - 7a8721ece0c24548b5342f549849febd
      X-Openstack-Request-Id:
      - req-1107801a-3ff2-4cb3-8af0-fcadb845f121
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token": {"methods": ["password"], "roles": [{"id": "d97660751404495ab8c405826d547c16",
        "name": "Member"}, {"id": "eb9f0f3b348042ffa65f9d33e5d72014", "name": "anotherrole"}],
        "expires_at": "2016-05-03T15:21:50.551883Z", "project": {"domain": {"id":
        "default", "name": "Default"}, "id": "a5db6ff5a6274dd589b6a05945d7f34d", "name":
        "demo"}, "catalog": [{"endpoints": [{"region_id": "RegionOne", "url": "http://devstack.openstack.stack:8776/v2/a5db6ff5a6274dd589b6a05945d7f34d",
        "region": "RegionOne", "interface": "public", "id": "0e40a16fd8ad4045ae738b749818818e"},
        {"region_id": "RegionOne", "url": "http://devstack.openstack.stack:8776/v2/a5db6ff5a6274dd589b6a05945d7f34d",
        "region": "RegionOne", "interface": "internal", "id": "1ebe166449b34147ac4df07e492571d9"},
        {"region_id": "RegionOne", "url": "http://devstack.openstack.stack:8776/v2/a5db6ff5a6274dd589b6a05945d7f34d",
        "region": "RegionOne", "interface": "admin", "id": "b2ae2902e8104f05b5fd2def27a4537a"}],
        "type": "volumev2", "id": "1766683b2f9f4ef2acf7f9e4e359fb9a", "name": "cinderv2"},
        {"endpoints": [], "type": "metering", "id": "18dbb2f0ddeb45b99d11ed0568f153ab",
        "name": "ceilometer"}, {"endpoints": [{"region_id": "RegionOne", "url": "http://mo-edbdf14f1.mo.sap.corp:8777/",
        "region": "RegionOne", "interface": "admin", "id": "6f44eb5bf4e646f9a7afebb1f32501f1"},
        {"region_id": "RegionOne", "url": "http://mo-edbdf14f1.mo.sap.corp:8777/",
        "region": "RegionOne", "inte[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/a5db6ff5a6274dd589b6a05945d7f34d/os-volume-transfer/25ce8e00-36e5-447d-9a5c-93b778e855fe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7a8721ece0c24548b5342f549849febd
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-b0eb0b59-db18-43a1-be98-e26f6934ad94
      X-Openstack-Request-Id:
      - req-b0eb0b59-db18-43a1-be98-e26f6934ad94
    body:
      encoding: UTF-8
      string: '{"itemNotFound": {"message": "Transfer 25ce8e00-36e5-447d-9a5c-93b778e855fe
        could not be found.", "code": 404}}'
  recorded_at: Tue, 03 May 2016 14:21:50 GMT
[...]
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/a5db6ff5a6274dd589b6a05945d7f34d/os-volume-transfer/ec8ff7e8-81e2-4e12-b9fb-3e8890612c2d/accept
    body:
      encoding: UTF-8
      string: '{"accept":{"auth_key":"a8faf3cf9a1437b1"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7a8721ece0c24548b5342f549849febd
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-752c9b02-7066-4d07-a5a7-cc932e730718
      X-Openstack-Request-Id:
      - req-752c9b02-7066-4d07-a5a7-cc932e730718
    body:
      encoding: UTF-8
      string: '{"itemNotFound": {"message": "TransferNotFound: Transfer ec8ff7e8-81e2-4e12-b9fb-3e8890612c2d
        could not be found.", "code": 404}}'
  recorded_at: Tue, 03 May 2016 14:21:51 GMT
- request:
    method: post
    uri: http://devstack.openstack.stack:8776/v2/a5db6ff5a6274dd589b6a05945d7f34d/os-volume-transfer/25ce8e00-36e5-447d-9a5c-93b778e855fe/accept
    body:
      encoding: UTF-8
      string: '{"accept":{"auth_key":"invalidauthkey"}}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7a8721ece0c24548b5342f549849febd
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-87cb99a0-4c59-4b74-a9f4-64446bd8c6cd
      X-Openstack-Request-Id:
      - req-87cb99a0-4c59-4b74-a9f4-64446bd8c6cd
    body:
      encoding: UTF-8
      string: '{"badRequest": {"message": "Invalid auth key: Attempt to transfer 25ce8e00-36e5-447d-9a5c-93b778e855fe
        with invalid auth key.", "code": 400}}'
  recorded_at: Tue, 03 May 2016 14:21:51 GMT
[...]
- request:
    method: get
    uri: http://devstack.openstack.stack:8776/v2/a5db6ff5a6274dd589b6a05945d7f34d/volumes/ba63f1f8-39b6-4207-a605-4d4cfcd7ae75
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7a8721ece0c24548b5342f549849febd
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-3102add7-63f3-446d-a06b-17c9676ddf21
      X-Openstack-Request-Id:
      - req-3102add7-63f3-446d-a06b-17c9676ddf21
    body:
      encoding: UTF-8
      string: '{"itemNotFound": {"message": "Volume ba63f1f8-39b6-4207-a605-4d4cfcd7ae75
        could not be found.", "code": 404}}'
  recorded_at: Tue, 03 May 2016 14:22:01 GMT
recorded_with: VCR 3.0.1
